{% extends "index.html" %}
{% block csses %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-editable-select.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/flatpickr.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/flatpickr.material_green.min.css"/>

    <!-- 搜索列表 -->
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/jquery.paginate.css">
    <link rel="stylesheet" href="/static/css/jquery.yhhDataTable.css">
    <!-- 搜索列表 -->

    <style type="text/css">
        /* 搜索框样式*/
        .articlesMain {
            border: 1px #1552bd2e solid;
        }

        div.oneElement input {
            padding-left: 5px;
        }

        .searchArticles {
            padding: 20px 20px 0px 20px;
            border: 1px #1552bd2e solid;
        }

        .searchRow {
            margin-bottom: 10px;
        }

        a.button {
            background-color: #1552bd;
            color: #fff;
            line-height: 30px;
            padding: 3px 5px;
            display: inline-block;
            width: 90px;
            text-align: center;
            margin: 0px 10px;
            height: 30px;
        }

        input[type="text"] {
            height: 20px;
        }

        input[type="text"] {
        }

        input.flatpickr.flatpickr-input.active {
            height: 20px;
        }

        input.flatpickr.flatpickr-input {
            height: 20px;
        }

        div.oneElement {
            width: 305px;
            float: left;
        }

    </style>
{% endblock %}

{% block pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="#" class="islink">学习中心</a>
        <span>></span>
        <a href="#" class="islink">技术文章</a>
    </div>
{% endblock %}

{% block right_content %}
    <div class="articlesMain">
        {% block forCollect01 %}
            <span class="infotitle">技术文章</span>
            <input type="hidden" name="pageType" value="0">
        {% endblock %}
        <div class="searchArticles">
            <div class="searchRow clearfix">
                <div class="oneElement">
                    <span>标　　题：</span>
                    <input type="text" name="stitle" id="stitle">
                </div>
                <div class="oneElement">
                    <span>作者名：</span>
                    <select id="editable-select" name="sname" id="sname">
                        {#                        <option>Alfa Romeo</option>#}
                    </select>
                </div>
                <div class="oneElement">
                    <span>来　源：</span>
                    <select id="editable-select2" name="ssourse" id="ssourse">
                        {#                        <option>Alfa Romeo</option>#}
                    </select>
                </div>
            </div>
            <div class="searchRow clearfix" style="margin-top: 20px">
                <div class="oneElement" style="width: 610px;">

                    <span>发布时间：</span>
                    <input class="flatpickr" data-enable-time=true data-enable-seconds=true name="stime" id="stime">
                    <span>至</span>
                    <input class="flatpickr" data-enable-time=true data-enable-seconds=true name="etime" id="etime">
                </div>
                <div class="oneElement">
                    <span>阅读数：</span>
                    <input type="text" style="width:50px" name="" oninput="value=value.replace(/[^\d]/g,'')">
                    <span>至</span>
                    <input type="text" style="width:50px" name="" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="searchRow" style="margin-top: 20px">
                <div class="searchBtn btns">
                    <a type="button" href="javascript:;" onclick="resetTable(this)" class="button">重置</a>
                    <a type="button" href="javascript:;" class="button" onclick="searchArticle()">搜索</a>
                </div>

            </div>
        </div>
        <!-- 搜索列表 -->
        <div class=" articlesList">
            <table id="testtable2">
                <thead>
                <tr>
                    <th>标题</th>
                    <th>作者</th>
                    <th>来源</th>
                    {% block forCollect02 %}
                        <th>发布时间</th>
                    {% endblock %}
                    <th>阅读数</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block jses %}
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script src="/static/js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery-editable-select.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/flatpickr.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- 搜索列表 -->
    <script type="text/javascript" src="/static/js/jquery.paginate.js"></script>
    <script type="text/javascript" src="/static/js/jquery.yhhDataTable.js"></script>
    <script type="text/javascript" src="/static/js/index_table.js"></script>
    <!-- 搜索列表 -->
    <script type="text/javascript">
        /* 可编辑下拉框 */

        /* 解決初始化表格闪烁问题 */
        $('#testtable2 > thead > tr').css('color', '#fff0');

        $(function () {
            // 时间插件初始化
            document.getElementsByClassName("flatpickr").flatpickr();
            // 下拉列表初始化
            searchDropdownListInit();


            $('#editable-select').editableSelect({
                bg_iframe: true,
                case_sensitive: false,
                items_then_scroll: 10,
                isFilter: false
            });
            $('#editable-select2').editableSelect({
                bg_iframe: true,
                case_sensitive: false,
                items_then_scroll: 10,
                isFilter: false
            });


        });


        // 下拉列表初始化
        var searchDropdownListInit = function () {
            url = "/articles/searchDropdownList/";
            param = {
                'findLists': 'author,source',
                'pageType': $('input[name="pageType"]').val()
            };
            $.get(url, param, function (res, success) {
                console.log(res);
                var authorlist = res.data.author;
                for (var i = 0; i < authorlist.length; i++) {
                    $('#editable-select').editableSelect('add', authorlist[i], i);
                }
                ;
                var authorlist = res.data.source;
                for (var i = 0; i < authorlist.length; i++) {
                    $('#editable-select2').editableSelect('add', authorlist[i], i);
                }
                ;
            });
        }

        // 格式化string
        String.prototype.format = function () {
            var args = arguments;
            return this.replace(/\{(\d+)\}/g, function (m, i) {
                return args[i];
            });
        };


        /* 重置表格条件 */
        var resetTable = function (obj) {
            $('#stitle').val("");
            $('#editable-select').val("");
            $('#editable-select2').val("");
            $('#stime').val(null);
            $('#etime').val(null);
            $('div.searchArticles > div:nth-child(2) > div:nth-child(2) > input[type="text"]:nth-child(2)').val("");
            $('div.searchArticles > div:nth-child(2) > div:nth-child(2) > input[type="text"]:nth-child(4)').val("");
        };

        /* 搜索文章列表 */
        var searchArticle = function () {
            url = "/articles/getArticleListsTable/";

            title = $('#stitle').val();
            author = $('#editable-select').val();
            source = $('#editable-select2').val();
            publishtime_st = $('#stime').val();
            publishtime_et = $('#etime').val();
            readnum_sn = $('div.searchArticles > div:nth-child(2) > div:nth-child(2) > input[type="text"]:nth-child(2)').val();
            readnum_en = $('div.searchArticles > div:nth-child(2) > div:nth-child(2) > input[type="text"]:nth-child(4)').val();
            pageType = $('input[name="pageType"]').val()
            var param = {};
            if (title) {
                param['title'] = title
            }
            ;
            if (author) {
                param['author'] = author
            }
            ;
            if (source) {
                param['source'] = source
            }
            ;
            if (publishtime_st) {
                param['publishtime_st'] = publishtime_st
            }
            ;
            if (publishtime_et) {
                param['publishtime_et'] = publishtime_et
            }
            ;
            if (readnum_sn) {
                param['readnum_sn'] = readnum_sn
            }
            ;
            if (readnum_en) {
                param['readnum_en'] = readnum_en
            }
            ;
            if (pageType) {
                param['pageType'] = $('input[name="pageType"]').val();
            }
            ;
            console.log('searchTableInit.param', param);
            searchTableInit(param);

        };
    </script>

{% endblock %}