{% extends "index.html" %}
{% block csses %}


    <style type="text/css">
        h1.titleArticle {
            font-weight: bold;
            font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif, SimHei, SimSun;
            font-size: 26px;
            width: 880px;
            float: left;
        }

        span.time {
            font-family: 'Microsoft YaHei', 'SF Pro Display', Roboto, Noto, Arial, 'PingFang SC', sans-serif;
        }

        svg.icon {
            display: none;
        }

        .blog-content {
            padding: 20px;
        }

        .articleHeaderBox {
            margin-bottom: 20px;
        }

        .articlesMain {
            border: 1px #1552bd2e solid;
        }

        .articleHeader {
            border-bottom: 1px #1552bd2e solid;
            padding-bottom: 10px;
        }

        i.fa.fa-heart-o {
            font-size: 38px;
            position: relative;
            left: -10px;
            top: -2px;
        }

        i.fa.fa-heart {
            font-size: 38px;
            position: relative;
            left: -10px;
            top: -2px;
            color: #00ab2d;
        }

        i.fa.fa-heart-o:hover {
            color: #00ab2d
        }

        i.fa.fa-heart:hover {
            color: #666
        }

    </style>
{% endblock %}

{% block pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="/articles/" class="islink">技术文章</a>
    </div>
{% endblock %}

{% block right_content %}
    <div class="articlesMain">
    <span class="infotitle">技术文章</span>
    <div class="blog-content">
    <!-- 文章头部 -->
    <div class="articleHeaderBox">
        <div class="articleHeader">
            <div class="articleTitleBox">
                <h1 class="titleArticle">{{ data.title }}</h1>
                <i class="fa fa-heart-o" onclick="collectAticle()" aria-hidden="true"></i>
            </div>
            <div class="articleInfoBox">
                <div class="articleBarTop">
                    <span class="time">{{ data.publishtime|date:"Y-m-d H:i:s" }}</span>
                    <span>{{ data.author }}</span>
                    <span class="readCount">阅读数：{{ data.readnum }}</span>
                </div>
                <div class="operating">
                </div>
            </div>
        </div>
    </div>
    <!-- 文章头部 -->
    <!-- 文章body -->
    <div class="articleBody">
        {{ data.contents }}
    </div>
{% endblock %}

{% block jses %}
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script src="/static/js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var collectAticle = function () {
            var a = $('div.articleTitleBox > i');
            setCollect();
            if (a.hasClass('fa-heart-o')) {
                a.removeClass('fa-heart-o');
                a.addClass('fa-heart');
            }
            else {
                a.removeClass('fa-heart');
                a.addClass('fa-heart-o');
            }
        };
        // 设置收藏 -- 有则取消，无则收藏，通过初试化页面反显当前收藏情况
        var setCollect = function () {
            var username = $.cookie('username');
            if (username == undefined) {
                var txt = "请先注册登录后，进行收藏。";
                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
            }
            else {
                url = "/articles/setCollect/";
                param = {
                    'username': username,
                    'articleid':{{ data.articleid }},
                };
                $.get(url, param, function (res) {
                    if (res.code == 4 || res.code == 3) {
                        var txt = res.msg;
                        window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.success);
                    }
                    else {
                        var txt = res.msg;
                        window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.info);
                    }
                })
            }
        };


        // 检测收藏、初始化
        var checkCollectInit = function () {
            var username = $.cookie('username');

            var a = $('div.articleTitleBox > i');

            if (username == undefined) {
                var txt = "请先注册登录后，进行收藏。";
                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
            }
            else {
                checkURL = '/articles/checkCollect/';
                param = {
                    'username': username,
                    'articleid':{{ data.articleid }},
                };
                $.get(checkURL, param, function (res) {
                    if (res.code == 2) {
                        // 已经收藏
                        a.removeClass('fa-heart-o');
                        a.addClass('fa-heart');
                    }
                    else if (res.code == 3) {
                        // 未收藏
                        a.removeClass('fa-heart');
                        a.addClass('fa-heart-o');
                    }
                    else {
                        // 其他错误
                        var txt = res.msg;
                        window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
                    }
                })
            }
        };
        $(function () {
            checkCollectInit();
        });
    </script>

{% endblock %}