{% extends "articlesHtml/articleLists.html" %}

{% block pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="/articles/" class="islink">学习中心</a>
        <span>></span>
        <a href="#" class="islink">个人收藏</a>
    </div>
{% endblock %}

{% block forCollect01 %}
    <span class="infotitle">个人收藏</span>
    <input type="hidden" name="pageType" value="1">
{% endblock %}

{% block forCollect02 %}
    <th>收藏时间</th>
{% endblock %}



<!--
取页面类型
$('input[name="pageType"]').val()

if($('input[name="pageType"]').val() == 0){
    // 非收藏
    alert(0)
}
else{
    // 收藏
    alert(1)
}

-->