.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}

.about {
    padding: 70px 0px 50px;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}
.title h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.desc {
    border-bottom: 1px solid rgba(204,204,204,0.5);
}
.desc p {
    font-family: "Roboto Slab",serif;
    font-weight: 300;
    font-size: 20px;
    padding: 30px 0px 50px !important;
    margin: 0 auto;
    color: #242424;
}

.featurebox {
    padding: 30px 0px 0px;
}

.feature {
    padding-bottom: 20px;
}

.oneItem{
    width: 50%;
    float: left;
}

.feature h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #356bc9;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {*/
    /*font-family: inherit;*/
    /*font-weight: 500;*/
    /*line-height: 1.1;*/
    /*color: inherit;*/
/*}*/

.feature p {
    font-family: "Roboto Slab",serif;
    font-weight: 300;
    font-size: 15px;
    width: 90%;
    color: #888;
}