/*主页*/
body {
    font-family: "KaiTi";
    color: #666;
}

.head_context {
    height: 25px;
    width: 100%;
    background-color: #f7f7f7;
    border-bottom: 1px solid #dddddd;
    font-size: 12px;
    line-height: 25px;
}

.total_content, .head_context .headinfo, .logo_search, .cross_menu, .total_content, .pathnav {
    width: 1200px;
    margin: 0 auto;
}

.head_context .logined_info em {
    color: #ff8800;
}

.login_btn a {
    color: #0501ff;
}

.user_link a {
    color: #666;
}

.user_link a:hover {
    color: #ff8800;
}

.headinfo span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.head_context span {
    color: #cecece;
    margin: 0 10px;
}

.logo_search {
    height: 80px;
    margin: 10px auto;
}

.logo_info_01 {
    width: 30%;
    height: 80px;
    line-height: 40px;
    float: left;
}

.type {
    padding-left: 20px;
    font-family: "KaiTi";
}

.type.type01 {
    font-size: 30px;
    color: black;
    line-height: 70px;
    font-weight: bold;
}

.type.type02 {
    line-height: 30px;
    margin-top: -18px;
    text-indent: 66px;
    color: #00ab2d;
}

.search_con {
    width: 616px;
    height: 38px;
    border: 1px solid #356bc9;
    margin: 34px 0 0 124px;
    background: url(../images/icons2.png) 7px 9px no-repeat;
}

.search_con .input_text {
    width: 470px;
    height: 34px;
    border: 0px;
    margin: 2px 0 0 36px;
    outline: none;
    font-size: 12px;
    color: #356bc9;
    font-family: 'Microsoft Yahei'
}

.search_con .input_btn {
    width: 100px;
    height: 39px;
    background-color: #356bc9;
    border: 0px;
    font-size: 14px;
    color: #fff;
    font-family: 'Microsoft Yahei';
    outline: none;
    cursor: pointer;
}

/*隔离线*/
.shielded_line {
    width: 100%;
    border-bottom: 2px solid #356bc9;
    /*height: 2px;*/
    background-color: #356bc9;
    /*margin: 5px auto;*/
}

.islink:hover {
    color: #ff8800;
}

.cross_menu li {
    margin: 5px 0px 5px 10px;
}

.cross_menu li a {
    font-size: 20px;
    color: #eeeeee;
}

.cross_menu li span {
    font-size: 20px;
    margin-left: 10px;
    color: #cecece;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul.cross_menu.clearfix {
    background-color: #356bc9;
    /*border-radius: 5px 5px 5px 5px;*/
}

.pathnav {
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    font-size: 13px;
}

.pathnav span {
    user-select: none;
}

/*左菜单*/

/* navMenu */
.navMenubox {
    width: 220px;
    background: #356bc9;
}

.navMenu-top {
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .1)
}

.navMenu > li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
}

.navMenu > li > a {
    display: block;
    overflow: hidden;
    padding-left: 0px;
    line-height: 40px;
    color: #eeeeee;
    transition: all .3s;
    position: relative;
    text-decoration: none;
    font-size: 17px;
    border-top: 1px solid #222932;
    border-bottom: 2px solid #191e24;
}

.navMenu > li:nth-of-type(1) > a {
    border-top: 1px solid transparent;
}

.navMenu > li:last-child > a {
    border-bottom: 1px solid transparent;
}

.navMenu > li > a > i {
    font-size: 20px;
    float: left;
    font-style: normal;
    margin: 0 5px;
}

.navMenu li a .arrow:before {
    display: block;
    float: right;
    margin-top: 1px;
    margin-right: 15px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f105";
    font-weight: 300;
    text-shadow: none;
}

.navMenu li a .arrow.open:before {
    float: right;
    margin-top: 1px;
    margin-right: 15px;
    display: inline;
    font-family: FontAwesome;
    height: auto;
    font-size: 16px;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
}

.navMenu > li > a.active, .navMenu > li > a:hover {
    color: #FFF;
    background: #12181b;
}

.navMenu > li > ul.sub-menu, .navMenu > li > ul.sub-menu > li > ul.sub-menu {
    display: none;
    list-style: none;
    clear: both;
    margin: 8px 0px 0px 10px;
    padding-bottom: 5px;
}

.navMenu > li.active > ul.sub-menu, .navMenu > li > ul.sub-menu > li.active > ul.sub-menu {
}

.navMenu > li > ul.sub-menu li {
    background: none;
    margin: 0px;
    padding: 0px;
}

.navMenu > li > ul.sub-menu li > a {
    display: block;
    font-size: 16px;
    line-height: 36px;
    padding-left: 20px;
    color: #ABB1B7;
    clear: both;
}

.navMenu > li > ul.sub-menu li > a.active, .navMenu > li > ul.sub-menu li > a:hover, .navMenu > li > ul.sub-menu > li.active > a {
    color: #FFF;
    background: #12181b;
}

/*.menuicon:before { content: "\f0ac"; }*/
/*.menuicon:before { content: "\f0ac"; }*/
/*.menuicon:before { content: "\f0ac"; }*/
.navMenu embed {
    position: relative;
    top: 5px;
    left: 5px;
}

li a span.nav-text {
    margin-left: 0px;
}

/*---------------------*/
/*右侧内容*/
.right_content.fl {
    margin-left: 20px;
    width: 960px;
}

.footer {
    width: 100%;
    height: 100px;
    margin: 20px auto 0;
    border-top: 2px solid #356bc9;
}

.footer p {
    text-align: center;
    margin-top: 10px;
}

.footer_context {
    margin-top: 20px;
    font-size: 13px;
}

/*用户信息修改*/
span.infotitle {
    font-size: 20px;
    /*margin-top: 13px;*/
    display: block;
}

input.input_item {
    height: 20px;
    padding: 1px 5px;
}

.userInfoForms {
    margin: 40px 0px;
}

p.item_text {
    display: inline-block;
}

label.item_title {
    width: 480px;
    display: inline-block;
    /* float: right; */
    text-align: right;
}

input.input_item {
    display: inline-block;
}

.preInput {
    display: inline-block;
}

.just_show {
    margin: 15px 0px;
}

.form_item {
    margin: 15px 0px;
}

form.uinfoForm {
    margin: 40px 0px;
}

.userInfo, .indexMain {
    border: 1px #356bc92e solid;
}

.btns {
    width: 100%;
    height: 45px;
    text-align: center;
}

.btns ul {
    display: inline;
    margin-left: -10px;
}

.btns ul li {
    display: inline-block;
    margin-left: 0px;
    line-height: 30px;
    margin: 0px 15px;
    width: 80px;
}

.btns ul li a {
    background-color: #356bc9;
    color: #fff;
    line-height: 30px;
    padding: 3px 5px;
    display: inline-block;
    width: 100%;
    margin: 0px 10px;
    height: 30px;
}

span.infotitle {
    height: 40px;
    background-color: #356bc9;
    line-height: 40px;
    text-indent: 20px;
    color: white;
}

.right_inner_cont {
    padding: 15px;
}

/*//用户信息修改*/