.markdown_views,.markdown_views blockquote {
    word-break: break-word!important
}

.markdown_views pre>code.hljs {
    background-color: #f6f8fa
}

.markdown_views .hljs {
    display: block;
    padding: 8px
}

.markdown_views .hljs-comment,.markdown_views .hljs-comment *,.markdown_views .hljs-javadoc,.markdown_views .hljs-template_comment {
    color: #800!important
}

.markdown_views .clojure .hljs-built_in,.markdown_views .hljs-keyword,.markdown_views .hljs-list .hljs-title,.markdown_views .hljs-request,.markdown_views .hljs-status,.markdown_views .hljs-tag .hljs-title,.markdown_views .hljs-winutils,.markdown_views .http .hljs-title,.markdown_views .method,.markdown_views .nginx .hljs-title,.markdown_views .setting .hljs-value,.markdown_views .tex .hljs-command {
    color: #008!important
}

.markdown_views .hljs-envvar {
    color: #660!important
}

.markdown_views .hljs-attr_selector,.markdown_views .hljs-cdata,.markdown_views .hljs-date,.markdown_views .hljs-filter .hljs-argument,.markdown_views .hljs-regexp {
    color: #080!important
}

.markdown_views .clojure .hljs-attribute,.markdown_views .css .hljs-function,.markdown_views .css .hljs-value .hljs-number,.markdown_views .hljs-decorator,.markdown_views .hljs-hexcolor,.markdown_views .hljs-literal,.markdown_views .hljs-number,.markdown_views .hljs-pi,.markdown_views .hljs-prompt,.markdown_views .hljs-shebang,.markdown_views .hljs-sub .hljs-identifier,.markdown_views .hljs-symbol,.markdown_views .hljs-tag,.markdown_views .hljs-tag .hljs-keyword,.markdown_views .ini .hljs-title {
    color: #066!important
}

.markdown_views .clojure .hljs-title,.markdown_views .haskell .hljs-type,.markdown_views .hljs-built_in,.markdown_views .hljs-class .hljs-id,.markdown_views .hljs-class .hljs-title,.markdown_views .hljs-doctype,.markdown_views .hljs-javadoctag,.markdown_views .hljs-params,.markdown_views .hljs-phpdoc,.markdown_views .hljs-tag .hljs-attribute,.markdown_views .hljs-typename,.markdown_views .hljs-variable,.markdown_views .hljs-yardoctag,.markdown_views .setting {
    color: #4f4f4f!important
}

.markdown_views .css .hljs-tag,.markdown_views .hljs-pseudo,.markdown_views .hljs-rules .hljs-property {
    color: #000!important
}

.markdown_views .css .hljs-class,.markdown_views .css .hljs-id {
    color: #9b703f!important
}

.markdown_views .hljs-value .hljs-important {
    color: #f70!important;
    font-weight: 700
}

.markdown_views .hljs-rules .hljs-keyword {
    color: #c5af75!important
}

.markdown_views .apache .hljs-sqbracket,.markdown_views .hljs-annotation,.markdown_views .nginx .hljs-built_in {
    color: #9b859d!important
}

.markdown_views .tex .hljs-formula {
    background-color: #eee!important;
    font-style: italic
}

.markdown_views .diff .hljs-header,.markdown_views .hljs-chunk {
    color: grey!important;
    font-weight: 700
}

.markdown_views .diff .hljs-change {
    background-color: #bccff9!important
}

.markdown_views .hljs-addition {
    background-color: #baeeba!important
}

.markdown_views .hljs-deletion {
    background-color: #ffc8bd!important
}

.markdown_views .hljs-comment .hljs-yardoctag {
    font-weight: 700
}

.markdown_views .apache .hljs-cbracket,.markdown_views .apache .hljs-tag,.markdown_views .asciidoc .hljs-header,.markdown_views .bash .hljs-variable,.markdown_views .coffeescript .hljs-attribute,.markdown_views .django .hljs-variable,.markdown_views .erlang_repl .hljs-function_or_atom,.markdown_views .haml .hljs-symbol,.markdown_views .hljs-addition,.markdown_views .hljs-aggregate,.markdown_views .hljs-constant,.markdown_views .hljs-flow,.markdown_views .hljs-parent,.markdown_views .hljs-pragma,.markdown_views .hljs-preprocessor,.markdown_views .hljs-preprocessor *,.markdown_views .hljs-rules .hljs-value,.markdown_views .hljs-rules .hljs-value .hljs-number,.markdown_views .hljs-stream,.markdown_views .hljs-string,.markdown_views .hljs-tag .hljs-value,.markdown_views .hljs-template_tag,.markdown_views .hljs-title,.markdown_views .markdown .hljs-header,.markdown_views .ruby .hljs-symbol,.markdown_views .ruby .hljs-symbol .hljs-string,.markdown_views .smalltalk .hljs-class,.markdown_views .tex .hljs-command,.markdown_views .tex .hljs-special {
    color: #090!important
}

.markdown_views .clojure .hljs-built_in,.markdown_views .hljs,.markdown_views .hljs-subst,.markdown_views .hljs-tag .hljs-title,.markdown_views .lisp .hljs-title,.markdown_views .nginx .hljs-title {
    color: #4f4f4f!important
}

.markdown_views .apache .hljs-cbracket,.markdown_views .apache .hljs-tag,.markdown_views .asciidoc .hljs-header,.markdown_views .bash .hljs-variable,.markdown_views .coffeescript .hljs-attribute,.markdown_views .django .hljs-variable,.markdown_views .erlang_repl .hljs-function_or_atom,.markdown_views .haml .hljs-symbol,.markdown_views .hljs-addition,.markdown_views .hljs-aggregate,.markdown_views .hljs-constant,.markdown_views .hljs-flow,.markdown_views .hljs-parent,.markdown_views .hljs-pragma,.markdown_views .hljs-preprocessor,.markdown_views .hljs-rules .hljs-value,.markdown_views .hljs-rules .hljs-value .hljs-number,.markdown_views .hljs-stream,.markdown_views .hljs-string,.markdown_views .hljs-tag .hljs-value,.markdown_views .hljs-template_tag,.markdown_views .hljs-title,.markdown_views .markdown .hljs-header,.markdown_views .ruby .hljs-symbol,.markdown_views .ruby .hljs-symbol .hljs-string,.markdown_views .smalltalk .hljs-class,.markdown_views .tex .hljs-command,.markdown_views .tex .hljs-special {
    color: #090!important
}

.markdown_views .flow-chart [fill="#000"],.markdown_views .flow-chart [fill="#000000"],.markdown_views .flow-chart [fill=black],.markdown_views .sequence-diagram [fill="#000"],.markdown_views .sequence-diagram [fill="#000000"],.markdown_views .sequence-diagram [fill=black] {
    fill: #4f4f4f
}

.markdown_views pre code {
    display: block;
    font-size: 14px;
    line-height: 22px;
    overflow-x: auto;
    padding: 0!important;
    color: #000;
    white-space: pre;
    word-wrap: normal;
    background-color: #f6f8fa;
    border-radius: 4px
}

.markdown_views .prettyprint,.markdown_views pre.prettyprint {
    margin: 0 0 24px;
    padding: 8px 16px 6px 56px;
    background-color: #f6f8fa;
    border: none
}

.prettyprint {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto
}

.markdown_views .prettyprint .pre-numbering {
    position: absolute;
    width: 48px;
    background-color: #eef0f4;
    top: 0;
    left: 0;
    margin: 0;
    padding: 8px 0;
    list-style: none;
    text-align: right
}

.markdown_views .pre-numbering li {
    padding: 0 8px;
    list-style: none;
    margin: 0
}

.markdown_views.prism-atom-one-dark pre code {
    background-color: #282c34;
    color: #abb2bf
}

.markdown_views.prism-atom-one-dark pre code.hljs * {
    color: #abb2bf
}

.markdown_views.prism-atom-one-dark .prettyprint,.markdown_views.prism-atom-one-dark .prettyprint .pre-numbering,.markdown_views.prism-atom-one-dark pre.prettyprint {
    background-color: #282c34
}

.markdown_views.prism-atom-one-dark .pre-numbering li {
    color: #abb2bf!important;
    border-right: 1px solid #c5c5c5
}

.markdown_views.prism-atom-one-light .prettyprint,.markdown_views.prism-atom-one-light .prettyprint .pre-numbering,.markdown_views.prism-atom-one-light pre code,.markdown_views.prism-atom-one-light pre.prettyprint {
    background-color: #fafafa
}

.markdown_views.prism-atom-one-light .pre-numbering li {
    color: #383a42!important;
    border-right: 1px solid #c5c5c5
}

.markdown_views.prism-tomorrow-night pre code {
    background-color: #1d1f21;
    color: #c5c8c6
}

.markdown_views.prism-tomorrow-night pre code.hljs * {
    color: #c5c8c6
}

.markdown_views.prism-tomorrow-night .prettyprint,.markdown_views.prism-tomorrow-night .prettyprint .pre-numbering,.markdown_views.prism-tomorrow-night pre.prettyprint {
    background-color: #1d1f21
}

.markdown_views.prism-tomorrow-night .pre-numbering li {
    color: #c5c8c6!important;
    border-right: 1px solid #c5c5c5
}

.markdown_views.prism-dracula pre code {
    background-color: #282a36;
    color: #f8f8f2
}

.markdown_views.prism-dracula pre code.hljs * {
    color: #f8f8f2
}

.markdown_views.prism-dracula .prettyprint,.markdown_views.prism-dracula .prettyprint .pre-numbering,.markdown_views.prism-dracula pre.prettyprint {
    background-color: #282a36
}

.markdown_views.prism-dracula .pre-numbering li {
    color: #f8f8f2!important;
    border-right: 1px solid #c5c5c5
}

.markdown_views.prism-github-gist .prettyprint,.markdown_views.prism-github-gist .prettyprint .pre-numbering,.markdown_views.prism-github-gist pre code,.markdown_views.prism-github-gist pre.prettyprint {
    background-color: #f3f4f5
}

.markdown_views.prism-github-gist .pre-numbering li {
    color: #5e6687!important;
    border-right: 1px solid #c5c5c5
}

.markdown_views.prism-kimbie-light .prettyprint,.markdown_views.prism-kimbie-light .prettyprint .pre-numbering,.markdown_views.prism-kimbie-light pre code,.markdown_views.prism-kimbie-light pre.prettyprint {
    background-color: #fbebd4
}

.markdown_views.prism-kimbie-light .pre-numbering li {
    color: #84613d!important;
    border-right: 1px solid #c5c5c5
}

.markdown_views.prism-tomorrow-night-eighties pre code {
    background-color: #2d2d2d;
    color: #ccc
}

.markdown_views.prism-tomorrow-night-eighties pre code.hljs * {
    color: #ccc
}

.markdown_views.prism-tomorrow-night-eighties .prettyprint,.markdown_views.prism-tomorrow-night-eighties .prettyprint .pre-numbering,.markdown_views.prism-tomorrow-night-eighties pre.prettyprint {
    background-color: #2d2d2d
}

.markdown_views.prism-tomorrow-night-eighties .pre-numbering li {
    color: #ccc!important;
    border-right: 1px solid #c5c5c5
}

.markdown_views.prism-atelier-sulphurpool-light .prettyprint,.markdown_views.prism-atelier-sulphurpool-light .prettyprint .pre-numbering,.markdown_views.prism-atelier-sulphurpool-light pre code,.markdown_views.prism-atelier-sulphurpool-light pre.prettyprint {
    background-color: #f5f7ff
}

.markdown_views.prism-atelier-sulphurpool-light .pre-numbering li {
    color: #5e6687!important;
    border-right: 1px solid #c5c5c5
}

@font-face {
    font-family: KaTeX_AMS;
    src: url(fonts/KaTeX_AMS-Regular.cd28a1d.woff2) format("woff2"),url(fonts/KaTeX_AMS-Regular.b2d9296.woff) format("woff"),url(fonts/KaTeX_AMS-Regular.dffd527.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KaTeX_Caligraphic;
    src: url(fonts/KaTeX_Caligraphic-Bold.42a984d.woff2) format("woff2"),url(fonts/KaTeX_Caligraphic-Bold.fe8c221.woff) format("woff"),url(fonts/KaTeX_Caligraphic-Bold.c7e386d.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: KaTeX_Caligraphic;
    src: url(fonts/KaTeX_Caligraphic-Regular.7f4bec7.woff2) format("woff2"),url(fonts/KaTeX_Caligraphic-Regular.93a79e0.woff) format("woff"),url(fonts/KaTeX_Caligraphic-Regular.d04d484.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KaTeX_Fraktur;
    src: url(fonts/KaTeX_Fraktur-Bold.b1a8794.woff2) format("woff2"),url(fonts/KaTeX_Fraktur-Bold.8c43064.woff) format("woff"),url(fonts/KaTeX_Fraktur-Bold.9b14862.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: KaTeX_Fraktur;
    src: url(fonts/KaTeX_Fraktur-Regular.e21a6db.woff2) format("woff2"),url(fonts/KaTeX_Fraktur-Regular.801690b.woff) format("woff"),url(fonts/KaTeX_Fraktur-Regular.576266a.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KaTeX_Main;
    src: url(fonts/KaTeX_Main-Bold.2057e5c.woff2) format("woff2"),url(fonts/KaTeX_Main-Bold.0dee095.woff) format("woff"),url(fonts/KaTeX_Main-Bold.e493181.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: KaTeX_Main;
    src: url(fonts/KaTeX_Main-BoldItalic.2484936.woff2) format("woff2"),url(fonts/KaTeX_Main-BoldItalic.a4ed2b0.woff) format("woff"),url(fonts/KaTeX_Main-BoldItalic.a879e3a.ttf) format("truetype");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: KaTeX_Main;
    src: url(fonts/KaTeX_Main-Italic.c9d5a32.woff2) format("woff2"),url(fonts/KaTeX_Main-Italic.6d2cd8f.woff) format("woff"),url(fonts/KaTeX_Main-Italic.162d575.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: KaTeX_Main;
    src: url(fonts/KaTeX_Main-Regular.a547140.woff2) format("woff2"),url(fonts/KaTeX_Main-Regular.54e5ba9.woff) format("woff"),url(fonts/KaTeX_Main-Regular.424335d.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KaTeX_Math;
    src: url(fonts/KaTeX_Math-BoldItalic.96b2297.woff2) format("woff2"),url(fonts/KaTeX_Math-BoldItalic.6091397.woff) format("woff"),url(fonts/KaTeX_Math-BoldItalic.d081a42.ttf) format("truetype");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: KaTeX_Math;
    src: url(fonts/KaTeX_Math-Italic.4b3b168.woff2) format("woff2"),url(fonts/KaTeX_Math-Italic.dc91856.woff) format("woff"),url(fonts/KaTeX_Math-Italic.5d2baf7.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: KaTeX_SansSerif;
    src: url(fonts/KaTeX_SansSerif-Bold.91efef2.woff2) format("woff2"),url(fonts/KaTeX_SansSerif-Bold.e08eb43.woff) format("woff"),url(fonts/KaTeX_SansSerif-Bold.4c2a414.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: KaTeX_SansSerif;
    src: url(fonts/KaTeX_SansSerif-Italic.ff63137.woff2) format("woff2"),url(fonts/KaTeX_SansSerif-Italic.ada012c.woff) format("woff"),url(fonts/KaTeX_SansSerif-Italic.66bab6b.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: KaTeX_SansSerif;
    src: url(fonts/KaTeX_SansSerif-Regular.fd6852d.woff2) format("woff2"),url(fonts/KaTeX_SansSerif-Regular.c789d74.woff) format("woff"),url(fonts/KaTeX_SansSerif-Regular.066914d.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KaTeX_Script;
    src: url(fonts/KaTeX_Script-Regular.ec3e4a5.woff2) format("woff2"),url(fonts/KaTeX_Script-Regular.ae1b970.woff) format("woff"),url(fonts/KaTeX_Script-Regular.85007a5.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KaTeX_Size1;
    src: url(fonts/KaTeX_Size1-Regular.2870a8f.woff2) format("woff2"),url(fonts/KaTeX_Size1-Regular.df2ac4d.woff) format("woff"),url(fonts/KaTeX_Size1-Regular.923e515.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KaTeX_Size2;
    src: url(fonts/KaTeX_Size2-Regular.6dbdad7.woff2) format("woff2"),url(fonts/KaTeX_Size2-Regular.aec9a67.woff) format("woff"),url(fonts/KaTeX_Size2-Regular.e371798.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KaTeX_Size3;
    src: url(fonts/KaTeX_Size3-Regular.dc7be16.woff2) format("woff2"),url(fonts/KaTeX_Size3-Regular.f1a090a.woff) format("woff"),url(fonts/KaTeX_Size3-Regular.ae9ca32.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KaTeX_Size4;
    src: url(fonts/KaTeX_Size4-Regular.ecd52e1.woff2) format("woff2"),url(fonts/KaTeX_Size4-Regular.1571003.woff) format("woff"),url(fonts/KaTeX_Size4-Regular.b790cf1.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KaTeX_Typewriter;
    src: url(fonts/KaTeX_Typewriter-Regular.efae405.woff2) format("woff2"),url(fonts/KaTeX_Typewriter-Regular.6a862f8.woff) format("woff"),url(fonts/KaTeX_Typewriter-Regular.dbf31d0.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.katex {
    font: 400 1.21em KaTeX_Main,Times New Roman,serif;
    line-height: 1.2;
    text-indent: 0;
    text-rendering: auto
}

.katex .mathit,.katex .textit {
    font-style: italic
}

.katex * {
    -ms-high-contrast-adjust: none!important
}

.katex .katex-mathml {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.katex .katex-html>.newline {
    display: block
}

.katex .base {
    position: relative;
    white-space: nowrap;
    width: min-content
}

.katex .base,.katex .strut {
    display: inline-block
}

.katex .textbf {
    font-weight: 700
}

.katex .textrm {
    font-family: KaTeX_Main
}

.katex .textsf {
    font-family: KaTeX_SansSerif
}

.katex .texttt {
    font-family: KaTeX_Typewriter
}

.katex .mathit {
    font-family: KaTeX_Math
}

.katex .mathrm {
    font-style: normal
}

.katex .mathbf {
    font-family: KaTeX_Main;
    font-weight: 700
}

.katex .boldsymbol {
    font-family: KaTeX_Math;
    font-weight: 700;
    font-style: italic
}

.katex .amsrm,.katex .mathbb,.katex .textbb {
    font-family: KaTeX_AMS
}

.katex .mathcal {
    font-family: KaTeX_Caligraphic
}

.katex .mathfrak,.katex .textfrak {
    font-family: KaTeX_Fraktur
}

.katex .mathtt {
    font-family: KaTeX_Typewriter
}

.katex .mathscr,.katex .textscr {
    font-family: KaTeX_Script
}

.katex .mathsf,.katex .textsf {
    font-family: KaTeX_SansSerif
}

.katex .mathboldsf,.katex .textboldsf {
    font-family: KaTeX_SansSerif;
    font-weight: 700
}

.katex .mathitsf,.katex .textitsf {
    font-family: KaTeX_SansSerif;
    font-style: italic
}

.katex .mainit {
    font-family: KaTeX_Main;
    font-style: italic
}

.katex .mainrm {
    font-family: KaTeX_Main;
    font-style: normal
}

.katex .vlist-t {
    display: inline-table;
    table-layout: fixed
}

.katex .vlist-r {
    display: table-row
}

.katex .vlist {
    display: table-cell;
    vertical-align: bottom;
    position: relative
}

.katex .vlist>span {
    display: block;
    height: 0;
    position: relative
}

.katex .vlist>span>span {
    display: inline-block
}

.katex .vlist>span>.pstrut {
    overflow: hidden;
    width: 0
}

.katex .vlist-t2 {
    margin-right: -2px
}

.katex .vlist-s {
    display: table-cell;
    vertical-align: bottom;
    font-size: 1px;
    width: 2px;
    min-width: 2px
}

.katex .clap>.fix,.katex .fontsize-ensurer,.katex .hdashline,.katex .llap>.fix,.katex .mfrac .frac-line,.katex .mspace,.katex .nulldelimiter,.katex .rlap>.fix,.katex .rule,.katex .sizing {
    display: inline-block
}

progress,sub,sup {
    vertical-align: baseline
}

.katex .msupsub {
    text-align: left
}

.katex .accent>.vlist-t,.katex .mfrac>span>span,.katex .mtable .col-align-c>.vlist-t,.katex .op-limits>.vlist-t {
    text-align: center
}

.katex .mfrac .frac-line {
    width: 100%;
    border-bottom-style: solid
}

.katex .hdashline,.katex .hline,.katex .mfrac .frac-line,.katex .overline .overline-line,.katex .rule,.katex .underline .underline-line {
    min-height: 1px
}

.katex .clap,.katex .llap,.katex .rlap {
    width: 0;
    position: relative
}

.katex .clap>.inner,.katex .llap>.inner,.katex .rlap>.inner {
    position: absolute
}

.katex .accent .accent-body,.katex .delimcenter,.katex .op-symbol,.katex .rule {
    position: relative
}

.katex .llap>.inner {
    right: 0
}

.katex .clap>.inner,.katex .rlap>.inner {
    left: 0
}

.katex .clap>.inner>span {
    margin-left: -50%;
    margin-right: 50%
}

.katex .rule {
    border: 0 solid
}

.katex .hline,.katex .overline .overline-line,.katex .underline .underline-line {
    display: inline-block;
    width: 100%;
    border-bottom-style: solid
}

.katex .hdashline {
    width: 100%;
    border-bottom-style: dashed
}

.katex .sqrt>.root {
    margin-left: .27777778em;
    margin-right: -.55555556em
}

.katex .fontsize-ensurer.reset-size1.size1,.katex .sizing.reset-size1.size1 {
    font-size: 1em
}

.katex .fontsize-ensurer.reset-size1.size2,.katex .sizing.reset-size1.size2 {
    font-size: 1.2em
}

.katex .fontsize-ensurer.reset-size1.size3,.katex .sizing.reset-size1.size3 {
    font-size: 1.4em
}

.katex .fontsize-ensurer.reset-size1.size4,.katex .sizing.reset-size1.size4 {
    font-size: 1.6em
}

.katex .fontsize-ensurer.reset-size1.size5,.katex .sizing.reset-size1.size5 {
    font-size: 1.8em
}

.katex .fontsize-ensurer.reset-size1.size6,.katex .sizing.reset-size1.size6 {
    font-size: 2em
}

.katex .fontsize-ensurer.reset-size1.size7,.katex .sizing.reset-size1.size7 {
    font-size: 2.4em
}

.katex .fontsize-ensurer.reset-size1.size8,.katex .sizing.reset-size1.size8 {
    font-size: 2.88em
}

.katex .fontsize-ensurer.reset-size1.size9,.katex .sizing.reset-size1.size9 {
    font-size: 3.456em
}

.katex .fontsize-ensurer.reset-size1.size10,.katex .sizing.reset-size1.size10 {
    font-size: 4.148em
}

.katex .fontsize-ensurer.reset-size1.size11,.katex .sizing.reset-size1.size11 {
    font-size: 4.976em
}

.katex .fontsize-ensurer.reset-size2.size1,.katex .sizing.reset-size2.size1 {
    font-size: .83333333em
}

.katex .fontsize-ensurer.reset-size2.size2,.katex .sizing.reset-size2.size2 {
    font-size: 1em
}

.katex .fontsize-ensurer.reset-size2.size3,.katex .sizing.reset-size2.size3 {
    font-size: 1.16666667em
}

.katex .fontsize-ensurer.reset-size2.size4,.katex .sizing.reset-size2.size4 {
    font-size: 1.33333333em
}

.katex .fontsize-ensurer.reset-size2.size5,.katex .sizing.reset-size2.size5 {
    font-size: 1.5em
}

.katex .fontsize-ensurer.reset-size2.size6,.katex .sizing.reset-size2.size6 {
    font-size: 1.66666667em
}

.katex .fontsize-ensurer.reset-size2.size7,.katex .sizing.reset-size2.size7 {
    font-size: 2em
}

.katex .fontsize-ensurer.reset-size2.size8,.katex .sizing.reset-size2.size8 {
    font-size: 2.4em
}

.katex .fontsize-ensurer.reset-size2.size9,.katex .sizing.reset-size2.size9 {
    font-size: 2.88em
}

.katex .fontsize-ensurer.reset-size2.size10,.katex .sizing.reset-size2.size10 {
    font-size: 3.45666667em
}

.katex .fontsize-ensurer.reset-size2.size11,.katex .sizing.reset-size2.size11 {
    font-size: 4.14666667em
}

.katex .fontsize-ensurer.reset-size3.size1,.katex .sizing.reset-size3.size1 {
    font-size: .71428571em
}

.katex .fontsize-ensurer.reset-size3.size2,.katex .sizing.reset-size3.size2 {
    font-size: .85714286em
}

.katex .fontsize-ensurer.reset-size3.size3,.katex .sizing.reset-size3.size3 {
    font-size: 1em
}

.katex .fontsize-ensurer.reset-size3.size4,.katex .sizing.reset-size3.size4 {
    font-size: 1.14285714em
}

.katex .fontsize-ensurer.reset-size3.size5,.katex .sizing.reset-size3.size5 {
    font-size: 1.28571429em
}

.katex .fontsize-ensurer.reset-size3.size6,.katex .sizing.reset-size3.size6 {
    font-size: 1.42857143em
}

.katex .fontsize-ensurer.reset-size3.size7,.katex .sizing.reset-size3.size7 {
    font-size: 1.71428571em
}

.katex .fontsize-ensurer.reset-size3.size8,.katex .sizing.reset-size3.size8 {
    font-size: 2.05714286em
}

.katex .fontsize-ensurer.reset-size3.size9,.katex .sizing.reset-size3.size9 {
    font-size: 2.46857143em
}

.katex .fontsize-ensurer.reset-size3.size10,.katex .sizing.reset-size3.size10 {
    font-size: 2.96285714em
}

.katex .fontsize-ensurer.reset-size3.size11,.katex .sizing.reset-size3.size11 {
    font-size: 3.55428571em
}

.katex .fontsize-ensurer.reset-size4.size1,.katex .sizing.reset-size4.size1 {
    font-size: .625em
}

.katex .fontsize-ensurer.reset-size4.size2,.katex .sizing.reset-size4.size2 {
    font-size: .75em
}

.katex .fontsize-ensurer.reset-size4.size3,.katex .sizing.reset-size4.size3 {
    font-size: .875em
}

.katex .fontsize-ensurer.reset-size4.size4,.katex .sizing.reset-size4.size4 {
    font-size: 1em
}

.katex .fontsize-ensurer.reset-size4.size5,.katex .sizing.reset-size4.size5 {
    font-size: 1.125em
}

.katex .fontsize-ensurer.reset-size4.size6,.katex .sizing.reset-size4.size6 {
    font-size: 1.25em
}

.katex .fontsize-ensurer.reset-size4.size7,.katex .sizing.reset-size4.size7 {
    font-size: 1.5em
}

.katex .fontsize-ensurer.reset-size4.size8,.katex .sizing.reset-size4.size8 {
    font-size: 1.8em
}

.katex .fontsize-ensurer.reset-size4.size9,.katex .sizing.reset-size4.size9 {
    font-size: 2.16em
}

.katex .fontsize-ensurer.reset-size4.size10,.katex .sizing.reset-size4.size10 {
    font-size: 2.5925em
}

.katex .fontsize-ensurer.reset-size4.size11,.katex .sizing.reset-size4.size11 {
    font-size: 3.11em
}

.katex .fontsize-ensurer.reset-size5.size1,.katex .sizing.reset-size5.size1 {
    font-size: .55555556em
}

.katex .fontsize-ensurer.reset-size5.size2,.katex .sizing.reset-size5.size2 {
    font-size: .66666667em
}

.katex .fontsize-ensurer.reset-size5.size3,.katex .sizing.reset-size5.size3 {
    font-size: .77777778em
}

.katex .fontsize-ensurer.reset-size5.size4,.katex .sizing.reset-size5.size4 {
    font-size: .88888889em
}

.katex .fontsize-ensurer.reset-size5.size5,.katex .sizing.reset-size5.size5 {
    font-size: 1em
}

.katex .fontsize-ensurer.reset-size5.size6,.katex .sizing.reset-size5.size6 {
    font-size: 1.11111111em
}

.katex .fontsize-ensurer.reset-size5.size7,.katex .sizing.reset-size5.size7 {
    font-size: 1.33333333em
}

.katex .fontsize-ensurer.reset-size5.size8,.katex .sizing.reset-size5.size8 {
    font-size: 1.6em
}

.katex .fontsize-ensurer.reset-size5.size9,.katex .sizing.reset-size5.size9 {
    font-size: 1.92em
}

.katex .fontsize-ensurer.reset-size5.size10,.katex .sizing.reset-size5.size10 {
    font-size: 2.30444444em
}

.katex .fontsize-ensurer.reset-size5.size11,.katex .sizing.reset-size5.size11 {
    font-size: 2.76444444em
}

.katex .fontsize-ensurer.reset-size6.size1,.katex .sizing.reset-size6.size1 {
    font-size: .5em
}

.katex .fontsize-ensurer.reset-size6.size2,.katex .sizing.reset-size6.size2 {
    font-size: .6em
}

.katex .fontsize-ensurer.reset-size6.size3,.katex .sizing.reset-size6.size3 {
    font-size: .7em
}

.katex .fontsize-ensurer.reset-size6.size4,.katex .sizing.reset-size6.size4 {
    font-size: .8em
}

.katex .fontsize-ensurer.reset-size6.size5,.katex .sizing.reset-size6.size5 {
    font-size: .9em
}

.katex .fontsize-ensurer.reset-size6.size6,.katex .sizing.reset-size6.size6 {
    font-size: 1em
}

.katex .fontsize-ensurer.reset-size6.size7,.katex .sizing.reset-size6.size7 {
    font-size: 1.2em
}

.katex .fontsize-ensurer.reset-size6.size8,.katex .sizing.reset-size6.size8 {
    font-size: 1.44em
}

.katex .fontsize-ensurer.reset-size6.size9,.katex .sizing.reset-size6.size9 {
    font-size: 1.728em
}

.katex .fontsize-ensurer.reset-size6.size10,.katex .sizing.reset-size6.size10 {
    font-size: 2.074em
}

.katex .fontsize-ensurer.reset-size6.size11,.katex .sizing.reset-size6.size11 {
    font-size: 2.488em
}

.katex .fontsize-ensurer.reset-size7.size1,.katex .sizing.reset-size7.size1 {
    font-size: .41666667em
}

.katex .fontsize-ensurer.reset-size7.size2,.katex .sizing.reset-size7.size2 {
    font-size: .5em
}

.katex .fontsize-ensurer.reset-size7.size3,.katex .sizing.reset-size7.size3 {
    font-size: .58333333em
}

.katex .fontsize-ensurer.reset-size7.size4,.katex .sizing.reset-size7.size4 {
    font-size: .66666667em
}

.katex .fontsize-ensurer.reset-size7.size5,.katex .sizing.reset-size7.size5 {
    font-size: .75em
}

.katex .fontsize-ensurer.reset-size7.size6,.katex .sizing.reset-size7.size6 {
    font-size: .83333333em
}

.katex .fontsize-ensurer.reset-size7.size7,.katex .sizing.reset-size7.size7 {
    font-size: 1em
}

.katex .fontsize-ensurer.reset-size7.size8,.katex .sizing.reset-size7.size8 {
    font-size: 1.2em
}

.katex .fontsize-ensurer.reset-size7.size9,.katex .sizing.reset-size7.size9 {
    font-size: 1.44em
}

.katex .fontsize-ensurer.reset-size7.size10,.katex .sizing.reset-size7.size10 {
    font-size: 1.72833333em
}

.katex .fontsize-ensurer.reset-size7.size11,.katex .sizing.reset-size7.size11 {
    font-size: 2.07333333em
}

.katex .fontsize-ensurer.reset-size8.size1,.katex .sizing.reset-size8.size1 {
    font-size: .34722222em
}

.katex .fontsize-ensurer.reset-size8.size2,.katex .sizing.reset-size8.size2 {
    font-size: .41666667em
}

.katex .fontsize-ensurer.reset-size8.size3,.katex .sizing.reset-size8.size3 {
    font-size: .48611111em
}

.katex .fontsize-ensurer.reset-size8.size4,.katex .sizing.reset-size8.size4 {
    font-size: .55555556em
}

.katex .fontsize-ensurer.reset-size8.size5,.katex .sizing.reset-size8.size5 {
    font-size: .625em
}

.katex .fontsize-ensurer.reset-size8.size6,.katex .sizing.reset-size8.size6 {
    font-size: .69444444em
}

.katex .fontsize-ensurer.reset-size8.size7,.katex .sizing.reset-size8.size7 {
    font-size: .83333333em
}

.katex .fontsize-ensurer.reset-size8.size8,.katex .sizing.reset-size8.size8 {
    font-size: 1em
}

.katex .fontsize-ensurer.reset-size8.size9,.katex .sizing.reset-size8.size9 {
    font-size: 1.2em
}

.katex .fontsize-ensurer.reset-size8.size10,.katex .sizing.reset-size8.size10 {
    font-size: 1.44027778em
}

.katex .fontsize-ensurer.reset-size8.size11,.katex .sizing.reset-size8.size11 {
    font-size: 1.72777778em
}

.katex .fontsize-ensurer.reset-size9.size1,.katex .sizing.reset-size9.size1 {
    font-size: .28935185em
}

.katex .fontsize-ensurer.reset-size9.size2,.katex .sizing.reset-size9.size2 {
    font-size: .34722222em
}

.katex .fontsize-ensurer.reset-size9.size3,.katex .sizing.reset-size9.size3 {
    font-size: .40509259em
}

.katex .fontsize-ensurer.reset-size9.size4,.katex .sizing.reset-size9.size4 {
    font-size: .46296296em
}

.katex .fontsize-ensurer.reset-size9.size5,.katex .sizing.reset-size9.size5 {
    font-size: .52083333em
}

.katex .fontsize-ensurer.reset-size9.size6,.katex .sizing.reset-size9.size6 {
    font-size: .5787037em
}

.katex .fontsize-ensurer.reset-size9.size7,.katex .sizing.reset-size9.size7 {
    font-size: .69444444em
}

.katex .fontsize-ensurer.reset-size9.size8,.katex .sizing.reset-size9.size8 {
    font-size: .83333333em
}

.katex .fontsize-ensurer.reset-size9.size9,.katex .sizing.reset-size9.size9 {
    font-size: 1em
}

.katex .fontsize-ensurer.reset-size9.size10,.katex .sizing.reset-size9.size10 {
    font-size: 1.20023148em
}

.katex .fontsize-ensurer.reset-size9.size11,.katex .sizing.reset-size9.size11 {
    font-size: 1.43981481em
}

.katex .fontsize-ensurer.reset-size10.size1,.katex .sizing.reset-size10.size1 {
    font-size: .24108004em
}

.katex .fontsize-ensurer.reset-size10.size2,.katex .sizing.reset-size10.size2 {
    font-size: .28929605em
}

.katex .fontsize-ensurer.reset-size10.size3,.katex .sizing.reset-size10.size3 {
    font-size: .33751205em
}

.katex .fontsize-ensurer.reset-size10.size4,.katex .sizing.reset-size10.size4 {
    font-size: .38572806em
}

.katex .fontsize-ensurer.reset-size10.size5,.katex .sizing.reset-size10.size5 {
    font-size: .43394407em
}

.katex .fontsize-ensurer.reset-size10.size6,.katex .sizing.reset-size10.size6 {
    font-size: .48216008em
}

.katex .fontsize-ensurer.reset-size10.size7,.katex .sizing.reset-size10.size7 {
    font-size: .57859209em
}

.katex .fontsize-ensurer.reset-size10.size8,.katex .sizing.reset-size10.size8 {
    font-size: .69431051em
}

.katex .fontsize-ensurer.reset-size10.size9,.katex .sizing.reset-size10.size9 {
    font-size: .83317261em
}

.katex .fontsize-ensurer.reset-size10.size10,.katex .sizing.reset-size10.size10 {
    font-size: 1em
}

.katex .fontsize-ensurer.reset-size10.size11,.katex .sizing.reset-size10.size11 {
    font-size: 1.19961427em
}

.katex .fontsize-ensurer.reset-size11.size1,.katex .sizing.reset-size11.size1 {
    font-size: .20096463em
}

.katex .fontsize-ensurer.reset-size11.size2,.katex .sizing.reset-size11.size2 {
    font-size: .24115756em
}

.katex .fontsize-ensurer.reset-size11.size3,.katex .sizing.reset-size11.size3 {
    font-size: .28135048em
}

.katex .fontsize-ensurer.reset-size11.size4,.katex .sizing.reset-size11.size4 {
    font-size: .32154341em
}

.katex .fontsize-ensurer.reset-size11.size5,.katex .sizing.reset-size11.size5 {
    font-size: .36173633em
}

.katex .fontsize-ensurer.reset-size11.size6,.katex .sizing.reset-size11.size6 {
    font-size: .40192926em
}

.katex .fontsize-ensurer.reset-size11.size7,.katex .sizing.reset-size11.size7 {
    font-size: .48231511em
}

.katex .fontsize-ensurer.reset-size11.size8,.katex .sizing.reset-size11.size8 {
    font-size: .57877814em
}

.katex .fontsize-ensurer.reset-size11.size9,.katex .sizing.reset-size11.size9 {
    font-size: .69453376em
}

.katex .fontsize-ensurer.reset-size11.size10,.katex .sizing.reset-size11.size10 {
    font-size: .83360129em
}

.katex .fontsize-ensurer.reset-size11.size11,.katex .sizing.reset-size11.size11 {
    font-size: 1em
}

.katex .delimsizing.size1 {
    font-family: KaTeX_Size1
}

.katex .delimsizing.size2 {
    font-family: KaTeX_Size2
}

.katex .delimsizing.size3 {
    font-family: KaTeX_Size3
}

.katex .delimsizing.size4 {
    font-family: KaTeX_Size4
}

.katex .delimsizing.mult .delim-size1>span {
    font-family: KaTeX_Size1
}

.katex .delimsizing.mult .delim-size4>span {
    font-family: KaTeX_Size4
}

.katex .nulldelimiter {
    width: .12em
}

.katex .op-symbol.small-op {
    font-family: KaTeX_Size1
}

.katex .op-symbol.large-op {
    font-family: KaTeX_Size2
}

.katex .accent .accent-body:not(.accent-full) {
    width: 0
}

.katex .overlay {
    display: block
}

.katex .mtable .vertical-separator {
    display: inline-block;
    margin: 0 -.025em;
    border-right: .05em solid;
    min-width: 1px
}

.katex .mtable .vs-dashed {
    border-right: .05em dashed
}

.katex .mtable .arraycolsep {
    display: inline-block
}

.katex .stretchy,.katex svg,.katex-display,.katex-display>.katex,.katex-display>.katex>.katex-html,.line-numbers-rows>span,article,aside,details,figcaption,figure,footer,header,main,menu,nav,section {
    display: block
}

.katex .mtable .col-align-l>.vlist-t {
    text-align: left
}

.katex .mtable .col-align-r>.vlist-t {
    text-align: right
}

.katex .svg-align {
    text-align: left
}

.katex .mover,.katex .munder,.katex .x-arrow,.katex-display {
    text-align: center
}

.katex svg {
    position: absolute;
    width: 100%;
    height: inherit;
    fill: currentColor;
    stroke: currentColor;
    fill-rule: nonzero;
    fill-opacity: 1;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    stroke-opacity: 1
}

.katex .hide-tail,.katex .stretchy {
    width: 100%;
    position: relative;
    overflow: hidden
}

.katex svg path {
    stroke: none
}

.katex .stretchy:after,.katex .stretchy:before {
    content: ""
}

.katex .halfarrow-left {
    position: absolute;
    left: 0;
    width: 50.2%;
    overflow: hidden
}

.katex .halfarrow-right {
    position: absolute;
    right: 0;
    width: 50.2%;
    overflow: hidden
}

.katex .brace-left {
    position: absolute;
    left: 0;
    width: 25.1%;
    overflow: hidden
}

.katex .brace-center {
    position: absolute;
    left: 25%;
    width: 50%;
    overflow: hidden
}

.katex .brace-right {
    position: absolute;
    right: 0;
    width: 25.1%;
    overflow: hidden
}

button,hr,input {
    overflow: visible
}

.katex .x-arrow-pad {
    padding: 0 .5em
}

.katex .boxpad {
    padding: 0 .3em
}

.katex .fbox {
    box-sizing: border-box;
    border: .04em solid #000
}

.katex .fcolorbox {
    box-sizing: border-box;
    border: .04em solid
}

.katex .cancel-pad {
    padding: 0 .2em
}

.katex .cancel-lap {
    margin-left: -.2em;
    margin-right: -.2em
}

.katex .sout {
    border-bottom-style: solid;
    border-bottom-width: .08em
}

.katex-display {
    margin: 1em 0
}

.katex-display>.katex {
    text-align: center;
    white-space: nowrap
}

.katex-display>.katex>.katex-html>.tag {
    position: absolute;
    right: 0
}

@font-face {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/RobotoMono-Regular.0b6a547.woff) format("woff")
}

@font-face {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 600;
    src: url(fonts/RobotoMono-Bold.819f3b2.woff) format("woff")
}

span.katex,span.katex * {
    font-family: KaTeX_Main,Times New Roman,serif
}

.token.pre.gfm * {
    font-weight: inherit!important;
    font-family: Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif
}

.token.pre.gfm .token.cdata,.token.pre.gfm .token.comment,.token.pre.gfm .token.doctype,.token.pre.gfm .token.prolog {
    color: #708090
}

.token.pre.gfm .token.punctuation {
    color: #999
}

.token.pre.gfm .token.boolean,.token.pre.gfm .token.constant,.token.pre.gfm .token.deleted,.token.pre.gfm .token.number,.token.pre.gfm .token.property,.token.pre.gfm .token.symbol,.token.pre.gfm .token.tag {
    color: #905
}

.token.pre.gfm .token.attr-name,.token.pre.gfm .token.builtin,.token.pre.gfm .token.char,.token.pre.gfm .token.inserted,.token.pre.gfm .token.selector,.token.pre.gfm .token.string {
    color: #690
}

.token.pre.gfm .language-css .token.string,.token.pre.gfm .style .token.string,.token.pre.gfm .token.entity,.token.pre.gfm .token.operator,.token.pre.gfm .token.url {
    color: #a67f59
}

.token.pre.gfm .token.atrule,.token.pre.gfm .token.attr-value,.token.pre.gfm .token.keyword {
    color: #07a
}

.token.pre.gfm .token.function {
    color: #dd4a68
}

.token.pre.gfm .token.important,.token.pre.gfm .token.regex,.token.pre.gfm .token.variable {
    color: #e90
}

.token.pre.gfm .token.bold,.token.pre.gfm .token.important {
    font-weight: 500
}

.token.pre.gfm .token.italic {
    font-style: italic
}

.prism-atom-one-light .prism * {
    font: 400 14px Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif!important
}

.prism-atom-one-light .prism .token.cdata,.prism-atom-one-light .prism .token.comment,.prism-atom-one-light .prism .token.prolog {
    color: #708090
}

.prism-atom-one-light .prism .token.doctype {
    color: #4078f2
}

.prism-atom-one-light .prism .token.comment {
    font-style: italic!important
}

.prism-atom-one-light .prism .token.punctuation {
    color: #999
}

.prism-atom-one-light .prism .token.constant,.prism-atom-one-light .prism .token.deleted,.prism-atom-one-light .prism .token.number,.prism-atom-one-light .prism .token.property,.prism-atom-one-light .prism .token.regex,.prism-atom-one-light .prism .token.symbol {
    color: #986801
}

.prism-atom-one-light .prism .token.boolean {
    color: #0184bb
}

.prism-atom-one-light .prism .token.tag {
    color: #e45649
}

.prism-atom-one-light .prism .token.attr-value,.prism-atom-one-light .prism .token.builtin,.prism-atom-one-light .prism .token.char,.prism-atom-one-light .prism .token.inserted,.prism-atom-one-light .prism .token.selector,.prism-atom-one-light .prism .token.string {
    color: #50a14f
}

.prism-atom-one-light .prism .token.attr-name {
    color: #986801
}

.prism-atom-one-light .prism .language-css .token.string,.prism-atom-one-light .prism .style .token.string,.prism-atom-one-light .prism .token.entity,.prism-atom-one-light .prism .token.operator,.prism-atom-one-light .prism .token.url {
    color: #a67f59
}

.prism-atom-one-light .prism .token.atrule,.prism-atom-one-light .prism .token.keyword {
    color: #07a
}

.prism-atom-one-light .prism .token.function {
    color: #dd4a68
}

.prism-atom-one-light .prism .token.important,.prism-atom-one-light .prism .token.variable {
    color: #e90
}

.prism-atom-one-light .prism .token.bold,.prism-atom-one-light .prism .token.important {
    font-weight: 500
}

.prism-atom-one-light .prism .token.italic {
    font-style: italic
}

.prism-atom-one-dark .prism {
    color: #abb2bf;
    background: #282c34
}

.prism-atom-one-dark .prism * {
    font: 400 14px Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif!important
}

.prism-atom-one-dark .prism .token.cdata,.prism-atom-one-dark .prism .token.comment,.prism-atom-one-dark .prism .token.prolog {
    color: #5c6370
}

.prism-atom-one-dark .prism .token.doctype {
    color: #61aeee
}

.prism-atom-one-dark .prism .token.comment {
    font-style: italic!important
}

.prism-atom-one-dark .prism .token.punctuation {
    color: #999
}

.prism-atom-one-dark .prism .token.constant,.prism-atom-one-dark .prism .token.deleted,.prism-atom-one-dark .prism .token.number,.prism-atom-one-dark .prism .token.property,.prism-atom-one-dark .prism .token.regex,.prism-atom-one-dark .prism .token.symbol {
    color: #98c379
}

.prism-atom-one-dark .prism .token.boolean {
    color: #56b6c2
}

.prism-atom-one-dark .prism .token.tag {
    color: #e06c75
}

.prism-atom-one-dark .prism .token.attr-value,.prism-atom-one-dark .prism .token.builtin,.prism-atom-one-dark .prism .token.char,.prism-atom-one-dark .prism .token.inserted,.prism-atom-one-dark .prism .token.selector,.prism-atom-one-dark .prism .token.string {
    color: #690
}

.prism-atom-one-dark .prism .token.attr-name {
    color: #d19a66
}

.prism-atom-one-dark .prism .language-css .token.string,.prism-atom-one-dark .prism .style .token.string,.prism-atom-one-dark .prism .token.entity,.prism-atom-one-dark .prism .token.operator,.prism-atom-one-dark .prism .token.url {
    color: #690
}

.prism-atom-one-dark .prism .token.atrule,.prism-atom-one-dark .prism .token.keyword {
    color: #c678dd
}

.prism-atom-one-dark .prism .token.function {
    color: #61aeee
}

.prism-atom-one-dark .prism .token.important,.prism-atom-one-dark .prism .token.variable {
    color: #e90
}

.prism-atom-one-dark .prism .token.bold,.prism-atom-one-dark .prism .token.important {
    font-weight: 500
}

.prism-atom-one-dark .prism .token.italic {
    font-style: italic
}

.prism-atom-one-dark .prism .tocken.class-name {
    color: #e6c07b
}

.prism-tomorrow-night .prism {
    background: #1d1f21;
    color: #c5c8c6
}

.prism-tomorrow-night .prism * {
    font: 400 14px Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif!important
}

.prism-tomorrow-night .prism .token.cdata,.prism-tomorrow-night .prism .token.comment,.prism-tomorrow-night .prism .token.prolog {
    color: #969896
}

.prism-tomorrow-night .prism .token.doctype {
    color: #de935f
}

.prism-tomorrow-night .prism .token.comment {
    font-style: italic!important
}

.prism-tomorrow-night .prism .token.punctuation {
    color: #999
}

.prism-tomorrow-night .prism .token.constant,.prism-tomorrow-night .prism .token.deleted,.prism-tomorrow-night .prism .token.number,.prism-tomorrow-night .prism .token.property,.prism-tomorrow-night .prism .token.regex,.prism-tomorrow-night .prism .token.symbol {
    color: #b5bd68
}

.prism-tomorrow-night .prism .token.boolean {
    color: #de935f
}

.prism-tomorrow-night .prism .token.tag {
    color: #c66
}

.prism-tomorrow-night .prism .token.attr-value,.prism-tomorrow-night .prism .token.builtin,.prism-tomorrow-night .prism .token.char,.prism-tomorrow-night .prism .token.inserted,.prism-tomorrow-night .prism .token.selector,.prism-tomorrow-night .prism .token.string {
    color: #b5bd68
}

.prism-tomorrow-night .prism .token.attr-name {
    color: #c66
}

.prism-tomorrow-night .prism .language-css .token.string,.prism-tomorrow-night .prism .style .token.string,.prism-tomorrow-night .prism .token.entity,.prism-tomorrow-night .prism .token.operator,.prism-tomorrow-night .prism .token.url {
    color: #a67f59
}

.prism-tomorrow-night .prism .token.atrule,.prism-tomorrow-night .prism .token.keyword {
    color: #b294bb
}

.prism-tomorrow-night .prism .token.function {
    color: #81a2be
}

.prism-tomorrow-night .prism .token.important,.prism-tomorrow-night .prism .token.variable {
    color: #c66
}

.prism-tomorrow-night .prism .token.bold,.prism-tomorrow-night .prism .token.important {
    font-weight: 500
}

.prism-tomorrow-night .prism .token.italic {
    font-style: italic
}

.prism-dracula .prism {
    color: #f8f8f2;
    background: #282a36
}

.prism-dracula .prism * {
    font: 400 14px Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif!important
}

.prism-dracula .prism .token.cdata,.prism-dracula .prism .token.comment,.prism-dracula .prism .token.prolog {
    color: #6272a4
}

.prism-dracula .prism .token.doctype {
    color: #f1fa8c
}

.prism-dracula .prism .token.comment {
    font-style: italic!important
}

.prism-dracula .prism .token.punctuation {
    color: #999
}

.prism-dracula .prism .token.constant,.prism-dracula .prism .token.deleted,.prism-dracula .prism .token.number,.prism-dracula .prism .token.property,.prism-dracula .prism .token.regex,.prism-dracula .prism .token.symbol {
    color: #f1fa8c
}

.prism-dracula .prism .token.boolean {
    color: #8be9fd
}

.prism-dracula .prism .token.attr-value,.prism-dracula .prism .token.builtin,.prism-dracula .prism .token.char,.prism-dracula .prism .token.inserted,.prism-dracula .prism .token.selector,.prism-dracula .prism .token.string,.prism-dracula .prism .token.tag {
    color: #f1fa8c
}

.prism-dracula .prism .token.attr-name {
    color: #8be9fd
}

.prism-dracula .prism .language-css .token.string,.prism-dracula .prism .style .token.string,.prism-dracula .prism .token.entity,.prism-dracula .prism .token.url {
    color: #f1fa8c
}

.prism-dracula .prism .token.operator {
    color: #6272a4
}

.prism-dracula .prism .token.atrule,.prism-dracula .prism .token.keyword {
    color: #ff79c6
}

.prism-dracula .prism .token.function {
    color: #8be9fd
}

.prism-dracula .prism .token.important,.prism-dracula .prism .token.variable {
    color: #e90
}

.prism-dracula .prism .token.bold,.prism-dracula .prism .token.important {
    font-weight: 500
}

.prism-dracula .prism .token.italic {
    font-style: italic
}

.prism-dracula .prism .tocken.class-name {
    color: #e6c07b
}

.prism-atelier-sulphurpool-light .prism {
    color: #5e6687;
    background: #f5f7ff
}

.prism-atelier-sulphurpool-light .prism * {
    font: 400 14px Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif!important
}

.prism-atelier-sulphurpool-light .prism .token.cdata,.prism-atelier-sulphurpool-light .prism .token.comment,.prism-atelier-sulphurpool-light .prism .token.prolog {
    color: #6b7394
}

.prism-atelier-sulphurpool-light .prism .token.doctype {
    color: #3d8fd1
}

.prism-atelier-sulphurpool-light .prism .token.comment {
    font-style: italic!important
}

.prism-atelier-sulphurpool-light .prism .token.punctuation {
    color: #999
}

.prism-atelier-sulphurpool-light .prism .token.constant,.prism-atelier-sulphurpool-light .prism .token.deleted,.prism-atelier-sulphurpool-light .prism .token.number,.prism-atelier-sulphurpool-light .prism .token.property,.prism-atelier-sulphurpool-light .prism .token.regex,.prism-atelier-sulphurpool-light .prism .token.symbol {
    color: #ac9739
}

.prism-atelier-sulphurpool-light .prism .token.boolean {
    color: #c76b29
}

.prism-atelier-sulphurpool-light .prism .token.tag {
    color: #c94922
}

.prism-atelier-sulphurpool-light .prism .token.attr-value,.prism-atelier-sulphurpool-light .prism .token.builtin,.prism-atelier-sulphurpool-light .prism .token.char,.prism-atelier-sulphurpool-light .prism .token.inserted,.prism-atelier-sulphurpool-light .prism .token.selector,.prism-atelier-sulphurpool-light .prism .token.string {
    color: #ac9739
}

.prism-atelier-sulphurpool-light .prism .token.attr-name {
    color: #c94922
}

.prism-atelier-sulphurpool-light .prism .language-css .token.string,.prism-atelier-sulphurpool-light .prism .style .token.string,.prism-atelier-sulphurpool-light .prism .token.entity,.prism-atelier-sulphurpool-light .prism .token.operator,.prism-atelier-sulphurpool-light .prism .token.url {
    color: #ac9739
}

.prism-atelier-sulphurpool-light .prism .token.atrule,.prism-atelier-sulphurpool-light .prism .token.keyword {
    color: #6679cc
}

.prism-atelier-sulphurpool-light .prism .token.function {
    color: #3d8fd1
}

.prism-atelier-sulphurpool-light .prism .token.important,.prism-atelier-sulphurpool-light .prism .token.variable {
    color: #e90
}

.prism-atelier-sulphurpool-light .prism .token.bold,.prism-atelier-sulphurpool-light .prism .token.important {
    font-weight: 500
}

.prism-atelier-sulphurpool-light .prism .token.italic {
    font-style: italic
}

.prism-atelier-sulphurpool-light .prism .tocken.class-name {
    color: #e6c07b
}

.prism-github-gist .prism {
    color: #5e6687;
    background: #fff
}

.prism-github-gist .prism * {
    font: 400 14px Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif!important
}

.prism-github-gist .prism .token.cdata,.prism-github-gist .prism .token.comment,.prism-github-gist .prism .token.prolog {
    color: #969896
}

.prism-github-gist .prism .token.doctype {
    color: #795da3
}

.prism-github-gist .prism .token.comment {
    font-style: italic!important
}

.prism-github-gist .prism .token.punctuation {
    color: #969896
}

.prism-github-gist .prism .token.constant,.prism-github-gist .prism .token.deleted,.prism-github-gist .prism .token.property,.prism-github-gist .prism .token.regex,.prism-github-gist .prism .token.symbol {
    color: #0086b3
}

.prism-github-gist .prism .token.number {
    color: #c76b29
}

.prism-github-gist .prism .token.boolean {
    color: #0086b3
}

.prism-github-gist .prism .token.tag {
    color: #63a35c
}

.prism-github-gist .prism .token.attr-value,.prism-github-gist .prism .token.builtin,.prism-github-gist .prism .token.char,.prism-github-gist .prism .token.inserted,.prism-github-gist .prism .token.selector,.prism-github-gist .prism .token.string {
    color: #df5000
}

.prism-github-gist .prism .token.attr-name {
    color: #795da3
}

.prism-github-gist .prism .language-css .token.string,.prism-github-gist .prism .style .token.string,.prism-github-gist .prism .token.entity,.prism-github-gist .prism .token.operator,.prism-github-gist .prism .token.url {
    color: #df5000
}

.prism-github-gist .prism .token.atrule,.prism-github-gist .prism .token.keyword {
    color: #a71d5d
}

.prism-github-gist .prism .token.function {
    color: #795da3
}

.prism-github-gist .prism .token.important,.prism-github-gist .prism .token.variable {
    color: #df5000
}

.prism-github-gist .prism .token.bold,.prism-github-gist .prism .token.important {
    font-weight: 500
}

.prism-github-gist .prism .token.italic {
    font-style: italic
}

.prism-github-gist .prism .tocken.class-name {
    color: #e6c07b
}

.prism-kimbie-light .prism {
    color: #84613d;
    background: #fbebd4
}

.prism-kimbie-light .prism * {
    font: 400 14px Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif!important
}

.prism-kimbie-light .prism .token.cdata,.prism-kimbie-light .prism .token.comment,.prism-kimbie-light .prism .token.prolog {
    color: #a57a4c
}

.prism-kimbie-light .prism .token.doctype {
    color: #f06431
}

.prism-kimbie-light .prism .token.comment {
    font-style: italic!important
}

.prism-kimbie-light .prism .token.punctuation {
    color: #999
}

.prism-kimbie-light .prism .token.constant,.prism-kimbie-light .prism .token.deleted,.prism-kimbie-light .prism .token.number,.prism-kimbie-light .prism .token.property,.prism-kimbie-light .prism .token.regex,.prism-kimbie-light .prism .token.symbol {
    color: #889b4a
}

.prism-kimbie-light .prism .token.boolean {
    color: #f79a32
}

.prism-kimbie-light .prism .token.tag {
    color: #dc3958
}

.prism-kimbie-light .prism .token.attr-value,.prism-kimbie-light .prism .token.builtin,.prism-kimbie-light .prism .token.char,.prism-kimbie-light .prism .token.inserted,.prism-kimbie-light .prism .token.selector,.prism-kimbie-light .prism .token.string {
    color: #889b4a
}

.prism-kimbie-light .prism .token.attr-name {
    color: #f06431
}

.prism-kimbie-light .prism .language-css .token.string,.prism-kimbie-light .prism .style .token.string,.prism-kimbie-light .prism .token.entity,.prism-kimbie-light .prism .token.operator,.prism-kimbie-light .prism .token.url {
    color: #889b4a
}

.prism-kimbie-light .prism .token.atrule,.prism-kimbie-light .prism .token.function,.prism-kimbie-light .prism .token.keyword {
    color: #98676a
}

.prism-kimbie-light .prism .token.important,.prism-kimbie-light .prism .token.variable {
    color: #e90
}

.prism-kimbie-light .prism .token.bold,.prism-kimbie-light .prism .token.important {
    font-weight: 500
}

.prism-kimbie-light .prism .token.italic {
    font-style: italic
}

.prism-kimbie-light .prism .token.class-name {
    color: #f06431
}

.prism-tomorrow-night-eighties .prism {
    color: #ccc;
    background: #2d2d2d
}

.prism-tomorrow-night-eighties .prism * {
    font: 400 14px Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif!important
}

.prism-tomorrow-night-eighties .prism .token.cdata,.prism-tomorrow-night-eighties .prism .token.comment,.prism-tomorrow-night-eighties .prism .token.prolog {
    color: #999
}

.prism-tomorrow-night-eighties .prism .token.doctype {
    color: #f99157
}

.prism-tomorrow-night-eighties .prism .token.comment {
    font-style: italic!important
}

.prism-tomorrow-night-eighties .prism .token.italic,dfn {
    font-style: italic
}

.prism-tomorrow-night-eighties .prism .token.punctuation {
    color: #999
}

.prism-tomorrow-night-eighties .prism .token.boolean,.prism-tomorrow-night-eighties .prism .token.constant,.prism-tomorrow-night-eighties .prism .token.deleted,.prism-tomorrow-night-eighties .prism .token.number,.prism-tomorrow-night-eighties .prism .token.property,.prism-tomorrow-night-eighties .prism .token.regex,.prism-tomorrow-night-eighties .prism .token.symbol {
    color: #f99157
}

.prism-tomorrow-night-eighties .prism .token.tag {
    color: #f2777a
}

.prism-tomorrow-night-eighties .prism .token.attr-value,.prism-tomorrow-night-eighties .prism .token.builtin,.prism-tomorrow-night-eighties .prism .token.char,.prism-tomorrow-night-eighties .prism .token.inserted,.prism-tomorrow-night-eighties .prism .token.selector,.prism-tomorrow-night-eighties .prism .token.string {
    color: #9c9
}

.prism-tomorrow-night-eighties .prism .token.attr-name {
    color: #fc6
}

.prism-tomorrow-night-eighties .prism .language-css .token.string,.prism-tomorrow-night-eighties .prism .style .token.string,.prism-tomorrow-night-eighties .prism .token.entity,.prism-tomorrow-night-eighties .prism .token.operator,.prism-tomorrow-night-eighties .prism .token.url {
    color: #9c9
}

.prism-tomorrow-night-eighties .prism .token.atrule,.prism-tomorrow-night-eighties .prism .token.keyword {
    color: #c9c
}

.prism-tomorrow-night-eighties .prism .token.function {
    color: #69c
}

.prism-tomorrow-night-eighties .prism .token.important,.prism-tomorrow-night-eighties .prism .token.variable {
    color: #e90
}

.prism-tomorrow-night-eighties .prism .token.bold,.prism-tomorrow-night-eighties .prism .token.important {
    font-weight: 500
}

.prism-tomorrow-night-eighties .prism .tocken.class-name {
    color: #e6c07b
}

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: a
}

pre.line-numbers>code {
    position: relative;
    white-space: inherit
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.line-numbers-rows>span {
    pointer-events: none;
    counter-increment: a
}

.line-numbers-rows>span:before {
    content: counter(a);
    color: #999;
    display: block;
    padding-right: .8em;
    text-align: right
}

audio,canvas,progress,video {
    display: inline-block
}

.mermaid {
    font-size: 16px
}

.mermaid svg {
    color: rgba(0,0,0,.75);
    width: 100%;
    max-width: 100%
}

.app--dark .mermaid div.mermaidTooltip,.mermaid div.mermaidTooltip {
    position: absolute;
    max-width: 200px;
    padding: 2px;
    pointer-events: none;
    z-index: 100;
    text-align: center
}

.app--dark .mermaid svg {
    color: hsla(0,0%,100%,.75)
}

.mermaid svg * {
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif
}

.mermaid .mermaid .label {
    color: #333
}

.mermaid .node circle,.mermaid .node ellipse,.mermaid .node polygon,.mermaid .node rect {
    fill: #eee;
    stroke: #999;
    stroke-width: 1px
}

.mermaid .edgePath .path {
    stroke: #666;
    stroke-width: 1.5px
}

.mermaid .edgeLabel {
    background-color: #fff
}

.mermaid .cluster rect {
    fill: #eaf2fb!important;
    rx: 4!important;
    stroke: #26a!important;
    stroke-width: 1px!important
}

.mermaid .cluster text {
    fill: #333
}

.mermaid .actor {
    stroke: #999;
    fill: #eee
}

.mermaid text.actor {
    fill: #333;
    stroke: none
}

.mermaid .actor-line {
    stroke: #666
}

.mermaid .messageLine0,.mermaid .messageLine1 {
    stroke-width: 1.5;
    stroke-dasharray: "2 2";
    stroke: #333
}

.mermaid #arrowhead {
    fill: #333
}

.mermaid #crosshead path {
    fill: #333!important;
    stroke: #333!important
}

.mermaid .messageText {
    fill: #333;
    stroke: none
}

.mermaid .labelBox {
    stroke: #999;
    fill: #eee
}

.mermaid .labelText,.mermaid .loopText {
    fill: #fff;
    stroke: none
}

.mermaid .loopLine {
    stroke-width: 2;
    stroke-dasharray: "2 2";
    stroke: #999
}

.mermaid .note {
    stroke: #770;
    fill: #ffa
}

.mermaid .noteText {
    fill: #000;
    stroke: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px
}

.mermaid .section {
    stroke: none;
    opacity: .2
}

.mermaid .section0,.mermaid .section2 {
    fill: #d2d8e2
}

.mermaid .section1,.mermaid .section3 {
    fill: #fff;
    opacity: .2
}

.mermaid .sectionTitle0,.mermaid .sectionTitle1,.mermaid .sectionTitle2,.mermaid .sectionTitle3 {
    fill: #333
}

.mermaid .sectionTitle {
    text-anchor: start;
    font-size: 11px
}

.mermaid .grid .tick {
    stroke: #dddfe4;
    opacity: .3;
    shape-rendering: crispEdges
}

.mermaid .grid path {
    stroke-width: 0
}

.mermaid .today {
    fill: none;
    stroke: #d42;
    stroke-width: 2px
}

.mermaid .task {
    stroke-width: 2
}

.mermaid .taskText {
    text-anchor: middle;
    font-size: 10px
}

.mermaid .taskTextOutsideRight {
    fill: #333;
    text-anchor: start;
    font-size: 11px
}

.mermaid .taskTextOutsideLeft {
    fill: #333;
    text-anchor: end;
    font-size: 11px
}

.mermaid .taskText0,.mermaid .taskText1,.mermaid .taskText2,.mermaid .taskText3 {
    fill: #4d4d4d
}

.mermaid .task0,.mermaid .task1,.mermaid .task2,.mermaid .task3 {
    fill: #ffe4c2
}

.mermaid .taskTextOutside0,.mermaid .taskTextOutside1,.mermaid .taskTextOutside2,.mermaid .taskTextOutside3 {
    fill: #4d4d4d
}

.mermaid .active0,.mermaid .active1,.mermaid .active2,.mermaid .active3 {
    fill: #add6f7
}

.mermaid .activeText0,.mermaid .activeText1,.mermaid .activeText2,.mermaid .activeText3 {
    fill: #4d4d4d!important
}

.mermaid .done0,.mermaid .done1,.mermaid .done2,.mermaid .done3 {
    fill: #c2e0f9;
    stroke-width: 2
}

.mermaid .doneText0,.mermaid .doneText1,.mermaid .doneText2,.mermaid .doneText3 {
    fill: #4d4d4d!important
}

.mermaid .crit0,.mermaid .crit1,.mermaid .crit2,.mermaid .crit3 {
    fill: #ffcf94;
    stroke-width: 2
}

.mermaid .activeCrit0,.mermaid .activeCrit1,.mermaid .activeCrit2,.mermaid .activeCrit3 {
    fill: #f88f95;
    stroke-width: 2
}

.mermaid .doneCrit0,.mermaid .doneCrit1,.mermaid .doneCrit2,.mermaid .doneCrit3 {
    fill: #fcc7ca;
    stroke-width: 2;
    cursor: pointer
}

.mermaid .doneCritText0,.mermaid .doneCritText1,.mermaid .doneCritText2,.mermaid .doneCritText3 {
    fill: #4d4d4d!important
}

.mermaid .activeCritText0,.mermaid .activeCritText1,.mermaid .activeCritText2,.mermaid .activeCritText3 {
    fill: #333!important
}

.mermaid .titleText {
    text-anchor: middle;
    font-size: 16px;
    fill: #3d3d3d;
    font-weight: 700
}

.mermaid g.classGroup text {
    fill: #999;
    stroke: none;
    font-family: trebuchet ms,verdana,arial;
    font-size: 10px
}

.mermaid g.classGroup rect {
    fill: #eee;
    stroke: #999
}

.mermaid g.classGroup line {
    stroke: #999;
    stroke-width: 1
}

.mermaid svg .classLabel .box {
    stroke: none;
    stroke-width: 0;
    fill: #eee;
    opacity: .5
}

.mermaid svg .classLabel .label {
    fill: #999;
    font-size: 10px
}

.mermaid .relation {
    stroke: #999;
    stroke-width: 1;
    fill: none
}

.mermaid #compositionEnd,.mermaid #compositionStart,.mermaid .composition {
    fill: #999;
    stroke: #999;
    stroke-width: 1
}

.mermaid #aggregationEnd,.mermaid #aggregationStart,.mermaid .aggregation {
    fill: #eee;
    stroke: #999;
    stroke-width: 1
}

.mermaid #dependencyEnd,.mermaid #dependencyStart,.mermaid #extensionEnd,.mermaid #extensionStart {
    fill: #999;
    stroke: #999;
    stroke-width: 1
}

.mermaid .node text {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px
}

.mermaid div.mermaidTooltip {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    background: #eaf2fb;
    border: 1px solid #26a;
    border-radius: 2px
}

.app--dark .mermaid .label {
    color: #323d47
}

.app--dark .mermaid .node circle,.app--dark .mermaid .node ellipse,.app--dark .mermaid .node polygon,.app--dark .mermaid .node rect {
    fill: #bdd5ea;
    stroke: #81b1db;
    stroke-width: 1px
}

.app--dark .mermaid .edgePath .path {
    stroke: #d3d3d3
}

.app--dark .mermaid .edgeLabel {
    background-color: #e8e8e8
}

.app--dark .mermaid .cluster rect {
    fill: #6d6d65!important;
    rx: 4!important;
    stroke: hsla(0,0%,100%,.25)!important;
    stroke-width: 1px!important
}

.app--dark .mermaid .cluster text {
    fill: #f9fffe
}

.app--dark .mermaid .actor {
    stroke: #81b1db;
    fill: #bdd5ea
}

.app--dark .mermaid text.actor {
    fill: #000;
    stroke: none
}

.app--dark .mermaid .actor-line {
    stroke: #d3d3d3
}

.app--dark .mermaid .messageLine0,.app--dark .mermaid .messageLine1 {
    stroke-width: 1.5;
    stroke-dasharray: "2 2";
    stroke: #d3d3d3
}

.app--dark .mermaid #arrowhead {
    fill: #d3d3d3!important
}

.app--dark .mermaid #crosshead path {
    fill: #d3d3d3!important;
    stroke: #d3d3d3!important
}

.app--dark .mermaid .messageText {
    fill: #d3d3d3;
    stroke: none
}

.app--dark .mermaid .labelBox {
    stroke: #81b1db;
    fill: #bdd5ea
}

.app--dark .mermaid .labelText {
    fill: #323d47;
    stroke: none
}

.app--dark .mermaid .loopText {
    fill: #d3d3d3;
    stroke: none
}

.app--dark .mermaid .loopLine {
    stroke-width: 2;
    stroke-dasharray: "2 2";
    stroke: #81b1db
}

.app--dark .mermaid .note {
    stroke: hsla(0,0%,100%,.25);
    fill: #fff5ad
}

.app--dark .mermaid .noteText {
    fill: #000;
    stroke: none;
    font-family: trebuchet ms,verdana,arial;
    font-size: 14px
}

.app--dark .mermaid .section {
    stroke: none;
    opacity: .2
}

.app--dark .mermaid .section0 {
    fill: hsla(0,0%,100%,.3)
}

.app--dark .mermaid .section2 {
    fill: #eae8b9
}

.app--dark .mermaid .section1,.app--dark .mermaid .section3 {
    fill: #fff;
    opacity: .2
}

.app--dark .mermaid .sectionTitle0,.app--dark .mermaid .sectionTitle1,.app--dark .mermaid .sectionTitle2,.app--dark .mermaid .sectionTitle3 {
    fill: #f9fffe
}

.app--dark .mermaid .sectionTitle {
    text-anchor: start;
    font-size: 11px
}

.app--dark .mermaid .grid .tick {
    stroke: hsla(0,0%,100%,.3);
    opacity: .3;
    shape-rendering: crispEdges
}

.app--dark .mermaid .grid .tick text {
    fill: #d3d3d3;
    opacity: .5
}

.app--dark .mermaid .grid path {
    stroke-width: 0
}

.app--dark .mermaid .today {
    fill: none;
    stroke: #db5757;
    stroke-width: 2px
}

.app--dark .mermaid .task {
    stroke-width: 1
}

.app--dark .mermaid .taskText {
    text-anchor: middle;
    font-size: 11px
}

.app--dark .mermaid .taskTextOutsideRight {
    fill: #323d47;
    text-anchor: start;
    font-size: 11px
}

.app--dark .mermaid .taskTextOutsideLeft {
    fill: #323d47;
    text-anchor: end;
    font-size: 11px
}

.app--dark .mermaid .taskText0,.app--dark .mermaid .taskText1,.app--dark .mermaid .taskText2,.app--dark .mermaid .taskText3 {
    fill: #323d47
}

.app--dark .mermaid .task0,.app--dark .mermaid .task1,.app--dark .mermaid .task2,.app--dark .mermaid .task3 {
    fill: #bdd5ea;
    stroke: hsla(0,0%,100%,.5)
}

.app--dark .mermaid .taskTextOutside0,.app--dark .mermaid .taskTextOutside1,.app--dark .mermaid .taskTextOutside2,.app--dark .mermaid .taskTextOutside3 {
    fill: #d3d3d3
}

.app--dark .mermaid .active0,.app--dark .mermaid .active1,.app--dark .mermaid .active2,.app--dark .mermaid .active3 {
    fill: #81b1db;
    stroke: hsla(0,0%,100%,.5)
}

.app--dark .mermaid .activeText0,.app--dark .mermaid .activeText1,.app--dark .mermaid .activeText2,.app--dark .mermaid .activeText3 {
    fill: #323d47!important
}

.app--dark .mermaid .done0,.app--dark .mermaid .done1,.app--dark .mermaid .done2,.app--dark .mermaid .done3 {
    fill: #d3d3d3
}

.app--dark .mermaid .doneText0,.app--dark .mermaid .doneText1,.app--dark .mermaid .doneText2,.app--dark .mermaid .doneText3 {
    fill: #323d47!important
}

.app--dark .mermaid .crit0,.app--dark .mermaid .crit1,.app--dark .mermaid .crit2,.app--dark .mermaid .crit3 {
    stroke: #e83737;
    fill: #e83737;
    stroke-width: 2
}

.app--dark .mermaid .activeCrit0,.app--dark .mermaid .activeCrit1,.app--dark .mermaid .activeCrit2,.app--dark .mermaid .activeCrit3 {
    stroke: #e83737;
    fill: #81b1db;
    stroke-width: 2
}

.app--dark .mermaid .doneCrit0,.app--dark .mermaid .doneCrit1,.app--dark .mermaid .doneCrit2,.app--dark .mermaid .doneCrit3 {
    stroke: #e83737;
    fill: #d3d3d3;
    stroke-width: 1;
    cursor: pointer;
    shape-rendering: crispEdges
}

.app--dark .mermaid .doneCritText0,.app--dark .mermaid .doneCritText1,.app--dark .mermaid .doneCritText2,.app--dark .mermaid .doneCritText3 {
    fill: #d3d3d3!important
}

.app--dark .mermaid .activeCritText0,.app--dark .mermaid .activeCritText1,.app--dark .mermaid .activeCritText2,.app--dark .mermaid .activeCritText3 {
    fill: #323d47!important
}

.app--dark .mermaid .titleText {
    text-anchor: middle;
    font-size: 18px;
    fill: #d3d3d3
}

.app--dark .mermaid .node text {
    font-family: trebuchet ms,verdana,arial;
    font-size: 14px
}

.app--dark .mermaid div.mermaidTooltip {
    font-family: trebuchet ms,verdana,arial;
    font-size: 12px;
    background: #6d6d65;
    border: 1px solid hsla(0,0%,100%,.25);
    border-radius: 2px
}

.markdown_views blockquote,.markdown_views dl,.markdown_views ol,.markdown_views p,.markdown_views pre,.markdown_views ul {
    margin: 1.2em 0
}

.markdown_views ol ol,.markdown_views ol ul,.markdown_views ul ol,.markdown_views ul ul {
    margin: 0
}

.markdown_views dt {
    font-weight: 700
}

.markdown_views code *,.markdown_views pre *,.markdown_views samp * {
    font-size: inherit
}

.markdown_views blockquote {
    color: rgba(0,0,0,.5);
    padding-left: 1.5em
}

.app--dark .layout__panel--editor .markdown_views blockquote,.app--dark .layout__panel--preview .markdown_views blockquote {
    color: hsla(0,0%,100%,.4);
    border-left-color: hsla(0,0%,100%,.075)
}

.markdown_views code {
    padding: 2px 4px
}

.markdown_views pre>code {
    background-color: rgba(0,0,0,.05);
    display: block;
    padding: .5em;
    -webkit-text-size-adjust: none;
    overflow-x: auto;
    white-space: pre
}

.markdown_views .toc ul {
    list-style-type: none;
    padding-left: 20px
}

.markdown_views table {
    background-color: transparent;
    border-spacing: 0
}

.markdown_views td,.markdown_views th {
    border-right: 1px solid #dcdcdc;
    padding: 8px 12px
}

.markdown_views td {
    border-top: 1px solid #dcdcdc
}

.markdown_views mark {
    background-color: #f8f840
}

.markdown_views abbr[title] {
    cursor: help
}

.markdown_views img[src*="#pic_center"] {
    display: block;
    margin: auto
}

.markdown_views .task-list-item {
    list-style-type: none
}

.markdown_views .task-list-item-checkbox {
    margin: 0 .2em 0 -1.3em
}

.markdown_views .page-break-after {
    page-break-after: always
}

.markdown_views .stackedit__html {
    margin-bottom: 180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 750px
}

.markdown_views .stackedit__toc ul {
    padding: 0
}

.markdown_views .stackedit__toc ul a {
    margin: .5rem 0;
    padding: .5rem 1rem
}

.markdown_views .stackedit__toc ul ul {
    color: #888;
    font-size: .9em
}

.markdown_views .stackedit__toc ul ul a {
    margin: 0;
    padding: .1rem 1rem
}

.markdown_views .stackedit__toc li {
    display: block
}

.markdown_views .stackedit__toc a {
    display: block;
    color: inherit;
    text-decoration: none
}

.markdown_views .stackedit__toc a:active,.markdown_views .stackedit__toc a:focus,.markdown_views .stackedit__toc a:hover {
    background-color: rgba(0,0,0,.075);
    border-radius: 4px
}

.markdown_views .stackedit__left {
    position: fixed;
    display: none;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none
}

.markdown_views .stackedit__right {
    position: absolute;
    right: 0;
    top: 0;
    left: 0
}

@media (min-width: 1060px) {
    .markdown_views .stackedit__left {
        display:block
    }

    .markdown_views .stackedit__right {
        left: 250px
    }
}

.markdown_views .stackedit--pdf blockquote {
    border-left-color: #ececec
}

.markdown_views .stackedit--pdf .stackedit__html {
    padding-left: 0;
    padding-right: 0;
    max-width: none
}

.markdown_views p {
    font-size: 16px;
    color: #4f4f4f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 16px
}

.markdown_views strong {
    font-weight: 700
}

.markdown_views i,address,cite,dfn,em,var {
    font-style: italic
}

.markdown_views h1,.markdown_views h2,.markdown_views h3,.markdown_views h4,.markdown_views h5,.markdown_views h6 {
    color: #4f4f4f;
    margin: 8px 0 16px;
    font-weight: 700
}

.markdown_views ol,.markdown_views ul {
    margin: 0 0 24px;
    padding: 0;
    font-size: 16px
}

.markdown_views ul ol {
    margin: 0 0 24px 32px
}

.markdown_views ul li {
    list-style-type: disc;
    margin: 8px 0 0 32px
}

.markdown_views ol li {
    list-style-type: decimal;
    margin-left: 40px;
    margin-top: 8px
}

.markdown_views img {
    margin: 24px 0;
    max-width: 100%
}

.markdown_views h1 {
    font-size: 28px;
    line-height: 36px
}

.markdown_views h2 {
    font-size: 24px;
    line-height: 32px
}

.markdown_views h3 {
    font-size: 22px;
    line-height: 30px
}

.markdown_views h4 {
    font-size: 20px;
    line-height: 28px
}

.markdown_views h5 {
    font-size: 18px;
    line-height: 26px
}

.markdown_views h6 {
    font-size: 16px;
    line-height: 24px
}

.markdown_views h1 code {
    font-size: 28px
}

.markdown_views h2 code {
    font-size: 24px
}

.markdown_views h3 code {
    font-size: 22px
}

.markdown_views h4 code {
    font-size: 20px
}

.markdown_views h5 code {
    font-size: 18px
}

.markdown_views h6 code {
    font-size: 16px
}

.markdown_views blockquote {
    display: block;
    padding: 16px;
    margin: 0 0 24px;
    border-left: 8px solid #dddfe4;
    background: #eef0f4;
    overflow: auto
}

.markdown_views blockquote ol,.markdown_views blockquote ul {
    margin-bottom: 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px
}

.markdown_views blockquote ol li,.markdown_views blockquote ul li {
    margin-bottom: 0
}

.markdown_views blockquote p {
    font-size: 14px;
    line-height: 22px;
    color: #999;
    font-weight: 400;
    margin-bottom: 0
}

.markdown_views hr {
    margin: 24px 0;
    border: none;
    border-bottom: 1px solid #ddd
}

.markdown_views table tr {
    border: 0;
    border-top: 1px solid #ddd;
    background-color: #fff
}

.markdown_views table {
    border-collapse: collapse;
    display: table;
    width: 100%;
    text-align: center;
    margin-bottom: 24px
}

.markdown_views tbody {
    border: 0
}

.markdown_views table tr:nth-child(2n) {
    background-color: #f7f7f7
}

.markdown_views table tr td,.markdown_views table tr th {
    font-size: 14px;
    color: #4f4f4f;
    line-height: 22px;
    border: 1px solid #ddd;
    padding: 8px;
    word-break: normal!important;
    vertical-align: middle
}

.markdown_views table tr td code,.markdown_views table tr th code {
    white-space: normal;
    word-break: normal!important
}

.markdown_views table tr th {
    font-weight: 700;
    background-color: #eff3f5
}

.markdown_views dl {
    margin: 24px
}

.markdown_views dl dt {
    margin: 8px;
    font-weight: 700
}

.markdown_views dl dt dd {
    margin: 8px
}

.markdown_views abbr[data-original-title],.markdown_views abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #999
}

.markdown_views .initialism {
    font-size: 90%;
    text-transform: uppercase
}

.markdown_views pre {
    margin-bottom: 24px
}

.markdown_views code,.markdown_views kbd,.markdown_views pre,.markdown_views samp {
    font-family: Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #000
}

.markdown_views code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 2px
}

.markdown_views a {
    text-decoration-skip: ink;
    color: #4ea1db;
    text-decoration: none
}

.markdown_views a:focus,.markdown_views a:hover {
    text-decoration: none;
    color: #ca0c16
}

.markdown_views a:visited {
    color: #6795b5
}

.markdown_views .footnote {
    vertical-align: top;
    position: relative;
    top: -4px;
    font-size: 12px
}

.markdown_views .footnotes ol li {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 8px 24px
}

.markdown_views .flow-chart,.markdown_views .sequence-diagram {
    text-align: center;
    margin-bottom: 24px;
    font-size: 14px!important
}

.markdown_views .flow-chart svg,.markdown_views .sequence-diagram svg {
    width: unset
}

.markdown_views .flow-chart [fill="#000"],.markdown_views .flow-chart [fill="#000000"],.markdown_views .flow-chart [fill=black],.markdown_views .sequence-diagram [fill="#000"],.markdown_views .sequence-diagram [fill="#000000"],.markdown_views .sequence-diagram [fill=black] {
    fill: #4f4f4f
}

.markdown_views .flow-chart [stroke="#000000"],.markdown_views .sequence-diagram [stroke="#000000"] {
    stroke: #4f4f4f
}

.markdown_views .MathJax_SVG_Display {
    text-align: center;
    margin: 24px 0;
    font-size: 18px;
    font-weight: 400;
    color: #4f4f4f;
    position: relative;
    text-indent: 0;
    max-width: none;
    max-height: none;
    min-width: 0;
    min-height: 0;
    width: 100%
}

.markdown_views .toc {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
    padding: 0
}

.markdown_views .toc ul {
    margin: 0 0 8px;
    padding: 0
}

.markdown_views .toc ul ul {
    padding-left: 24px
}

.markdown_views .toc ul li {
    list-style-type: none;
    margin: 8px 0 0 24px
}

.markdown_views dl dd {
    margin: 0 0 8px 40px
}

.markdown_views kbd {
    padding: 2px 8px;
    border: 1px solid rgba(63,63,63,.25);
    box-shadow: 0 1px 0 rgba(63,63,63,.25);
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    display: inline-block;
    margin: 0 2px;
    white-space: nowrap
}
