/* 把标签默认的间距设为0 */
body, ul, ol, p, h1, h2, h3, h4, h5, h6, dl, dd, select, input, textarea, form {
    margin: 0;
    padding: 0
}

/* 让h标签文字大小继承body的文字设置 */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

/* 去掉列表默认的图标 */
ul, ol {
    list-style: none;
}

/* 去掉em默认的斜体 */
em {
    font-style: normal;
}

/* 去掉a标签默认的下划线 */
a {
    text-decoration: none;
}

/* 去掉加链接时产生的框线 */
img {
    border: 0;
}

/* 清除浮动 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/*不可选取*/
.notselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 浮动 */
.fl {
    float: left
}

.fr {
    float: right
}

/*解决页面出现滚动条整个页面左移问题*/

html {
    overflow-y: scroll;
}
:root {
    overflow-y: auto;
    overflow-x: hidden;
}
:root body {
    position: absolute;
}
body {
    width: 100vw;
    overflow: hidden;
}
