.articlesMain {
    border: 1px #356bc92e solid;
}

div.oneElement input {
    padding-left: 5px;
}
.searchArticles {
    padding: 20px 20px 0px 20px;
    border: 1px #356bc92e solid;
}

.searchRow {
    margin-bottom: 10px;
}

a.button {
    background-color: #356bc9;
    color: #fff;
    line-height: 30px;
    padding: 3px 5px;
    display: inline-block;
    width: 90px;
    text-align: center;
    margin: 0px 10px;
    height: 30px;
}

input[type="text"] {
    height: 20px;
}

input[type="text"] {
}

input.flatpickr.flatpickr-input.active {
    height: 20px;
}

input.flatpickr.flatpickr-input {
    height: 20px;
}

div.oneElement {
    width: 305px;
    float: left;
}

.tabs-box {
    /*border: solid #f3f3f3;*/
    border-width: 0 1px 1px;
}

.tab-head {
    background-color: #f3f3f3;
    height: 35px;
    overflow: hidden;
}

.tab-head li {
    float: left;
    text-align: center;
}

.tab-head li a {
    color: #666;
    text-decoration: none;
    display: block;
    width: 100px;
    line-height: 35px;
    text-align: center;
}

.tab-head li.active a {
    border-bottom: 2px solid #016FA8;
    background-color: #fff;
    color: #f00;
    padding-top: 2px;
    line-height: 31px;
    text-decoration: none;
}

.tab-content .searchArticles {
    border: none;
}

select {
    height: 22px;
}

/*下拉单位样式*/
.selectBox {
    width: 400px;
    margin: 50px auto;
}

.viewBox {
    width: 45px;
    height: 22px;
    color: #303030;
    cursor: pointer;
    line-height: 22px;
    border: 1px solid #dcdcdc;
}

.viewInput {
    /*width: 345px;*/
    /*height: 36px;*/
    /*outline: none;*/
    /*cursor: pointer;*/
    /*padding-left: 10px;*/
    /*font-size: 14px;*/
    /*border: none;*/
    width: 20px;
    /* height: 36px; */
    outline: none;
    cursor: pointer;
    padding-left: 10px;
    font-size: 14px;
    border: none;

}

.unitSearch {
    height: 22px;
    width: 45px;
    display: inline-block;
}

.optionBox {
    width: 45px;
    display: none;
    /* background-color: #f3f3f3; */
    z-index: 99999;
    display: inline-block;
    color: #666;
    position: absolute;
    border: 1px solid #d1d1d1;
}

.optionBox li {
    width: 34px;
    height: 22px;
    font-size: 13px;
    background-color: white;
    line-height: 22px;
    cursor: pointer;
    list-style-type: none;
    padding-left: 10px;
}

.optionBox li:hover {
    background: #f3f3f3;
}

.btnImg {
    float: right;
    height: 40px;
    border-left: 1px solid #dcdcdc;
}

