.detail-wrap {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.detail-header {
    height: 160px;
    overflow: hidden;
    position: relative;
    border-bottom: 2px #356bc914 solid;
}

.detail-logo, .detail-logo img {
    width: 48px;
    height: 48px
}

.detail-logo {
    margin-right: 30px;
    display: block
}

.detail-info {
    width: 416px
}

.detail-title {
    height: 24px;
    line-height: 24px
}

.detail-name {
    float: left;
    max-width: 185px;
    font-weight: 400;
    font-size: 22px;
    color: #39404d
}

.detail-star {
    float: left;
    margin-left: 25px
}

.detail-score {
    color: #f49b00;
    font-size: 14px
}

.detail-info .search-tags {
    float: none;
    margin-left: -6px;
    margin-top: 10px
}

.detail-other {
    color: #8d9ab2;
    margin-top: 20px
}

.detail-other li {
    float: left;
    font-size: 14px;
    height: 13px;
    line-height: 13px;
    border-left: 1px solid #a6a5a7;
    padding: 0 8px
}

.cont-title, .detail-install a {
    font-size: 16px;
    font-weight: 400
}

.detail-other .first {
    padding-left: 0;
    border-left: 0
}

.detail-system {
    margin: 10px 0 20px;
    width: 500px
}

.detail-install {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin-top: 40px;
}

.detail-install a {
    letter-spacing: 1px;
    text-align: center;
    width: 100px;
    height: 33px;
    border: 1px solid #fff
}

.detail-install-fast, .detail-install-normal {
    display: block;
    width: 100px;
    height: 33px;
    line-height: 33px
}

.detail-install-fast, .detail-install-fast:link, .detail-install-fast:visited {
    border-color: #356bc9;
    background: #356bc9
}

.detail-install-fast {
    float: right;
    color: #fff
}

.detail-install-fast:hover {
    border-color: #2b6fe6;
    background: #2b6fe6
}

.detail-install-fast:active {
    border-color: #2b6fe6;
    background: #2b6fe6
}

.detail-install-normal {
    float: left;
    background-color: #fcfcfd;
    background-color: rgba(255, 255, 255, .75);
    border-color: #b9e9dc;
    border-color: rgba(52, 209, 159, .3);
    color: #3169cc
}

.star-bg {
    background: url("/static/images/shareFiles/1445523252_651795.png");
    -webkit-background-size: 70px 12px;
    background-size: 68px 12px;
    width: 68px;
    height: 12px;
    background-repeat: no-repeat;
    float: left;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 8px;
}

.star-bg div {
    background: url("/static/images/shareFiles/1445523260_910443.png");
    -webkit-background-size: 68px 12px;
    background-size: 68px 12px;
    background-repeat: no-repeat;
    height: 100%;
}

.detail-title span {
    color: rgba(252, 178, 0, 1);
}

.detail-install-normal:link, .detail-install-normal:visited {
    border-color: #3169cc;
}

.detail-install-normal:hover {
    border-color: #2b6fe6;
}

.detail-install-normal:active {
    border-color: #43b894;
}

a.detail-install-fast.J_qq_download {
    float: left;
    margin-top: 12px;
    display: block;
}

a.detail-install-normal {
    display: block;
    float: left;
}

.slider-wrapper {
    height: 258px;
    overflow: hidden;
    position: relative;
    margin-top: 25px
}


.slide {
    float: left;
    width: 280px;
    height: 270px;
    padding-right: 10px
}

.detail-desc {
    padding-bottom: 40px;
    border-bottom: 1px solid #e6e8ea;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    margin-top: 40px;
    margin-bottom: 40px
}

.cont-title {
    line-height: 16px;
    height: 16px;
    color: #39404d;
    margin-bottom: 12px
}

.cont-content {
    font-size: 14px;
    color: #39404d;
    line-height: 24px
}

.hide_more, .homepage, .show_more {
    font-size: 14px;
    color: #1885f2
}

.detail-recomm-logo img {
    width: 48px;
    height: 48px
}

.comment-source a {
    color: #1885f2
}

.detail-info, .detail-logo {
    margin-top: 40px;
    float: left
}


img {
    vertical-align: top;
    border: 0
}

#banner {
    margin-bottom: -10px
}

#carousel {
    position: relative;
    z-index: 2;
    transform-style: preserve-3d;
    perspective: 800px
}

#carousel img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -252px;
    transition: transform .5s ease-in-out;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, .2);
    cursor: pointer
}

#bannerNav {
    position: relative;
    height: 10px;
    padding: 10px 0;
    text-align: center
}

#bannerNav ul li {
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    width: 22px;
    margin: 0 2px
}

#bannerNav ul li a {
    margin: 0 auto;
    display: block;
    width: 6px;
    height: 6px;
    vertical-align: top;
    border-radius: 3px;
    background: #5e6671;
    font-size: 0
}

#bannerNav ul li.on a, #bannerNav ul li:hover a {
    background: #0f58bd
}

#bannerNav ul li.on a {
    width: 20px
}

#carousel {
    height: 400px
}

#carousel img {
    width: 500px;
    border-radius: 10px;
    opacity: 0;
}

