.operateTB {
    margin: 5px auto;
}

input {
    text-indent: 0.5em;
}

#textSour, #textMatchResult, #textReplaceResult,#message_source,#hash_result {
    width: 100%;
    height: 150px;
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.wel a.button {
    height: 20px;
    width: 70px;
    line-height: 20px;
    border-radius: 2px;
}

form a.button,.pwdSpan a.button {
    height: 20px;
    width: 70px;
    line-height: 20px;
    display: inline-block;
}

.input-group.input-group-sm {
    display: inline-block;
}

form.well.form-inline {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #bebebe;
}

form.well.form-inline {
    font-size: 15px;
}

.toolRegexDemo {
    display: inline-block;
    width: 135px;
    height: 26px;
    background-color: #356bc9;
    margin: auto 10px;
    padding-bottom: -3px;
}

.toolRegexDemo .viewBox {
    width: 100%;
    height: 100%;
    color: #303030;
    cursor: pointer;
    line-height: 22px;
    border: none;
}

.toolRegexDemo .viewInput {
    width: 75%;
}

.toolRegexDemo .optionBox {
    width: 133px;
}

.toolRegexDemo input.viewInput {
    background-color: #356bc9;
    color: white;
    height: 26px;
    font-family: "KaiTi";
    font-size: 14px;
    line-height: 26px;
}

.toolRegexDemo .optionBox li {
    width: auto;
}

/* 编码加密 */
textarea#n_source, textarea#u_source {
    height: 457px;
    width: 520px;
    border-radius: 4px;
    padding: 4px;
}

.leftBar {
    float: left;
}

.rightBar {
    float: right;
}

.operateLR {
    float: left;
    width: 98px;
    text-align: center;
    margin: 30px 5px 0 5px;
}

.OptDetail.Button a.button {
    height: 26px;
    width: 80px;
    margin: 10px auto;
}

.OptDetail.Button a.button i.fa {
    font-size: 13px;
    position: relative;
    top: -1px;
}

.OptDetail.Button label.checkbox {
    display: block;
    float: left;
    text-align: left;
    margin: 10px 5px;
}

.pwdSpan #p_span,#k_span{
padding:5px;border-radius:4px;border:1px solid #bebebe;margin-top: 10px;margin-bottom: 10px;
}
.pwdSpan input#pwd {
    width: 230px;
}
#k_span .item_prepend{
    display: inline-block;
}