{% extends "index.html" %}
{% block csses %}
    <link rel="stylesheet" type="text/css" href="/static/css/xcConfirm.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/about.css"/>
{% endblock %}

{% block pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="#" class="islink">关于</a>
    </div>
{% endblock %}

{% block right_content %}
    <div class="userInfo clearfix">
        <span class="infotitle">关于</span>
        <div class="about text-center">
            <div class="container">
                <div class="row">
                    <div>
                        <div class="title">
                            <h3>About Me</h3>
                        </div>
                        <div class="desc">
                            <p>旨在实现一个服务于学习网络爬虫（数据采集）的工具助手网站，一个集教学、常用爬虫工具、工具软件下载、技术教程、爬虫下载、数据下载、爬虫解析测试的学习网站</p>
                        </div>
                    </div>
                    <div class="featurebox">
                        <div class="oneItem">
                            <div class="feature text-left">
                                <h4>Learning Center</h4>
                                <p>提供Python,Web,相关博文的展示，资源源于互联网，也可自己发布自己的教程文章</p>
                            </div>
                        </div>
                        <div class="oneItem">
                            <div class="feature text-left">
                                <h4>Sharing Center</h4>
                                <p>
                                提供代码框架、软件工具、爬虫数据、学习资料四大类型的共享下载、用户可自己上传相关工具资源以及对上传内容对象的详细介绍，上传展示图片，LOGO，简介等等。
                                </p>
                            </div>
                        </div>
                        <div class="oneItem">
                            <div class="feature text-left">
                                <h4>Common Tools</h4>
                                <p>提供常用的相关在线工具：xpath规则、css选择器、正则表达式、常见编码的转换、反爬UA、IP代理，错误状态码查询,简单验证码识别等等.</p>
                            </div>
                        </div>
                        <div class="oneItem">
                            <div class="feature text-left">
                                <h4>DIY Spiders</h4>
                                <p>提供请求配置测试、网页源码解析测试；结果导出下载。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jses %}

{% endblock %}