{% extends "index.html" %}
{% block csses %}
    <link rel="stylesheet" type="text/css" href="/static/css/xcConfirm.css"/>
{% endblock %}

{% block pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="#" class="islink">个人信息</a>
    </div>
{% endblock %}

{% block right_content %}
    <div class="userInfo">
        <span class="infotitle">个人信息</span>
        <div class="userInfoForms">
            <div class="just_show">
                <label for="" class="item_title">用户名：</label>
                <p class="item_text">{{ userinfo.username }}</p>
            </div>
            <div class="just_show">
                <label for="" class="item_title">性别：</label>
                {% if userinfo.gender == 0 %}
                    <p class="item_text">女</p>
                {% else %}
                    <p class="item_text">男</p>
                {% endif %}


            </div>
            <div class="just_show"><label class="item_title">电子邮箱：</label>
                <p class="item_text">{{ userinfo.email }}</p>
            </div>
            <div class="just_show"><label class="item_title">电话：</label>
                <p class="item_text">{{ userinfo.phone }}</p>
            </div>
            <div class="just_show"><label class="item_title">QQ：</label>
                <p class="item_text">{{ userinfo.address }}</p>
            </div>
            <div class="just_show"><label class="item_title">地址：</label>
                <p class="item_text">{{ userinfo.qq }}</p>
            </div>
        </div>

        <form class="uinfoForm">
            <div class="form_item"><label for="" class="item_title">用户名：</label>
                <div class="preInput"><input type="text" placeholder="" readonly="readonly" unselectable="on"
                                             class="input_item"
                                             value="{{ userinfo.username }}"></div>
            </div>
            <div class="form_item"><label for="" class="item_title">性别：</label>
                <input type="radio" name="gender" value="1" {% ifequal userinfo.gender 1 %}checked{% endifequal %}/>男&nbsp;&nbsp;
                <input type="radio" name="gender" value="0" {% ifequal userinfo.gender 0 %}checked{% endifequal %}/>女
            </div>
            <div class="form_item"><label for="" class="item_title">密码：</label>
                <div class="preInput"><input type="password" placeholder="请输入密码" class="input_item"></div>
            </div>
            <div class="form_item"><label for="" class="item_title">确认密码：</label>
                <div class="preInput"><input type="password" placeholder="请再次输入密码" class="input_item"></div>
            </div>
            <div class="form_item"><label for="" class="item_title">电子邮件：</label>
                <div class="preInput"><input type="text" placeholder="请输入电子邮件" class="input_item"
                                             value="{{ userinfo.email }}"></div>
            </div>
            <div class="form_item"><label for="" class="item_title">电话：</label>
                <div class="preInput"><input type="text" placeholder="请输入电话" class="input_item"
                                             value="{{ userinfo.phone }}"></div>
            </div>
            <div class="form_item"><label for="" class="item_title">QQ：</label>
                <div class="preInput"><input type="text" placeholder="请输入QQ" class="input_item"
                                             value="{{ userinfo.qq }}"></div>
            </div>
            <div class="form_item"><label for="" class="item_title">地址：</label>
                <div class="preInput"><input type="text" placeholder="请输入地址" class="input_item"
                                             value="{{ userinfo.address }}"></div>
            </div>
            {% csrf_token %}
        </form>
        <div class="btns">
            <ul>
                <li><a type="button" href="javascript:;" class="button">修改</a></li>
                <li><a type="button" href="javascript:;" id="savebtn" class="button">保存</a></li>
                <li><a type="button" href="javascript:;" class="button">取消</a></li>
            </ul>
        </div>
    </div>



{% endblock %}
{% block jses %}
        <script type="text/javascript" src="/static/js/main.js"></script>
    <script src="/static/js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>


{% endblock %}