<!DOCTYPE html>
<html>
<head>
    <title>学习网站——登录注册页</title>
    <link rel="shortcut icon" href="/static/images/webLogo.jpg"/>
    <!-- meta标签-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="text/javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- /Meta标签 -->
    <!-- 成叠样式表 -->
    <link href="/static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/><!--style_sheet-->
    <link href="/static/css/flexslider.css" rel="stylesheet" type="text/css" media="screen" property=""/>
    <link href="/static/css/font-awesome.css" rel="stylesheet"> <!-- Font-Awesome_Icons-CSS -->

    <!--//成叠样式表 -->


</head>
<body style="background:url(/static/images/login_images/bg6.jpg) bottom center no-repeat #efeff4;background-size:100% 100%;width:100%;height:100%;">
<div class="w3l-head">
    <h1>爬虫助手学习网站</h1>
</div>

<div class="w3l-main">
    <div class="w3l-left-side">

        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="/static/images/login_images/g5.jpg" alt="image"/>
                </li>
                <li>
                    <img src="/static/images/login_images/g2.jpg" alt="image"/>
                </li>
                <li>
                    <img src="/static/images/login_images/g3.jpg" alt="image"/>
                </li>
                <li>
                    <img src="/static/images/login_images/g4.jpg" alt="image"/>
                </li>
                <li>
                    <img src="/static/images/login_images/g1.jpg" alt="image"/>
                </li>
            </ul>
        </div>
    </div>

    <div class="w3l-rigt-side">
        <form action="#" method="post">
            <div class="w3l-signin">
                <a class="w3_play_icon1" href="#small-dialog1">登 录</a>
            </div>
            <div class="w3l-signup">
                <a class="w3_play_icon1" href="#small-dialog2">注 册</a>
            </div>
            <div class="clear"></div>
        </form>
    </div>
    <div class="clear"></div>
</div>

<!--登录表单 -->
<div id="small-dialog1" class="mfp-hide">
    <div class="wthree-container">
        <div class="wthree-form">
            <div class="agileits-2">
                <h2>登 录</h2>
            </div>
            {#            <form action="/user/Login_handle/" method="post">#}
            <div class="registe_form">
                {% csrf_token %}
                <div class="w3-user solid_heigth">
                    <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
                    <input type="text" name="Username" placeholder="Username" required=""
                           style="margin-bottom: 0!important;">
                    <span class="error_tip">错误信息提示</span>
                </div>
                <div class="clear"></div>
                <div class="w3-psw solid_heigth">
                    <span><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input type="password" name="password" placeholder="Password" required=""
                           style="margin-bottom: 0!important;">
                    <span class="error_tip">错误信息提示</span>
                </div>
                <div class="clear"></div>
                <div class="w3l-check">
                    <input type="checkbox" name="rememberTag" value="1" checked="checked" class="checkbox">
                    <span><a href="#">Remember the login name ?</a></span>
                </div>
                <div class="clear"></div>
                <div class="signin">
                    {# <input type="submit" value="Login in">#}
                    <a href="javascript:;" type="submit" class="login_submit">Login in</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!--/登录表单 -->

<!--注册票单 -->
<div id="small-dialog2" class="mfp-hide">
    <div class="wthree-container">
        <div class="wthree-form bg">
            <div class="agileits-2">
                <h2>注册账号</h2>
            </div>
            {#            <form action="/user/registe_handle/" method="post">#}
            <div class="registe_form">
                {% csrf_token %}
                <div class="w3-user solid_heigth">
                    <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
                    <input type="text" name="Username" placeholder="Username" required=""
                           style="margin-bottom: 0!important;">
                    <span class="error_tip">错误信息提示 </span>
                </div>
                <div class="clear"></div>
                <div class="w3-email solid_heigth">
                    <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <input type="email" name="email" placeholder="Example@mail" required=""
                           style="margin-bottom: 0!important;">
                    <span class="error_tip">错误信息提示</span>
                </div>
                <div class="clear"></div>
                <div class="w3-psw solid_heigth">
                    <span><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input type="password" name="password" placeholder="Password" required=""
                           style="margin-bottom: 0!important;">
                    <span class="error_tip"> </span>
                </div>
                <div class="w3-cpsw solid_heigth">
                    <span><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input type="password" name="password2" placeholder="confirm-Password" required=""
                           style="margin-bottom: 0!important;">
                    <span class="error_tip">错误信息提示</span>
                </div>
                <div class="clear"></div>
                <div class="clear"></div>
                <div class="signin">
                    {#                    <input type="submit" value="sign up">#}
                    <a href="javascript:;" type="submit" class="registe_submit">sign up</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<footer> © 专业：计算机科学与技术、 班级：1541班、 制作人：江 凯 、 学号：201510913138</footer>


<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
{#<script type="text/javascript" src="/static/js/jquery.form.js"></script>#}
<script type="text/javascript" src="/static/js/main.js"></script>

<!-- 弹出登录、注册框 -->
<script src="/static/js/jquery.magnific-popup.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script>
<!-- //弹出登录、注册框 -->
<!-- 轮播图 -->
<script defer src="/static/js/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!--// 轮播图 -->


<!-- alert插件   -->
<link rel="stylesheet" type="text/css" href="/static/css/xcConfirm.css"/>
<script src="/static/js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
    .sgBtn {
        width: 135px;
        height: 35px;
        line-height: 35px;
        margin-left: 10px;
        margin-top: 10px;
        text-align: center;
        background-color: #0095D9;
        color: #FFFFFF;
        float: left;
        border-radius: 5px;
    }
</style>
<!-- alert插件测试 -->
{#<script type="text/javascript">#}
{#    $(function () {#}
{#        var txt = "测试alert弹框 ，测试alert弹框 测试alert弹框 ";#}
{#        window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.info);#}
{#    });#}
{#</script>#}
<!-- alert插件   -->

</body>
</html>