{% extends "index.html" %}

{% block csses %}
    <link rel="stylesheet" type="text/css" href="/static/css/search-box.css" media="all">

    <link rel="stylesheet" type="text/css" href="/static/css/jquery-editable-select.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/flatpickr.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/flatpickr.material_green.min.css"/>

    <!-- 搜索列表 -->
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/jquery.paginate.css">
    <link rel="stylesheet" href="/static/css/jquery.yhhDataTable.css">
    <!-- 搜索列表 -->

    <style type="text/css">

    </style>

{% endblock %}


<!-- 位置导航 -->
{% block pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="/share/getShareIndex/" class="islink">共享中心</a>
        <span>></span>
        <a href="javascript:;" class="islink">共享中心</a>
    </div>
{% endblock %}
<!-- //位置导航 -->

{% block right_content %}
    <div class="indexMain">
        <span class="infotitle">共享中心</span>
        <div class="tabs-box">
            <ul class="tab-head">
                <li><a href="javascript:;" name="#tab1">代码框架</a></li>
                <li><a href="javascript:;" name="#tab2">软件工具</a></li>
                <li><a href="javascript:;" name="#tab3">爬虫数据</a></li>
                <li><a href="javascript:;" name="#tab4">学习资料</a></li>
            </ul>
            <div class="tab-body">
                <!-- 代码框架内容 -->
                <div id="tab1" class="tab-content">
                    <div class="searchArticles clearfix">
                        <div class="searchRow clearfix">
                            <div class="oneElement">
                                <span>代码名称：</span>
                                <input type="text" name="stitle" id="stitle">
                            </div>
                            <div class="oneElement">
                                <span>分享人：</span>
                                <select id="editable-select" name="sname" id="sname">
                                    {#                        <option>Alfa Romeo</option>#}
                                </select>
                            </div>
                            <div class="oneElement">
                                <span>大小：</span>
                                <input type="text" style="width:40px" name="size01" id = 'size01'
                                       oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="unitSearch">
                                    <div class="viewBox viewBox1">
                                        <input type="text" class="viewInput" readonly="readonly">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </div>
                                    <ul class="optionBox optionBox1">
                                        <li>KB</li>
                                        <li>MB</li>
                                        <li>GB</li>
                                    </ul>
                                </div>
                                <span>至</span>
                                <input type="text" style="width:40px" name="size02" id = 'size02'
                                       oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="unitSearch">
                                    <div class="viewBox viewBox2">
                                        <input type="text" class="viewInput" readonly="readonly">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </div>
                                    <ul class="optionBox optionBox2">
                                        <li>KB</li>
                                        <li>MB</li>
                                        <li>GB</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="searchRow clearfix" style="margin-top: 20px">
                            <div class="oneElement" style="width: 610px;">

                                <span>发布时间：</span>
                                <input class="flatpickr" data-enable-time=true data-enable-seconds=true name="stime"
                                       id="stime">
                                <span>至</span>
                                <input class="flatpickr" data-enable-time=true data-enable-seconds=true name="etime"
                                       id="etime">
                            </div>
                            <div class="oneElement">
                                <span>评分：</span>
                                <input type="number" id="star01" style="width:50px" value=""  min="0.0" max="10.0" step="0.1" onchange="value= value<0?0:value>10?10:value" >
                                <span>至</span>
                                <input type="number" id="star02" style="width:50px" value=""  min="0.0" max="10.0" step="0.1" onchange="value= value<0?0:value>10?10:value" >
                            </div>
                        </div>
                        <div class="searchRow" style="margin-top: 20px">
                            <div class="searchBtn btns">
                                <a type="button" href="javascript:;" onclick="resetTable('#tab1')" class="button">重置</a>
                                <a type="button" href="javascript:;" class="button" onclick="searchShare('#tab1')">搜索</a>
                            </div>

                        </div>
                    </div>
                    <div class=" articlesList">
                        <table id="testtable2">
                            <thead>
                            <tr>
                                <th>代码名称</th>
                                <th>分享人</th>
                                <th>大小</th>
                                <th>发布时间</th>
                                <th>评分</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- 软件工具内容 -->
                <div id="tab2" class="tab-content">

                    <div class="searchArticles clearfix">
                        <div class="searchRow clearfix">
                            <div class="oneElement">
                                <span>软件名称：</span>
                                <input type="text" name="stitle" id="stitle">
                            </div>
                            <div class="oneElement">
                                <span>分享人：</span>
                                <select id="editable-select" name="sname" id="sname">
                                </select>
                            </div>

                            <div class="oneElement">

                            </div>
                            <!-- 大小 -->
                            <div class="oneElement">
                                <span>大小：</span>
                                <input type="text" style="width:40px" name="size01" id = 'size01'
                                       oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="unitSearch">
                                    <div class="viewBox viewBox1">
                                        <input type="text" class="viewInput" readonly="readonly">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </div>
                                    <ul class="optionBox optionBox1">
                                        <li>KB</li>
                                        <li>MB</li>
                                        <li>GB</li>
                                    </ul>
                                </div>
                                <span>至</span>
                                <input type="text" style="width:40px" name="size02" id = 'size02'
                                       oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="unitSearch">
                                    <div class="viewBox viewBox2">
                                        <input type="text" class="viewInput" readonly="readonly">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </div>
                                    <ul class="optionBox optionBox2">
                                        <li>KB</li>
                                        <li>MB</li>
                                        <li>GB</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="searchRow clearfix" style="margin-top: 20px">
                            <div class="oneElement" style="width: 610px;">

                                <span>上传时间：</span>
                                <input class="flatpickr" data-enable-time=true data-enable-seconds=true name="stime"
                                       id="stime">
                                <span>至</span>
                                <input class="flatpickr" data-enable-time=true data-enable-seconds=true name="etime"
                                       id="etime">
                            </div>
                            <div class="oneElement">
                                <span>评分：</span>
{#                                <input type="text" id="star01" style="width:50px" name="" oninput="value=value.replace(/[^\d]/g,'')">#}
                                <input type="number" id="star01" style="width:50px" value=""  min="0.0" max="10.0" step="0.1" onchange="value= value<0?0:value>10?10:value" >
                                <span>至</span>
                                <input type="number" id="star02" style="width:50px" value=""  min="0.0" max="10.0" step="0.1" onchange="value= value<0?0:value>10?10:value" >
                            </div>
                        </div>
                        <div class="searchRow" style="margin-top: 20px">
                            <div class="searchBtn btns">
                                <a type="button" href="javascript:;" onclick="resetTable('#tab2')" class="button">重置</a>
                                <a type="button" href="javascript:;" class="button" onclick="searchShare('#tab2')">搜索</a>
                            </div>

                        </div>
                    </div>
                    <div class=" articlesList">
                        <table id="testtable2">
                            <thead>
                            <tr>
                                <th>软件名称</th>
                                <th>分享人</th>
                                <th>大小</th>
                                <th>上传时间</th>
                                <th>评分</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 爬虫数据内容 -->
                <div id="tab3" class="tab-content">
                    <div class="searchArticles clearfix">
                        <div class="searchRow clearfix">
                            <div class="oneElement">
                                <span>数据名称：</span>
                                <input type="text" name="stitle" id="stitle">
                            </div>
                            <div class="oneElement">
                                <span>发布人：</span>
                                <select id="editable-select" name="sname" id="sname">
{#                                    <option>Alfa Romeo</option>#}
                                </select>
                            </div>
                            <!-- 大小 -->
                            <div class="oneElement">
                                <span>大小：</span>
                                <input type="text" style="width:40px" name="size01" id = 'size01'
                                       oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="unitSearch">
                                    <div class="viewBox viewBox1">
                                        <input type="text" class="viewInput" readonly="readonly">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </div>
                                    <ul class="optionBox optionBox1">
                                        <li>KB</li>
                                        <li>MB</li>
                                        <li>GB</li>
                                    </ul>
                                </div>
                                <span>至</span>
                                <input type="text" style="width:40px" name="size02" id = 'size02'
                                       oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="unitSearch">
                                    <div class="viewBox viewBox2">
                                        <input type="text" class="viewInput" readonly="readonly">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </div>
                                    <ul class="optionBox optionBox2">
                                        <li>KB</li>
                                        <li>MB</li>
                                        <li>GB</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="searchRow clearfix" style="margin-top: 20px">
                            <div class="oneElement" style="width: 610px;">

                                <span>发布时间：</span>
                                <input class="flatpickr" data-enable-time=true data-enable-seconds=true name="stime"
                                       id="stime">
                                <span>至</span>
                                <input class="flatpickr" data-enable-time=true data-enable-seconds=true name="etime"
                                       id="etime">
                            </div>
                            <div class="oneElement">
                                <span>评分：</span>
                                <input type="number" id="star01" style="width:50px" value=""  min="0.0" max="10.0" step="0.1" onchange="value= value<0?0:value>10?10:value" >
                                <span>至</span>
                                <input type="number" id="star02" style="width:50px" value=""  min="0.0" max="10.0" step="0.1" onchange="value= value<0?0:value>10?10:value" >
                            </div>
                        </div>
                        <div class="searchRow" style="margin-top: 20px">
                            <div class="searchBtn btns">
                                <a type="button" href="javascript:;" onclick="resetTable('#tab3')" class="button">重置</a>
                                <a type="button" href="javascript:;" class="button" onclick="searchShare('#tab3')">搜索</a>
                            </div>

                        </div>
                    </div>
                    <div class=" articlesList">
                        <table id="testtable2">
                            <thead>
                            <tr>
                                <th>数据名称</th>
                                <th>发布人</th>
                                <th>大小</th>
                                <th>发布时间</th>
                                <th>评分</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 学习资料内容 -->
                <div id="tab4" class="tab-content">
                    <div class="searchArticles clearfix">
                        <div class="searchRow clearfix">
                            <div class="oneElement">
                                <span>资料名称：</span>
                                <input type="text" name="stitle" id="stitle">
                            </div>
                            <div class="oneElement">
                                <span>作者名：</span>
                                <select id="editable-select" name="sname" id="sname">
{#                                    <option>Alfa Romeo</option>#}
                                </select>
                            </div>
                            <!-- 大小 -->
                            <div class="oneElement">
                                <span>大小：</span>
                                <input type="text" style="width:40px" name="size01" id = 'size01'
                                       oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="unitSearch">
                                    <div class="viewBox viewBox1">
                                        <input type="text" class="viewInput" readonly="readonly">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </div>
                                    <ul class="optionBox optionBox1">
                                        <li>KB</li>
                                        <li>MB</li>
                                        <li>GB</li>
                                    </ul>
                                </div>
                                <span>至</span>
                                <input type="text" style="width:40px" name="size02" id = 'size02'
                                       oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="unitSearch">
                                    <div class="viewBox viewBox2">
                                        <input type="text" class="viewInput" readonly="readonly">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </div>
                                    <ul class="optionBox optionBox2">
                                        <li>KB</li>
                                        <li>MB</li>
                                        <li>GB</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="searchRow clearfix" style="margin-top: 20px">
                            <div class="oneElement" style="width: 610px;">

                                <span>发布时间：</span>
                                <input class="flatpickr" data-enable-time=true data-enable-seconds=true name="stime"
                                       id="stime">
                                <span>至</span>
                                <input class="flatpickr" data-enable-time=true data-enable-seconds=true name="etime"
                                       id="etime">
                            </div>
                            <div class="oneElement">
                                <span>评分：</span>
                                <input type="number" id="star01" style="width:50px" value=""  min="0.0" max="10.0" step="0.1" onchange="value= value<0?0:value>10?10:value" >
                                <span>至</span>
                                <input type="number" id="star02" style="width:50px" value=""  min="0.0" max="10.0" step="0.1" onchange="value= value<0?0:value>10?10:value" >
                            </div>
                        </div>
                        <div class="searchRow" style="margin-top: 20px">
                            <div class="searchBtn btns">
                                <a type="button" href="javascript:;" onclick="resetTable('#tab4')" class="button">重置</a>
                                <a type="button" href="javascript:;" class="button" onclick="searchShare('#tab4')">搜索</a>
                            </div>

                        </div>
                    </div>
                    <div class=" articlesList">
                        <table id="testtable2">
                            <thead>
                            <tr>
                                <th>资料名称</th>
                                <th>作者名</th>
                                <th>大小</th>
                                <th>发布时间</th>
                                <th>评分</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jses %}
    <script src="/static/js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery-editable-select.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/flatpickr.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- 搜索列表 -->
    <script type="text/javascript" src="/static/js/jquery.paginate.js"></script>
    <script type="text/javascript" src="/static/js/jquery.yhhDataTable.js"></script>
    {#    <script type="text/javascript" src="/static/js/index_table.js"></script>#}
    <!-- 搜索列表 -->
    <script type="text/javascript" src="/static/js/share_tabs.js"></script>
{% endblock %}