{% extends "index.html" %}
{% load extraTages %}
{% block csses %}
    <link href="/static/css/shareInfo.css" type="text/css" rel="stylesheet" media="all">
    <style>
        i.fa:active {
            font-size: 20px;
        }

        .like span {
            color: green;
        }

        .like {
            float: right;
            margin-bottom: 10px;
            margin-right: 10px;
            user-select: none;
            font-size: 15px;
            height: 25px;
            line-height: 25px;
        }

    </style>
{% endblock %}

<!-- 位置导航 -->
{% block pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="/share/getShareIndex/" class="islink">共享中心</a>
        <span>></span>
        <a href="javascript:;" class="islink">共享详情页</a>
    </div>
{% endblock %}
<!-- //位置导航 -->

{% block right_content %}
    <div class="indexMain clearfix">
        <span class="infotitle">共享详情</span>
        <div class="detail-wrap">
            <div class="detail-header">
                <div class="detail-logo">
                    <img onerror="imgError(this);"
                         src="{{ shareInfo.logo_img }}"
                         alt="{{ shareInfo.share_name }}">
                </div>
                <div class="detail-info">
                    <div class="detail-title clearfix">
                        <h2 class="detail-name ellipsis">{{ shareInfo.share_name }}</h2>
                        <div class="star-bg">
                            <div style="width: {{ shareInfo.star }}%;"></div>

                        </div>
                        <span>{% devideByTag shareInfo.star 10 1 %}分</span>
                    </div>
                    <ul class="detail-other clearfix">
                        <li class="first">发布时间：{{ shareInfo.update_time|date:"Y-m-d" }}</li>
                        <li>大小：{{ shareInfo.file_size }}</li>
                        <li>版本：{{ shareInfo.version }}</li>
                    </ul>
                    <ul class="detail-other detail-system clearfix">
                        <li class="first">支持系统：{{ shareInfo.sup_sys_type }}</li>
                        <li>位数：sup_sys_digits</li>
                    </ul>
                </div>
                <div class="detail-install">
                    <a class="detail-install-normal"
                       href="{{ shareInfo.file_url }}" target="_blank"
                       data-hottag="download.detail.normal.1300" data-id="1300">下载</a>
                    <a class="detail-install-fast J_qq_download"
                       href="/share/getShareIndex/"
                       target="_self" data-hottag="download.detail.fast.1300" data-id="1300">返回</a>
                </div>
            </div>
            <!-- 轮播图 -->
            {#            <div class="cont-title">软件截图</div>#}
            <div id="banner">
                <div id="carousel">
                    {% for pic in shareInfo.picLists %}
                        <img src="{{ pic.fields.pic_url }}"
                             data-url="#">
                    {% endfor %}
                </div>
            </div>
            {{ shareInfo.content }}
        </div>
        <!-- 点赞或拍砖 -->
        <div class="like">
            <span>点赞or拍砖：</span>
            <i id="like" class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            <i id="nlike" class="fa fa-thumbs-o-down" aria-hidden="true"></i>
        </div>
    </div>
{% endblock %}

{% block jses %}
    <script src="/static/js/slider.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/like.js" type="text/javascript" charset="utf-8"></script>
    <script>


        $(function () {
            // 数据初始化加载
            $('#carousel').carousel({
                curDisplay: 0, //默认索引
                autoPlay: false, //是否自动播放
                interval: 3000 //间隔时间
            });

            var pclick_num1 = 0;
            var pclick_num2 = 0;
            var timer = null
            $("#like").click(function () {
                $.tipsBox({
                    obj: $(this),
                    str: "+ 1",
                    color: "#73fa0a",
                    callback: function () {
                    }
                });
                pclick_num1 += 1;
                setUpdate(1, pclick_num1)
            });

            $("#nlike").click(function () {
                $.tipsBox({
                    obj: $(this),
                    str: "- 1",
                    color: "#cd3d1f",
                    callback: function () {
                    }
                });
                pclick_num2 += 1;
                setUpdate(0, pclick_num2)
            });
            // 防抖节流
            function setUpdate(type, num) {
                timer && window.clearTimeout(timer)
                timer = setTimeout(function () {
                    share_like(type, num)
                }, 500)
            }

        }); // end onRead()
        var share_like = function (islike, click_num = 1) {
            url = '/share/share_like/';
            param = {
                'share_id':{{ shareInfo.share_id }},
                'islike': islike,
                'click_num': click_num,
            };
            $.get(url, param, function (data, success) {
                if (data.code == '200') {
                    {#alert(data.msg);#}
                    pclick_num1 = 0
                    pclick_num2 = 0
                }
                else {
                    {#alert(data.errmsg);#}
                }
            })
        };

        $(".show_more").click(function () {
            $(".show_more_box").hide(),
                $(".J_li_more").show()
        });
        $(".hide_more").click(function () {
            $(".show_more_box").show(),
                $(".J_li_more").hide()
        });

    </script>

{% endblock %}