{% extends "index.html" %}

{% block csses %}
    <link rel="stylesheet" href="/static/css/easy-upload.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-editable-select.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/flatpickr.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/flatpickr.material_green.min.css"/>
    <style type="text/css">
        label.item_title2 {
            width: 150px;
            display: inline-block;
            /* float: right; */
            /* text-align: right; */
        }

        input.flatpickr.flatpickr-input.active {
            height: 20px;
        }

        input.flatpickr.flatpickr-input {
            height: 20px;
        }

        a.button {
            background-color: #1552bd;
            color: #fff;
            line-height: 30px;
            padding: 3px 5px;
            display: inline-block;
            width: 90px;
            text-align: center;
            margin: 0px 10px;
            height: 30px;
        }

        div.oneElement input {
            padding-left: 5px;
        }

        input[type="text"] {
            height: 20px;
        }

        .preInput {
            display: inline-block;
            width: 170.8px;
        }

        input#editable-select {
            width: 155.8px;
            padding-left: 5px;
            padding-top: 1px;
            padding-bottom: 1px;
        }

        input.input_item {
            display: inline-block;
            width: 100%;
        }

        .FileUpload {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .FileUpload h3 {
            margin-bottom: 5px;
        }

        .ckeditorText label {
            margin-bottom: 5px;
        }

        .form_item i.fa.fa-asterisk, .FileUpload i.fa.fa-asterisk, .item_title2 i.fa.fa-asterisk {
            font-size: 10px;
            color: #FF5722;
            text-align: left;
            vertical-align: text-top;
        }

    input#p08_1 {
    width: 180.8px;
}
    </style>
{% endblock %}

<!-- 位置导航 -->
{% block pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="/share/getShareIndex/" class="islink">共享中心</a>
        <span>></span>
        <a href="javascript:;" class="islink">我要分享</a>
    </div>
{% endblock %}
<!-- //位置导航 -->

{% block right_content %}
    <div class="indexMain">
        <span class="infotitle">我要分享</span>
        <div class="right_inner_cont">
            <div class="uinfoForm" style="display: block;  margin: 0px 0px;">
                <div class="form_item"><label for="" class="item_title2">文件名称<i class="fa fa-asterisk"
                                                                                aria-hidden="true"></i>：</label>
                    <div class="preInput">
                        <input type="text" id="p01" placeholder="" unselectable="on" class="input_item">
                    </div>
                </div>
                <div class="form_item"><label for="" class="item_title2">共享类型<i class="fa fa-asterisk"
                                                                                aria-hidden="true"></i>：</label>
                    <select id="editable-select" name="sname" id="p02">
                        <option>代码框架</option>
                        <option>软件共享</option>
                        <option>数据共享</option>
                        <option>资料共享</option>
                    </select>
                </div>
                <div class="FileUpload">
                    <h3>文件Logo：</h3>
                    <div id="easyContainer">
                        {% csrf_token %}
                        <div class="easy_upload-container">
                            <div class="easy_upload-head"><input type="file" multiple="" class="fileInput"
                                                                 data-count="1"
                                                                 style="display:none;"><span
                                    class="easy_upload_select noselect">选择文件</span><span
                                    class="easy_upload_head_btn1 noselect">上传</span><span
                                    class="easy_upload_head_btn2 noselect">删除</span>
                                {#                    <i class="easyUploadIcon noselect head_check" data-checked="no"></i>#}
                                <i class="fa fa-square-o" aria-hidden="true"></i>
                                {# <i class="fa fa-check-square-o" aria-hidden="true"></i>#}
                                <span class="easy_upload_note">提示：提示信息</span>
                            </div>
                            <ul class="easy_upload_queue">
                                <li class="easy_upload_queue_item" data-index="0">
                                    <div class="easy_upload_preview queue_item-section"><i
                                            class="easy_upload_icon easyUploadIcon"></i>
                                    </div>
                                    <div class="easy_upload_file1 queue_item-section"><p
                                            class="easy_upload_filename">
                                        ACM模板-f_zyj v
                                        2.1.pdf</p>
                                        <p class="easy_upload_progress"><span class="easy_upload_bar"></span></p>
                                    </div>
                                    <div class="easy_upload_file2 queue_item-section"><p
                                            class="easy_upload_fiesize">
                                        1.38MB</p>
                                        <p class="easy_upload_percent">0%</p></div>
                                    <div class="easy_upload_status queue_item-section"><p class="status status1">
                                        可以上传</p>
                                        <p class="status status2">等待上传</p>
                                        <p class="status status3">上传中</p>
                                        <p class="status status4">上传失败</p>
                                        <p class="status status5">上传成功</p></div>
                                    <div class="easy_upload_btn queue_item-section"><p
                                            class="easy_upload_upbtn btn noselect">
                                        上传</p>
                                        <p class="easy_upload_delbtn btn noselect">删除</p></div>
                                    <div class="easy_upload_checkone queue_item-section">
                                        <i class="fa fa-square-o" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form_item"><label for="" class="item_title2">评分：</label>
                    <div class="preInput"><input id="p04" type="number" min="1" max="100" placeholder="0-100以内数字"
                                                 class="input_item"></div>
                </div>
                <div class="form_item"><label for="" class="item_title2">版本号：</label>
                    <div class="preInput"><input id="p05" placeholder="版本信息" class="input_item"></div>
                </div>
                <div class="form_item"><label for="" class="item_title2">支持系统：</label>
                    <div class="preInput"><input id="p06" type="text" placeholder="请输入支持系统信息" class="input_item"
                                                 value="WinXP/Vista/Win7/Win8/Win8.1/Win10">
                    </div>
                </div>
                <div class="form_item"><label for="" class="item_title2">支持系统位数：</label>
                    <div class="preInput"><input type="text" id="p07" placeholder="系统位数信息(默认为32/64)" class="input_item"
                                                 value="32/64"></div>
                </div>

                <div class="form_item"><label for="" class="item_title2">发布时间：</label>
                    <input class="flatpickr" data-enable-time=true data-enable-seconds=true name="stime" id="p08_1">
                </div>
                <div class="FileUpload">
                    <h3>展示照片：</h3>
                    <div id="easyContainer2">
                        <div class="easy_upload-container">
                            <div class="easy_upload-head"><input type="file" multiple="" class="fileInput"
                                                                 data-count="1"
                                                                 style="display:none;"><span
                                    class="easy_upload_select noselect">选择文件</span><span
                                    class="easy_upload_head_btn1 noselect">上传</span><span
                                    class="easy_upload_head_btn2 noselect">删除</span>
                                {#                    <i class="easyUploadIcon noselect head_check" data-checked="no"></i>#}
                                <i class="fa fa-square-o" aria-hidden="true"></i>
                                {# <i class="fa fa-check-square-o" aria-hidden="true"></i>#}
                                <span class="easy_upload_note">提示：提示信息</span>
                            </div>
                            <ul class="easy_upload_queue">
                                <li class="easy_upload_queue_item" data-index="0">
                                    <div class="easy_upload_preview queue_item-section"><i
                                            class="easy_upload_icon easyUploadIcon"></i>
                                    </div>
                                    <div class="easy_upload_file1 queue_item-section"><p class="easy_upload_filename">
                                        ACM模板-f_zyj v
                                        2.1.pdf</p>
                                        <p class="easy_upload_progress"><span class="easy_upload_bar"></span></p></div>
                                    <div class="easy_upload_file2 queue_item-section"><p class="easy_upload_fiesize">
                                        1.38MB</p>
                                        <p class="easy_upload_percent">0%</p></div>
                                    <div class="easy_upload_status queue_item-section"><p class="status status1">
                                        可以上传</p>
                                        <p class="status status2">等待上传</p>
                                        <p class="status status3">上传中</p>
                                        <p class="status status4">上传失败</p>
                                        <p class="status status5">上传成功</p></div>
                                    <div class="easy_upload_btn queue_item-section"><p
                                            class="easy_upload_upbtn btn noselect">
                                        上传</p>
                                        <p class="easy_upload_delbtn btn noselect">删除</p></div>
                                    <div class="easy_upload_checkone queue_item-section">
                                        <i class="fa fa-square-o" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="FileUpload">
                    <h3>文件上传<i class="fa fa-asterisk" aria-hidden="true"></i>：</h3>
                    <div id="easyContainer3">
                        <div class="easy_upload-container">
                            <div class="easy_upload-head"><input type="file" multiple="" class="fileInput"
                                                                 data-count="1"
                                                                 style="display:none;"><span
                                    class="easy_upload_select noselect">选择文件</span><span
                                    class="easy_upload_head_btn1 noselect">上传</span><span
                                    class="easy_upload_head_btn2 noselect">删除</span>
                                <i class="fa fa-square-o" aria-hidden="true"></i>
                                <span class="easy_upload_note">提示：提示信息</span>
                            </div>
                            <ul class="easy_upload_queue">
                                <li class="easy_upload_queue_item" data-index="0">
                                    <div class="easy_upload_preview queue_item-section"><i
                                            class="easy_upload_icon easyUploadIcon"></i>
                                    </div>
                                    <div class="easy_upload_file1 queue_item-section">
                                        <p class="easy_upload_filename"> ACM模板-f_zyj v 2.1.pdf</p>
                                        <p class="easy_upload_progress"><span class="easy_upload_bar"></span></p></div>
                                    <div class="easy_upload_file2 queue_item-section"><p class="easy_upload_fiesize">
                                        1.38MB</p>
                                        <p class="easy_upload_percent">0%</p></div>
                                    <div class="easy_upload_status queue_item-section"><p class="status status1">
                                        可以上传</p>
                                        <p class="status status2">等待上传</p>
                                        <p class="status status3">上传中</p>
                                        <p class="status status4">上传失败</p>
                                        <p class="status status5">上传成功</p></div>
                                    <div class="easy_upload_btn queue_item-section"><p
                                            class="easy_upload_upbtn btn noselect">
                                        上传</p>
                                        <p class="easy_upload_delbtn btn noselect">删除</p></div>
                                    <div class="easy_upload_checkone queue_item-section">
                                        <i class="fa fa-square-o" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ckeditorText">
                    <label for="" class="item_title2">简介<i class="fa fa-asterisk" aria-hidden="true"></i>：</label>
                    <textarea name="editor1"></textarea>
                </div>
                <div class="searchBtn btns" style="margin-top:15px">
                    <a type="button" href="javascript:;" onclick="uploadInfo()" class="button">提交</a>
                    <a type="button" href="javascript:;" class="button" onclick="go_back()">取消</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block jses %}

    <script type="text/javascript" src="/static/js/easyUpload.js"></script>
    <script src="/static/js/jquery-editable-select.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/flatpickr.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"
            data-ckeditor-basepath="/static/ckeditor/ckeditor/" id="ckeditor-init-script"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/static/js/MyJsUtils.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace("editor1", {
            toolbar: [
                ['Styles', 'Format', 'Bold', 'Italic', 'Underline', 'Strike', 'SpellChecker', 'Undo', 'Redo'],
                ['Link', 'Unlink', 'Anchor'],
                ['Image', 'Flash', 'Table', 'HorizontalRule'],
                ['TextColor', 'BGColor'],
                ['Smiley', 'SpecialChar'],
                ['CodeSnippet'], ['Source'],
            ],
            height: 291,
            width: 835,
            tabSpaces: 4,
            filebrowserWindowWidth: 940,
            filebrowserWindowHeight: 725,
        })

        $(function (){
            $('#editable-select').editableSelect({
                bg_iframe: true,
                case_sensitive: false,
                items_then_scroll: 10,
                isFilter: false
            });
            // 时间插件初始化
            document.getElementsByClassName("flatpickr").flatpickr();
        });

        // 文件Logo
        $('#easyContainer').easyUpload({
            allowFileTypes: '*.jpg;*.png;*.ico;',//允许上传文件类型，格式';*.doc;*.pdf'
            allowFileSize: 1000000000,//允许上传文件大小(KB)
            selectText: '选择照片LOGO',//选择文件按钮文案
            multi: false,//是否允许多文件上传
            multiNum: 5,//多文件上传时允许的文件数
            showNote: true,//是否展示文件上传说明
            cur_tag: 'easyContainer',
            note: '提示：仅上传一个文件，格式应为jpg、png、ico格式，大小为48*48px最佳;',//文件上传说明
            showPreview: true,//是否显示文件预览
            url: '/share/fileUpload/',//上传文件地址
            fileName: 'file',//文件filename配置参数
            formParam: {
                csrfmiddlewaretoken: $.cookie('csrftoken'),//不需要验证token时可以去掉
                fileType: '0'    // 0 文件Logo，1 文件截图 、 2 文件
            },//文件filename以外的配置参数，格式：{key1:value1,key2:value2}
            timeout: 10000,//请求超时时间
            successFunc: function (res) {
                console.log('成功回调', res);
            },//上传成功回调函数
            errorFunc: function (res) {
                console.log('失败回调', res);
            },//上传失败回调函数
            deleteFunc: function (res) {
                console.log('删除回调', res);
            }//删除文件回调函数
        });

        $('#easyContainer2').easyUpload({
            allowFileTypes: '*.jpg;*.png;*.ico;',//允许上传文件类型，格式';*.doc;*.pdf'
            allowFileSize: 1000000000,//允许上传文件大小(KB)
            selectText: '选择照片',//选择文件按钮文案
            multi: true,//是否允许多文件上传
            multiNum: 5,//多文件上传时允许的文件数
            showNote: true,//是否展示文件上传说明
            cur_tag: 'easyContainer2',
            note: '提示：可上传多个文件，格式应为jpg、png、ico格式',//文件上传说明
            showPreview: true,//是否显示文件预览
            url: '/share/fileUpload/',//上传文件地址
            fileName: 'file',//文件filename配置参数
            formParam: {
                csrfmiddlewaretoken: $.cookie('csrftoken'),//不需要验证token时可以去掉
                fileType: '1'   // 0 文件Logo，1 文件截图 、 2 文件
            },//文件filename以外的配置参数，格式：{key1:value1,key2:value2}
            timeout: 10000,//请求超时时间
            successFunc: function (res) {
                console.log('成功回调', res);
            },//上传成功回调函数
            errorFunc: function (res) {
                console.log('失败回调', res);
            },//上传失败回调函数
            deleteFunc: function (res) {
                console.log('删除回调', res);
            }//删除文件回调函数
        });

        $('#easyContainer3').easyUpload({
            allowFileTypes: '*.rar;*.zip;*.pdf;*.xls,*.xlxs,*.json,*.js,*.css,*.py,*.java;',//允许上传文件类型，格式';*.doc;*.pdf'
            allowFileSize: 1000000000,//允许上传文件大小(KB)
            selectText: '选择文件',//选择文件按钮文案
            multi: false,//是否允许多文件上传
            multiNum: 1,//多文件上传时允许的文件数
            showNote: true,//是否展示文件上传说明
            cur_tag: 'easyContainer3',
            note: '提示：仅上传一个文件包，.exe、.com、.sh、.bat等可执行的程序因有危险性质可能，文件拒绝上传，请压缩打包后再上传',//文件上传说明
            showPreview: false,//是否显示文件预览
            url: '/share/fileUpload/',//上传文件地址
            fileName: 'file',//文件filename配置参数
            formParam: {
                csrfmiddlewaretoken: $.cookie('csrftoken'),//不需要验证token时可以去掉
                fileType: '2'  // 0 文件Logo，1 文件截图 、 2 文件
            },//文件filename以外的配置参数，格式：{key1:value1,key2:value2}
            timeout: 10000,//请求超时时间
            successFunc: function (res) {
                console.log('成功回调', res);
            },//上传成功回调函数
            errorFunc: function (res) {
                console.log('失败回调', res);
            },//上传失败回调函数
            deleteFunc: function (res) {
                console.log('删除回调', res);
            }//删除文件回调函数
        });
        // 文件提交
        var uploadInfo = function () {
            alert('点击了提交');
            if ($.cookie('p10')==null){
                alert('请先提交文件，再总体提交');
                return false;
            };
            url = '/share/uploadInfo/';
            // （1代码、2软件 、3数据、4资料）
            classDic = {
                '代码框架':1,
                '软件共享':2,
                '数据共享':3,
                '资料共享':4,
            }

            var p1 = $('#p01').val();
            var p2 = $('#editable-select').val();
            var p3 = $.cookie('p03');
            var p4 = $('#p04').val();
            var p5 = $('#p05').val();
            var p6 = $('#p06').val();
            var p7 = $('#p07').val();
            var p08_1 = $('#p08_1').val();
            var p09 = $.cookie('p09');
            var p10 = $.cookie('p10');
            // var CHtml= CKEDITOR.instances.WORK_INTRODUCTION.getData(); 报错
            //  editor1 实例出的文本域对象
            var CHtml = CKEDITOR.instances.editor1.getData();
            var p11 = CHtml;
            var p12 = $.cookie('p12'); // 上传文件大小
            params = {
                "classType": classDic[p2],
                "share_name": p1,
                "star": p4,
                "logo_img": p3,
                "version": p5,
                "file_size": p12,
                "file_url": p10,
                "sup_sys_type": p6,
                "sup_sys_digits": p7,
                "update_time":p08_1,
                "pic_list":p09,
                "content": p11,
                "is_sys_upload": 0
            };
            console.log('文件上传参数：',params);

            $.post(url,params,function (data,status) {
                if(data.code!=200){
                    alert(data.errmsg)
                }
                else{
                    alert('上传成功')
                };
            });

        };
        // 取消 跳转到分享中心
        var go_back = function () {
            window.location.href = "/share/getShareIndex/";
        }


    </script>

{% endblock %}