{% extends "tools/base_tools.html" %}
{% load myhighlight %}
{% load extraTages %}

{% block css %}
    <style>
        span.highlighted {
            color: red;
        }

        .res-item {
            padding: 10px 10px;
            margin: 15px 0px;
            border: 1px solid #d2d2d2;
        }

        .res-item a {
            display: inline-block;
            width: 75%;
        }

        span.order-num {
            display: inline-block;
            width: 3%;
        }

        .res-item:hover {
            background-color: #efefef;
        }
    </style>
{% endblock %}

{% block tool_pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="javascript:;" class="islink">搜索结果</a>
    </div>
{% endblock %}

{% block tool_title %}
    <span class="infotitle">搜索结果</span>
{% endblock %}

{% block tool-item %}

    {% if query %}
        <h3>搜索结果如下：</h3>
        {% for result in page.object_list %}
            <div class="res-item">
                <span class="order-num">{{ page.number|searchmultiplyBy:10|add:forloop.counter }}</span>
                <a href="/articles/{{ result.object.pk }}">{% myhighlight result.object.title with query max_length 200 start_head True %}</a>
                <span class="author">by:{% myhighlight result.object.author with query max_length 200 start_head True %}</span>
            </div>

        {% empty %}
            <p>啥也没找到</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}
                    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页
                {% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页
                &raquo;
                {% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}

{% endblock %}

