<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="referrer" content="no-referrer">
    <link rel="shortcut icon" href="/static/images/webLogo.jpg">
    <link href="/static/css/main.css" type="text/css" rel="stylesheet" media="all">
    <link href="/static/css/reset.css" type="text/css" rel="stylesheet" media="all">
    <link href="/static/css/xcConfirm.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <!-- 还是保留使用tab样式，保持唯一和统一-->
    <link rel="stylesheet" type="text/css" href="/static/css/search-box.css" media="all">

    <!-- 工具类通用样式 -->
    <link rel="stylesheet" type="text/css" href="/static/css/tools.css">
    {% block css %}

    {% endblock %}
    <!-- 搜索列表 -->
    <style type="text/css">
        .right_content.fl {
            margin-left: 0;
            width: 1200px;
        }

        .tools-contents {
            padding: 15px;
        }


    </style>
    <title>在线工具</title>


</head>

<body>
<div class="head_context">
    <div class="headinfo">
        <div class="fl">
            欢迎登陆爬虫助手学习网站！
        </div>
        <div class="fr">
            <div class="logined_info  fl" style="display: none;">
                您好：<em>凯心酱O(∩_∩)0（默认）</em>
                <span>|</span>
                <a href="/user/logout/">退出</a>
            </div>
            <div class="login_btn fl">
                <a href="/user/">登录&amp;注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/">主页</a>
                <span>|</span>
                <a href="/user/changeUinfo/">个人信息</a>
                <span>|</span>
                <a href="/user/about/">关于</a>
            </div>
        </div>
    </div>
</div>
<div class="logo_search">
    <div class="web_logo">
        <a href="/">
            <img src="/static/images/webLogo.jpg" width="80px" height="80px" style="float: left;">
            <div class="logo_info_01 clearfix">
                <div class="type type01">爬虫助手学习网站</div>
                <div class="type type02">——进步路上，共勉共励！</div>
            </div>
        </a>
    </div>
    <div class="search_con fr">
        <input type="text" class="input_text fl" name="" placeholder="搜索内容">
        <input type="button" class="input_btn fr"  onclick="return search_index()"  name="" value="GO">
    </div>
</div>
<div class="shielded_line"></div>
<ul class="cross_menu clearfix">
    <li class="fl"><a href="/" class="islink">主页</a><span>|</span></li>
    <li class="fl"><a href="/articles/" class="islink">学习中心</a><span>|</span></li>
    <li class="fl"><a href="/share/getShareIndex/" class="islink">下载中心</a><span>|</span></li>
    <li class="fl"><a href="/tools/getToolIndex/" class="islink">常用工具</a><span>|</span></li>
    <li class="fl"><a href="#" class="islink">自定义爬虫</a><span>|</span></li>
    <li class="fl"><a href="/user/about/" class="islink">关于</a></li>
</ul>
<div class="shielded_line"></div>

<!-- 位置导航 -->
{% block tool_pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="/tools/getToolIndex/" class="islink">在线工具</a>
        <span>&gt;</span>
        <a href="javascript:;" class="islink">工具子标签</a>
    </div>
{% endblock %}
<!-- //位置导航 -->

<!--  左侧菜单栏 -->
<div class="total_content clearfix">

    <!-- 右侧内容 -->

    <div class="right_content fl">
        <div class="indexMain">
            {% block tool_title %}
                <span class="infotitle">在线工具</span>
                <div class="tabs-box">
                    <ul class="tab-head">
                        <li class="active"><a href="javascript:;">该类子工具1</a></li>
                        <li class=""><a href="javascript:;">该类子工具2</a></li>
                        <li class=""><a href="javascript:;">该类子工具3</a></li>
                        <li class=""><a href="javascript:;">该类子工具4</a></li>
                    </ul>
                </div>
            {% endblock %}
            <div class="tools-contents">
                {% block tool-item %}
                    <div class="tool-item">工具内容</div>
                {% endblock %}
            </div>
        </div>

    </div>

    <!-- //右侧内容 -->
</div>
<!-- //左侧菜单栏 -->

<!-- footer -->
<div class="footer">
    <div class="footer_context">
        <p>©2019河南工程学院、计算机学院</p>
        <p>计算机学院与技术 1541班 江凯 制作</p>
    </div>
</div>
<!-- //footer -->


<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/static/js/xcConfirm.js"></script>
<script type="text/javascript" src="/static/js/index_js.js"></script>
{% block js %}
{% endblock %}
<script>

    // 主页登录初始化：head_context 显示当前登录人
/*
    var uname = $.cookie('username');
    console.log(uname);
    if (uname == undefined) {
        $('div.logined_info.fl').hide();
    } else {
        $('div.login_btn.fl > a').hide();
        $('div.logined_info.fl > em').html(uname);
        $('div.logined_info.fl').show();
    }
    ;
    */
    //主页登录初始化end
    /*
    var search_index = function () {
        console.log('hello');
        var findStr = $('div.search_con.fr > input.input_text.fl').val();
        console.log(findStr);
        window.location.href = "/search/?q=教程&page=2"

    };
*/
</script>


</body>
</html>