{% extends "tools/base_tools.html" %}
<!-- base_tools for type in(31,32) -->
{% block tool_pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="/tools/getToolIndex/" class="islink">在线工具</a>
        <span>&gt;</span>
        <a href="javascript:;" class="islink">网站相关</a>
    </div>
{% endblock %}
<!-- //位置导航 -->

{% block tool_title %}
    <span class="infotitle">网站相关</span>
    <div class="tabs-box">
        <ul class="tab-head">
            <li class="active"><a href="/tools/?type=41">错误状态码</a></li>
            <li class=""><a href="/tools/?type=42">验证码识别</a></li>
        </ul>
    </div>
{% endblock %}
