{% extends "tools/base_tools.html" %}
<!-- base_tools for type in(1,2,3,4) -->
<!-- 位置导航 -->
{% block tool_pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="/tools/getToolIndex/" class="islink">在线工具</a>
        <span>&gt;</span>
        <a href="javascript:;" class="islink">选择器</a>
    </div>
{% endblock %}
<!-- //位置导航 -->



{% block tool_title %}
    <span class="infotitle">选择器</span>
    <div class="tabs-box">
        <ul class="tab-head">
            <li class="active"><a href="/tools/?type=1">xpath选择器</a></li>
            <li class=""><a href="/tools/?type=2">CSS选择器</a></li>
            <li class=""><a href="/tools/?type=3" style="width:auto;padding-left:4px;padding-right:4px">Beautiful Soup</a>
            </li>
            <li class=""><a href="/tools/?type=4">正则表达式</a></li>
        </ul>
    </div>
{% endblock %}
