{% extends "tools/base_tools.html" %}
<!-- base_tools for type in(1,2,3,4) -->
{% block tool_pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="/tools/getToolIndex/" class="islink">在线工具</a>
        <span>&gt;</span>
        <a href="javascript:;" class="islink">编码加密</a>
    </div>
{% endblock %}
<!-- //位置导航 -->


{% block tool_title %}
    <span class="infotitle">编码加密</span>
    <div class="tabs-box">
        <ul class="tab-head">
            <li class="active"><a href="/tools/?type=21">Unicode</a></li>
            <li class=""><a href="/tools/?type=22">UTF-8</a></li>
            <li class=""><a href="/tools/?type=23">ASCII</a></li>
            <li class=""><a href="/tools/?type=24">URL编码</a></li>
            <li class=""><a href="/tools/?type=25">hash加密</a></li>
        </ul>
    </div>
{% endblock %}
