{% extends "tools/base_tools.html" %}
<!-- base_tools for type in(31,32) -->
<!-- 位置导航 -->
{% block tool_pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="/tools/getToolIndex/" class="islink">在线工具</a>
        <span>&gt;</span>
        <a href="javascript:;" class="islink">反爬配置</a>
    </div>
{% endblock %}
<!-- //位置导航 -->

{% block tool_title %}
    <span class="infotitle">反爬配置</span>
    <div class="tabs-box">
        <ul class="tab-head">
            <li class="active"><a href="/tools/?type=31">反爬UA</a></li>
            <li class=""><a href="/tools/?type=32">IP代理</a></li>
        </ul>
    </div>
{% endblock %}
