{% extends "tools/btool_class01.html" %}

{% block css %}
{% endblock %}

{% block tool-item %}
    <div class="tool-item">
        <div class="topBar">
            <textarea id="textSour" placeholder="在此输入待匹配文本"></textarea>
        </div>
        <div class="operateTB">
            <form class="well form-inline">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="basic-addon1">XPATH表达式</span>
                    <input type="text" style="width: 400px;" class="form-control" id="textPattern"
                           placeholder="在此输入XPATH达式">
                </div>
                <a onclick="return onMatch();" class="button"><i
                        class="icon-chevron-down icon-white"></i>测试匹配</a>
                <a onclick="return showDemo();" class="button"><i
                        class="icon-chevron-down icon-white"></i>测试用例</a>
                <a onclick="return reset();" class="button"><i class="icon-chevron-down icon-white"></i>清空</a>
            </form>
        </div>
        <div class="bottomBar">
            <div class="title">匹配结果：</div>
            <textarea readonly="readonly" id="textMatchResult"></textarea>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function reset() {
            $("#textPattern").val('');
            $("#textSour").val('');
            $("#textMatchResult").val('');
        };

        function onMatch() {
            var pattern = $("#textPattern").val();
            var xmlstr = $("#textSour").val();

            var xmldom = null;
            var parser = new DOMParser();
            xmldom = parser.parseFromString(xmlstr, "text/xml");
            var result = xmldom.evaluate(pattern, xmldom.documentElement, null, XPathResult.ORDERED_NODE_ITETATOR_TYPE, null);
            if (result !== null) {
                var node = result.iterateNext();
                if (node == null) {
                    $("#textMatchResult").val("未匹配到相关内容");
                }
                while (node) {
                    console.log(node.innerHTML);
                    $("#textMatchResult").val($("#textMatchResult").val()+ node.innerHTML+'\n');
                    node = result.iterateNext();
                }
            }
        };
        function showDemo() {
            $("#textSour").val('<ul class="tab-head">\n' +
                '    <li><a href="javascript:;" name="#tab1">代码框架</a></li>\n' +
                '    <li><a href="javascript:;" name="#tab2">软件工具</a></li>\n' +
                '    <li><a href="javascript:;" name="#tab3">爬虫数据</a></li>\n' +
                '    <li><a href="javascript:;" name="#tab4">学习资料</a></li>\n' +
                '</ul>');
            $("#textPattern").val('//li/a');
        };
    </script>
{% endblock %}