{% extends "tools/btool_class02.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
{% endblock %}

{% block tool-item %}
    <div class="tool-item">
        <div class="topBar">
            <div class="title">明文：</div>
            <textarea name="message" id="message_source" class="text_source">Make every day count</textarea>
        </div>
        <div class="operateTB">
            <form class="well form-inline">


                <a onclick="return showDemo();" class="button">
                    <i class="icon-chevron-down icon-white"></i>测试用例</a>

                <div class="toolRegexDemo">
                    <div class="viewBox viewBox1">
                        <input type="text" class="viewInput" readonly="readonly">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <ul class="optionBox optionBox1">
                        <li id="btn_sha1" onclick="javascript:hash('sha1');" value=1>SHA1</li>
                        <li id="btn_sha224" onclick="javascript:hash('sha224');" value=2>SHA224</li>
                        <li id="btn_sha256" onclick="javascript:hash('sha256');" value=3>SHA256</li>
                        <li id="btn_sha384" onclick="javascript:hash('sha384');" value=4>SHA384</li>
                        <li id="btn_sha512" onclick="javascript:hash('sha512');" value=5>SHA512</li>
                        <li id="btn_md5" onclick="javascript:hash('md5');" value=6>MD5</li>
                        <li id="btn_hmacsha1" onclick="javascript:show_pwd('hmacsha1');" value=7>HmacSHA1</li>
                        <li id="btn_hmacsha224" onclick="javascript:show_pwd('hmacsha224');" value=8>HmacSHA224</li>
                        <li id="btn_hmacsha256" onclick="javascript:show_pwd('hmacsha256');" value=9>HmacSHA256</li>
                        <li id="btn_hmacsha384" onclick="javascript:show_pwd('hmacsha384');" value=10>HmacSHA384</li>
                        <li id="btn_hmacsha512" onclick="javascript:show_pwd('hmacsha512');" value=11>HmacSHA512</li>
                        <li id="btn_hmacmd5" onclick="javascript:show_pwd('hmacmd5');" value=12>HmacMD5</li>
                        <li id="btn_pbkdf2" onclick="javascript:show_pwd('pbkdf2');" value=13>PBKDF2</li>
                    </ul>
                </div>

                <a onclick="return reset();" class="button"><i class="icon-chevron-down icon-white"></i>清空</a>
            </form>
            <div class="pwdSpan">
                <span style="display: none;" id="p_span">
                    <div class="input-prepend">
                        <input type="hidden" id="hmac_type" value=""/>
                        <span class="add-on">密钥:</span><input type="text" length="40" id="pwd" placeholder="在此输入密钥"/>
                        <a class="button" href="javascript:hash($('#hmac_type').val());">计算哈希</a>
                    </div>
                </span>

                <span style="display: none;" id="k_span">
    					<label>key长度:
    					<select id="key_size" class="input-small">
    						<option value="4" selected="selected">128位</option>
    						<option value="8">256位</option>
    						<option value="16">512位</option>
    					</select>
    					</label>
						<div class="item_prepend">
    					<span class="add-on">盐：</span><input type="text" id="salt" class="input-small"
                                                             placeholder="在此输入盐"></div>
						<div class="item_prepend">
    					<span class="add-on">迭代次数：</span><input type="text" id="iterations" class="input-small"
                                                                placeholder="输入迭代次数" oninput = "value=value.replace(/[^\d]/g,'')"></div>
                    <a class="button" href="javascript:hash($('#hmac_type').val());">计算哈希</a>
                </span>
            </div>


        </div>
        <div class="bottomBar">
            <div class="title">哈希值：</div>
            <textarea readonly="readonly" id="hash_result"></textarea>
        </div>

        <div class="tool-remark" style="font-size: 15px;color: #00BFFF">
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/crypto-js/core-min.js"></script>
    <script type="text/javascript" src="/static/js/crypto-js/sha1.js"></script>
    <script type="text/javascript" src="/static/js/crypto-js/sha256.js"></script>
    <script type="text/javascript" src="/static/js/crypto-js/sha512.js"></script>
    <script type="text/javascript" src="/static/js/crypto-js/md5.js"></script>
    <script type="text/javascript" src="/static/js/crypto-js/hmac-sha1.js"></script>
    <script type="text/javascript" src="/static/js/crypto-js/hmac-sha224.js"></script>
    <script type="text/javascript" src="/static/js/crypto-js/hmac-sha256.js"></script>
    <script type="text/javascript" src="/static/js/crypto-js/hmac-sha384.js"></script>
    <script type="text/javascript" src="/static/js/crypto-js/hmac-sha512.js"></script>
    <script type="text/javascript" src="/static/js/crypto-js/hmac-md5.js"></script>
    <script type="text/javascript" src="/static/js/crypto-js/pbkdf2.js"></script>



    <script>
        var hash_result = ''
        $(function () {
            $('ul > li.active').removeClass('active');
            $('ul > li:nth-child(5)').addClass('active');
            dropBoxInit();
        });

        function reset() {
            $("#message_source").val('');
            $("#pwd").val('');
            $("#textMatchResult").val('');
            $("#salt").val('');
            $("#iterations").val('');
            $("#hash_result").val('');
            hash_result = ''
        };

        function hideSpan() {
            $("#p_span").hide();
            $("#k_span").hide();
        }

        function hash(type) {

            if (!$("#message_source").val()) {
                $('#hash_result').val("请先输入明文");
                return;
            }
            switch (type) {
                case "sha1":
                    hideSpan();
                    $('#hash_result').val(CryptoJS.SHA1($("#message_source").val()));
                    break;
                case "sha224":
                    hideSpan();
                    $('#hash_result').val(CryptoJS.SHA224($("#message_source").val()));
                    break;
                case "sha256":
                    hideSpan();
                    $('#hash_result').val(CryptoJS.SHA256($("#message_source").val()));
                    break;
                case "sha384":
                    hideSpan();
                    $('#hash_result').val(CryptoJS.SHA384($("#message_source").val()));
                    break;
                case "sha512":
                    hideSpan();
                    $('#hash_result').val(CryptoJS.SHA512($("#message_source").val()));
                    break;
                case "md5":
                    hideSpan();
                    $('#hash_result').val(CryptoJS.MD5($("#message_source").val()));
                    break;
                case "hmacsha1":
                    $('#hash_result').val(CryptoJS.HmacSHA1($("#message_source").val(), $("#pwd").val()));
                    break;
                case "hmacsha224":
                    $('#hash_result').val(CryptoJS.HmacSHA224($("#message_source").val(), $("#pwd").val()));
                    break;
                case "hmacsha256":
                    $('#hash_result').val(CryptoJS.HmacSHA256($("#message_source").val(), $("#pwd").val()));
                    break;
                case "hmacsha384":
                    $('#hash_result').val(CryptoJS.HmacSHA384($("#message_source").val(), $("#pwd").val()));
                    break;
                case "hmacsha512":
                    $('#hash_result').val(CryptoJS.HmacSHA512($("#message_source").val(), $("#pwd").val()));
                    break;
                case "hmacmd5":
                    $('#hash_result').val(CryptoJS.HmacMD5($("#message_source").val(), $("#pwd").val()));
                    break;
                case "pbkdf2":
                    if ($("#iterations").val()!='') {
                        var salt = CryptoJS.enc.Utf8.parse($("#salt").val());
                        var hash_str_pbkdf2 = CryptoJS.PBKDF2(
                            $("#message_source").val(), salt,
                            {
                                keySize: parseInt($("#key_size").val()),
                                iterations: parseInt($("#iterations").val())
                            }
                        );
                        $('#hash_result').val(hash_str_pbkdf2);
                    }
                    else {
                        alert("迭代次数为必填项");
                        $("#salt").val("")
                    }
                    break;
            }
        };


        function show_pwd(type) {
            if ("pbkdf2" != type) {
                $("#p_span").show().css("display", "block");
                $("#k_span").hide();
            }
            else {
                $("#p_span").hide();
                $("#k_span").show().css("display", "block");
            }
            $("#hmac_type").val(type);
            $("#hash_result").val("");
        };


        function showDemo() {
            $("#message_source").val('Make every day count');
        };

        function onReplace() {
            var str = document.getElementById("textSour").value;
            var regex = buildRegex();
            $('#textReplaceResult')
            document.getElementById("textReplaceResult").value = str.replace(regex, document.getElementById("textReplace").value);
        }


        // 下拉框初始化
        var dropBoxInit = function () {
            $(".viewInput").val("选择哈希类型");
            $('.optionBox1').hide();
            var curTag = $('.toolRegexDemo');
            $(".viewBox").unbind('click').click(function () {
                var curParent = $(this).parent();
                curTag = curParent;
                if (curParent.find(".optionBox").css("display") == "none") {
                    curParent.find(".optionBox").show();
                    curParent.find("i.fa").removeClass('fa-caret-down').addClass('fa-caret-up')
                } else {
                    curParent.find(".optionBox").hide();
                    curParent.find("i.fa").removeClass('fa-caret-up').addClass('fa-caret-down')
                }
            });
            // 修改响应下拉框
            var checkOption = curTag.find(".optionBox li");
            checkOption.click(function () {
                console.log('点击了');

                var index = curTag.find(".optionBox li").index(this);
                var indexVal = curTag.find(".optionBox li:eq(" + index + ")").html();
                curTag.find(".viewInput").val(indexVal);
                $('#textPattern').val($(this).attr('value'));
                if ($('.toolRegexDemo').find(".optionBox").css("display") == "none") {
                    $('.toolRegexDemo').find("i.fa").removeClass('fa-caret-down').addClass('fa-caret-up')
                } else {
                    $('.toolRegexDemo').find(".optionBox").hide();
                    $('.toolRegexDemo').find("i.fa").removeClass('fa-caret-up').addClass('fa-caret-down')
                }
            })
        };


    </script>
{% endblock %}