{% extends "tools/btool_class04.html" %}

{% block css %}
    <style>
        .resultContent {
            padding: 5px;
            border-radius: 4px;
            border: 1px solid #bebebe;
        }

        .sc-out p {
            text-indent: 2em;
        }

        .sc-type, .sc-code, .sc-enName, .sc-info {
            margin: 10px auto;
        }

        .sc-out {
            margin-top: 4px;
        }

    </style>
{% endblock %}

{% block tool-item %}
    <div class="tool-item">
        <div class="operateTB">
            <form class="well form-inline">
                <span>请输入状态码: </span>
                <input type="text" style="width:100px" name="sc-input" id='sc-input'
                       oninput="value=value.replace(/[^\d]/g,'')">
                <a onclick="return onFind();" class="button">查询</a>
                <a onclick="return reset();" class="button">
                    <i class="icon-chevron-down icon-white"></i>清空</a>
            </form>
        </div>
        <div class="bottomBar">
            <div class="title">查询结果：</div>
            <div class="resultContent">
                <div class="sc-type">
                    <strong>类型：</strong>
                    <div class="sc-out"><p>消息</p></div>
                </div>
                <div class="sc-code">
                    <strong>状态码：</strong>
                    <div class="sc-out"><p>101</p></div>
                </div>
                <div class="sc-enName">
                    <strong>英文名：</strong>
                    <div class="sc-out"><p>Switching Protocols</p></div>
                </div>
                <div class="sc-info">
                    <strong>状态含义：</strong>
                    <div class="sc-out"><p>服务器已经理解了客户端的请求，并将通过Upgrade
                        消息头通知客户端采用不同的协议来完成这个请求。在发送完这个响应最后的空行后，服务器将会切换到在Upgrade 消息头中定义的那些协议。</p>
                        <p>只有在切换新的协议更有好处的时候才应该采取类似措施。例如，切换到新的HTTP 版本比旧版本更有优势，或者切换到一个实时且同步的协议以传送利用此类特性的资源。</p></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function reset() {
            $("#sc-input").val('');
            $(".resultContent").hide();
            $('.bottomBar .title').hide();
        };
        // 预加载
        $(function () {
            $('ul > li.active').removeClass('active');
            $('ul > li:nth-child(1)').addClass('active');
            reset();
            $('#sc-input').bind('keypress', function (event) {
                if (event.keyCode == "13") {
                    onFind();
                    return false;
                }
            });
        });

        function onFind() {
            var v = $('#sc-input').val()
            $.get('/tools/findSC/', {'sc_value': v}, function (data, success) {
                if (data.code = "200") {
                    console.log('data', data);
                    $('div.sc-type > div > p').html(data.findData.sc_type_name);
                    $('div.sc-code > div > p').html(data.findData.sc_code);
                    $('div.sc-enName > div > p').html(data.findData.sc_en_name);
                    $('div.sc-enName > div > p').html(data.findData.sc_en_name);
                    $('div.resultContent > div.sc-info > div').html(data.findData.sc_info);
                }
            })
            $('.bottomBar .title').show();
            $(".resultContent").show();
        };


    </script>
{% endblock %}