{% extends "tools/btool_class02.html" %}

{% block css %}
{% endblock %}

{% block tool-item %}d
    <div class="tool-item clearfix">
        <div class="leftBar">
            <div class="title">英文中文:</div>
            <textarea style="width: 517px;" name="cipher" id="n_source">https://www.baidu.com/s?ie=utf-8&f=3wd=中通</textarea>
        </div>

        <div class="operateLR" style="width: 100px;">
            <div class="OptDetail Button">
                <label class="checkbox"><input type="checkbox" name="ignoreLetter" id="ignoreLetter" checked="true">使用encodeURI</label>
                <label class="checkbox"><input type="checkbox" name="ignoreLetter" id="ignoreLetter" checked="true">使用encode
                    URIComponent</label>
                <a onclick="javascript:native2ascii();" class="button">ASCII
                    <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left:5px"></i></a>
                <a onclick="javascript:ascii2native();" class="button">
                    <i class="fa fa-arrow-left" aria-hidden="true" style="margin-right: 5px;"></i>中英文</a>
                <a onclick="reset();" class="button">清空</a>
            </div>
        </div>

        <div class="rightBar">
            <div class="title">Unicode:</div>
            <textarea style="width: 517px;" name="message" id="u_source" class="text_source"></textarea>
        </div>

        <div class="tool-remark" style="font-size: 15px;color: #00BFFF">
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>

        $(function () {
            $('ul > li.active').removeClass('active');
            $('ul > li:nth-child(4)').addClass('active');
        });

        function native2ascii() {
            var character = document.getElementById("n_source").value.split("");
            var ascii = "";
            for (var i = 0; i < character.length; i++) {
                var code = Number(character[i].charCodeAt(0));
                if (!document.getElementById("ignoreLetter").checked || code > 127) {
                    var charAscii = code.toString(16);
                    charAscii = new String("0000").substring(charAscii.length, 4) + charAscii;
                    ascii += "\\u" + charAscii;
                }
                else {
                    ascii += character[i];
                }
            }
            document.getElementById("u_source").value = ascii;
        }

        function ascii2native() {
            var character = document.getElementById("u_source").value.split("\\u");
            var native1 = character[0];
            for (var i = 1; i < character.length; i++) {
                var code = character[i];
                native1 += String.fromCharCode(parseInt("0x" + code.substring(0, 4)));
                if (code.length > 4) {
                    native1 += code.substring(4, code.length);
                }
            }
            document.getElementById("n_source").value = native1;
        }

        function reset() {
            $("#n_source").val('');
            $("#u_source").val('');
        }

    </script>
{% endblock %}