{% extends "tools/btool_class01.html" %}

{% block css %}

{% endblock %}

{% block tool-item %}
    <div class="tool-item">
        <div class="topBar">
            <textarea id="textSour" placeholder="在此输入待匹配文本"></textarea>
        </div>
        <div class="operateTB">
            <form class="well form-inline">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="basic-addon1">BS表达式</span>
                    <input type="text" style="width: 400px;" class="form-control" id="textPattern"
                           placeholder="在此输入BeautifulSoup表达式">
                </div>
                <a onclick="return onMatch();" class="button"><i
                        class="icon-chevron-down icon-white"></i>测试匹配</a>
                <a onclick="return showDemo();" class="button"><i
                        class="icon-chevron-down icon-white"></i>测试用例</a>
                <a onclick="return reset();" class="button"><i class="icon-chevron-down icon-white"></i>清空</a>
            </form>
        </div>
        <div class="bottomBar">
            <div class="title">匹配结果：</div>
            <textarea readonly="readonly" id="textMatchResult"></textarea>
        </div>
    <div class="tool-remark" style="font-size: 15px;color: #00BFFF">
        <p>备注：由与页面的局限性以及调用执行语句的安全性考虑，目前对BeautifulSoup对核心功能演练支持的操作有：</p>
        <ul style="display: inline-block;">
            <li>元素选择（eg:.title)</li>
            <li>信息选择（eg:.name)</li>
            <li>获取属性（eg:p.attrs['name'])</li>
            <li>获取内容（eg:.title.string)</li>
            <li>嵌套选择（eg:.p.b)</li>
            <li>关联选择（eg:.p.contents|children|parent|sibling)</li>
            <li>查找选择（eg:.find_all(name="title"|attrs={'name':'dromouse'}|text=re.compile('^.*story.*?$'))</li>
            <li>css选择（eg:.select("p.title b"))</li>

        </ul>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        $(function () {
            $('ul > li.active').removeClass('active');
            $('ul > li:nth-child(3)').addClass('active');
        });


        function reset() {
            $("#textPattern").val('');
            $("#textSour").val('');
            $("#textMatchResult").val('');
        };

        function onMatch() {
            $("#textMatchResult").val('');
            var bsStr = $("#textSour").val();
            var pattern = $("#textPattern").val();
            if (pattern.substring(0,3)!= 'bs.'){
                alert('请以bs作为BeautifulSoup对象，例如 bs.title.string');
                $("#textPattern").val('');
                return;
            }
            param ={
                'html':bsStr,
                'exceStr':pattern
            }
            $.post('/tools/bsExce/',param,function (data , success) {
                console.log(data);
                if(data.code=="200"){
                    $("#textMatchResult").val(data.resData);
                }
                else{
                    $("#textMatchResult").val("未匹配到相关内容");
                }
            })
        };

        function showDemo() {
            $("#textSour").val('<html><head><title>The Dormouse\'s story</title></head>\n' +
                '<body>\n' +
                '<p class="title" name="dromouse"><b>The Dormouse\'s story</b></p>\n' +
                '<p class="story">Once upon a time there were three little sisters; and their names were\n' +
                '<a href="http://example.com/elsie" class="sister" id="link1"><!-- Elsie --></a>,\n' +
                '<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and\n' +
                '<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;\n' +
                'and they lived at the bottom of a well.</p>\n' +
                '<p class="story">...</p>');
            $("#textPattern").val('bs.title.string');
        };
    </script>
{% endblock %}