{% extends "tools/btool_class01.html" %}

{% block css %}

{% endblock %}

{% block tool-item %}
    <div class="tool-item">
        <div class="topBar">
            <textarea id="textSour" placeholder="在此输入待匹配文本"></textarea>
        </div>
        <div class="operateTB">
            <form class="well form-inline">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="basic-addon1">CSS选择器表达式</span>
                    <input type="text" style="width: 400px;" class="form-control" id="textPattern"
                           placeholder="在此输入CSS选择器表达式">
                </div>
                <a onclick="return onMatch();" class="button">测试匹配</a>
                <a onclick="return showDemo();" class="button">测试用例</a>
                <a onclick="return reset();" class="button">清空</a>
            </form>
        </div>
        <div class="bottomBar">
            <div class="title">匹配结果：</div>
            <textarea readonly="readonly" id="textMatchResult"></textarea>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            $('ul > li.active').removeClass('active');
            $('ul > li:nth-child(2)').addClass('active');
        });

        function reset() {
            $("#textPattern").val('');
            $("#textSour").val('');
            $("#textMatchResult").val('');
        };
        <!-- 创建一个隐藏标签里面存放用户插入的html 然后正常用jquery 匹配 -->
        function onMatch() {
            var pattern = $("#textPattern").val();
            var cssStr = $("#textSour").val();
            $("#textMatchResult").val('');
            $('.topBar .hideTag').remove();
            $('.topBar').append('<div class="hideTag" style="display:none">'+cssStr+'</div>');
            var resNode = $('.hideTag '+pattern);
            console.log('$resNode=',$(resNode));
            if ($(resNode).length>0){
            $(resNode).each(function () {
                console.log($(this).html());
                $("#textMatchResult").val($("#textMatchResult").val()+ $(this).html()+'\n');
            })}
            else{
                $("#textMatchResult").val("未匹配到相关内容");
            }
            // $("#textMatchResult").val();
        };

        function showDemo() {
            $("#textSour").val('<ul class="tab-head">\n' +
                '    <li><a href="javascript:;" name="#tab1">代码框架</a></li>\n' +
                '    <li><a href="javascript:;" name="#tab2">软件工具</a></li>\n' +
                '    <li><a href="javascript:;" name="#tab3">爬虫数据</a></li>\n' +
                '    <li><a href="javascript:;" name="#tab4">学习资料</a></li>\n' +
                '</ul>');
            $("#textPattern").val('.tab-head li:last-child');
        };
    </script>
{% endblock %}