{% extends "tools/btool_class02.html" %}

{% block css %}
{% endblock %}

{% block tool-item %}
    <div class="tool-item clearfix">
        <div class="leftBar">
            <div class="title">英文中文:</div>
            <textarea name="cipher" id="n_source">即使是不好的经历，也能从中吸取经验。
Even the bad experiences can be learned from.</textarea>
        </div>

        <div class="operateLR">
            <div class="OptDetail Button">
                <a onclick="javascript:Native2UTF8();" class="button">UTF-8<i class="fa fa-arrow-right"
                                                                              aria-hidden="true"
                                                                              style="margin-left:5px"></i></a>
                <a onclick="javascript:UTF82Native();" class="button"><i class="fa fa-arrow-left" aria-hidden="true"
                                                                         style="margin-right: 5px;"></i>中英文</a>
                <a onclick="reset();" class="button">清空</a>
            </div>
        </div>

        <div class="rightBar">
            <div class="title">Unicode:</div>
            <textarea name="message" id="u_source" class="text_source"></textarea>
        </div>

        <div class="tool-remark" style="font-size: 15px;color: #00BFFF">
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>

        $(function () {
            $('ul > li.active').removeClass('active');
            $('ul > li:nth-child(2)').addClass('active');
        });

        //native 转换 utf8
        function Native2UTF8() {

            var n_s = $("#n_source").val();
            if ('' == n_s) {
                alert('请输入Native字符串');
                return;
            }
            $("#u_source").val(n_s.replace(/[^\u0000-\u00FF]/g, function ($0) {
                return escape($0).replace(/(%u)(\w{4})/gi, "&#x$2;")
            }));
        }

        //UTF-8 转换 Native
        function UTF82Native() {
            var code = $("#u_source").val();
            $("#n_source").val(unescape(code.replace(/&#x/g, '%u').replace(/;/g, '')));
        }

        function reset() {
            $("#n_source").val('');
            $("#u_source").val('');
        }
    </script>
{% endblock %}