{% extends "tools/btool_class04.html" %}

{% block css %}
    <style>
        select#ua_cls01, select#ua_cls02, select#ua_cls03 {
            height: 25px;
            margin: auto 5px;
        }

        div#sanji {
            text-align: center;
        }

        select#ua_cls01 {
        }

        div.input-group.input-group-sm {
            height: 26.24px;
        }

        div#sanji {
            height: 26.24px;
        }

        form#uploadForm {
            padding: 5px;
            border-radius: 4px;
            border: 1px solid #bebebe;
        }

        #uploadForm input {
            text-indent: 0.2em;
        }
    </style>
{% endblock %}

{% block tool-item %}
    <div class="tool-item">
        <div class="FileUpload">
            <h3>上传照片：</h3>
            <form id="uploadForm">
                {% csrf_token %}
                <input type="file" name="file" accept="image/*">
                <input type="checkbox" name="prefz_select" id="fz_select" value="0">使用灰度、二值化
                <input type="hidden" name="fz_select" id="fz_select" value="0">
                <input type="text" style="width:50px;display: none;" name="fz_value" id="fz_value"
                       oninput="value=value.replace(/[^\d]/g,'')" value="100">
                {#                <input type="submit" class="">#}
                <a type="submit" onclick="return up()" class="button">提交</a>
                <a onclick="return reset();" class="button">清空</a>
            </form>
        </div>
        <div class="bottomBar">
            <div class="title">识别结果：</div>
            <textarea readonly="readonly" id="textMatchResult"></textarea>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/easyUpload.js"></script>
    <script>
        function reset() {
            $('#uploadForm > input[type="file"]').remove();
            $('#uploadForm ').prepend('<input type="file" name="file" accept="image/*">');
            $("#textMatchResult").val('');
        };


        // 预加载
        $(function () {
            $('ul > li.active').removeClass('active');
            $('ul > li:nth-child(2)').addClass('active');

            $("input[type='checkbox']").change(function () {
                if ($("input[type='checkbox']").is(':checked')) {
                    $('#fz_value').show()
                    $('#fz_select').val('1');
                }
                else {
                    $('#fz_value').hide()
                    $('#fz_select').val('0');
                }
            })


        });

        // 方法1： 通过a 标签提交
        function up() {
            var data = new FormData($('#uploadForm')[0]);
            console.log('发送参数：', data);
            $.ajax({
                url: '/tools/ocrPic/',
                type: 'POST',
                data: data,
                dataType: 'JSON',
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.code == "200") {
                        console.log("fData:", data);
                        $('#textMatchResult').val(data.ocrResult);
                    }
                    else {
                        alert(data.errmsg)
                    }
                },
                error: function (data) {
                    alert("网络错误");
                }
            });
            return false;
        }

        // 方法2：
        $('#uploadForm').submit(function () {
            var data = new FormData($('#uploadForm')[0]);
            console.log('发送参数：', data);
            $.ajax({
                url: '/tools/ocrPic/',
                type: 'POST',
                data: data,
                dataType: 'JSON',
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.code == "200") {
                        console.log("fData:", data);
                        $('#textMatchResult').val(data.ocrResult);
                    }
                    else {
                        alert(data.errmsg)
                    }
                },
                error: function (data) {
                    alert("网络错误");
                }
            });
            return false;
        });


    </script>
{% endblock %}