{% extends "tools/btool_class02.html" %}

{% block css %}
{% endblock %}

{% block tool-item %}
    <div class="tool-item clearfix">
        <div class="leftBar">
            <div class="title">英文中文:</div>
            <textarea name="cipher" id="n_source">即使是不好的经历，也能从中吸取经验。
Even the bad experiences can be learned from.</textarea>
        </div>

        <div class="operateLR">
            <div class="OptDetail Button">
                <a onclick="javascript:Native2Unicode();" class="button">Unicode<i class="fa fa-arrow-right"
                                                                                   aria-hidden="true"
                                                                                   style="margin-left:5px"></i></a>
                <a onclick="javascript:Unicode2Native();" class="button"><i class="fa fa-arrow-left" aria-hidden="true"
                                                                            style="margin-right: 5px;"></i>中英文</a>
                <a onclick="reset();" class="button">清空</a>
            </div>
        </div>

        <div class="rightBar">
            <div class="title">Unicode:</div>
            <textarea name="message" id="u_source" class="text_source"></textarea>
        </div>

        <div class="tool-remark" style="font-size: 15px;color: #00BFFF">
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $('ul > li.active').removeClass('active');
            $('ul > li:nth-child(1)').addClass('active');
        });

        //Native 转换 Unicode
        function Native2Unicode() {
            var a_s = $("#n_source").val();
            if ('' == a_s) {
                alert('请输入Native字符串');
                return;
            }
            $("#u_source").val('');
            for (var i = 0; i < $("#n_source").val().length; i++)
                $("#u_source").val($("#u_source").val() + '&#' + a_s.charCodeAt(i) + ';');
        }

        //Unicode 转换 Native
        function Unicode2Native() {
            var code = $("#u_source").val().match(/&#(\d+);/g);
            if (code == null) {
                alert('请输入正确的Unicode代码！');
                $("#u_source").focus();
                return;
            }
            $("#n_source").val('');
            for (var i = 0; i < code.length; i++)
                $("#n_source").val($("#n_source").val() + String.fromCharCode(code[i].replace(/[&#;]/g, '')));
        }

        function reset() {
            $("#n_source").val('');
            $("#u_source").val('');
        }
    </script>
{% endblock %}