{% extends "tools/btool_class03.html" %}

{% block css %}

    <style>
        select#ua_cls01, select#ua_cls02, select#ua_cls03 {
            height: 25px;
            margin: auto 5px;
        }

        div#sanji {
            text-align: center;
        }

        select#ua_cls01 {
        }

        div.input-group.input-group-sm {
            height: 26.24px;
        }

        div#sanji {
            height: 26.24px;
        }
    </style>
{% endblock %}

{% block tool-item %}
    <div class="tool-item">
        <div class="operateTB">
            <form class="well form-inline">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="basic-addon1">UA类型：</span>
                    <div id="sanji" style="display: inline-block">
                        <select>
                            <option selected="selected" value="0">——请选择——</option>
                            <option>选项1</option>
                        </select>
                    </div>
                </div>
                <a onclick="return onFind();" class="button">
                    <i class="icon-chevron-down icon-white"></i>查询</a>
                <a onclick="return onFind(1);" class="button">
                    <i class="icon-chevron-down icon-white"></i>随机查询</a>
                <a onclick="return reset();" class="button">
                    <i class="icon-chevron-down icon-white"></i>清空</a>
            </form>
        </div>
        <div class="bottomBar">
            <div class="title">查询结果：</div>
            <textarea readonly="readonly" id="textMatchResult"></textarea>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function reset() {
            UAInit();
            $("#textMatchResult").val('');
        };
        // 预加载
        $(function () {
            UAInit();
        });

        function UAInit() {
            var str = "<select id='ua_cls01'></select><select id='ua_cls02' style='display:none;'></select><select id='ua_cls03' style=\'display:none;\'></select>";
            $("#sanji").html(str);
            tianCls01(); // 添加一级类型信息

            $("#ua_cls01").change(function () {
                tianCls02();
            })

            $("#ua_cls02").change(function () {
                tianCls03();
            })
        };

        function tianCls01() {
            $.ajax({
                async: false,//同步
                url: "/tools/getUaCls/",
                data: {pid: 0},
                type: "GET",
                success: function (data) {
                    data = data['findData'];
                    var str = "<option value=''>—— 请选择 ——</option>";
                    for (var i = 0; i < data.length; i++) {
                        str += "<option value='" + data[i]['pk'] + "'>" + data[i]['fields']['ua_en_name'] + "</option>";
                    }
                    $("#ua_cls01").html(str);
                }
            });
        }

        function tianCls02() {
            pid = $("#ua_cls01").val();
            if (pid == '') {
                $('#ua_cls02').hide();
                return false;
            }
            $('#ua_cls02').show();
            $.ajax({
                async: false,//同步
                url: "/tools/getUaCls/",
                data: {pid: pid},
                type: "GET",
                success: function (data) {
                    data = data['findData'];


                    var str = "<option value=''>—— 请选择 ——</option>";
                    for (var i = 0; i < data.length; i++) {
                        str += "<option value='" + data[i]['pk'] + "'>" + data[i]['fields']['ua_en_name'] + "</option>";
                    }
                    $("#ua_cls02").html(str);
                }
            });
        };


        function tianCls03() {
            pid = $("#ua_cls02").val();
            if (pid == '') {
                $('#ua_cls03').hide();
                return false;
            }
            $('#ua_cls03').show();
            $.ajax({
                async: false,//同步
                url: "/tools/getUaCls/",
                data: {pid: pid},
                type: "GET",
                success: function (data) {
                    data = data['findData'];

                    if (data.length == 0) {
                        $('#ua_cls03').hide()
                    }

                    var str = "<option value=''>—— 请选择 ——</option>";
                    for (var i = 0; i < data.length; i++) {
                        str += "<option value='" + data[i]['pk'] + "'>" + data[i]['fields']['ua_en_name'] + "</option>";
                    }
                    $("#ua_cls03").html(str);
                }
            });
        }
        // type =0 默认类型查询，1 随机查询
        function onFind(type=0) {
            var cls1 = $("#ua_cls01").val();
            var cls2 = $("#ua_cls02").val();
            var cls3 = $("#ua_cls03").val();
            var finalCls = cls3 || cls2 || cls1;
            var param = {'clsId': finalCls,'type':type};
            $.get("/tools/findUAByCls/", param, function (data, status) {
                if (data.code == '200') {
                    findData = data.findData;
                    console.log("onfindData:", data);
                    str = "总共查询到UA: " + findData.length + '条\n'
                    for (var i = 0; i < findData.length; i++) {
                        str += findData[i].fields.ua_name + " : " + findData[i].fields.ua_value + "\n";
                    }
                    $('#textMatchResult').val(str);
                }
                else {
                    alert(data.errmsg)
                }
            });
        }

    </script>
{% endblock %}