{% extends "tools/btool_class01.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">

{% endblock %}

{% block tool-item %}
    <div class="tool-item">
        <div class="topBar">
            <textarea id="textSour" placeholder="在此输入待匹配文本"></textarea>
        </div>
        <div class="operateTB">
            <form class="well form-inline">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="basic-addon1">正则表达式</span>
                    <input type="text" style="width: 400px;" class="form-control" id="textPattern"
                           placeholder="在此输入正则表达式">
                </div>
                <label class="checkbox"><input type="checkbox" value="global" checked="checked" id="optionGlobal"
                                               name="optionGlobl">全局搜索</label>
                <label class="checkbox"><input type="checkbox" value="ignoreCase" id="optionIgnoreCase"
                                               name="optionIgnoreCase">忽略大小写</label>
                <a onclick="return onMatch();" class="button"><i
                        class="icon-chevron-down icon-white"></i>测试匹配</a>
                <a onclick="return showDemo();" class="button"><i
                        class="icon-chevron-down icon-white"></i>测试用例</a>

                <div class="toolRegexDemo">
                    <div class="viewBox viewBox1">
                        <input type="text" class="viewInput" readonly="readonly">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <ul class="optionBox optionBox1">
                        <li value="[\u4e00-\u9fa5]">中文字符</li>
                        <li value="[^\x00-\xff]">双字节字符</li>
                        <li value="\n\s*\r">空白行</li>
                        <li value="[\w!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[\w!#$%&amp;'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?">
                            Email地址
                        </li>
                        <li value="[a-zA-z]+://[^\s]*">网址URL</li>
                        <li value="(25[0-5]|2[0-4]\d|[0-1]\d{2}|[1-9]?\d)\.(25[0-5]|2[0-4]\d|[0-1]\d{2}|[1-9]?\d)\.(25[0-5]|2[0-4]\d|[0-1]\d{2}|[1-9]?\d)\.(25[0-5]|2[0-4]\d|[0-1]\d{2}|[1-9]?\d)">
                            IP地址
                        </li>
                        <li value="\d{3}-\d{8}|\d{4}-\{7,8}">国内电话号码</li>
                        <li value="[1-9][0-9]{4,}">腾讯QQ号</li>
                        <li value="[1-9]\d{5}(?!\d)">中国邮政编码</li>
                        <li value="^(\d{6})(\d{4})(\d{2})(\d{2})(\d{3})([0-9]|X)$">18位身份证号</li>
                        <li value="([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8])))">
                            (年-月-日)格式日期
                        </li>
                        <li value="^[1-9]\d*$">正整数</li>
                        <li value="^-[1-9]\d*$">负整数</li>
                        <li value="^-?[1-9]\d*$">整数</li>
                        <li value="^[1-9]\d*|0$">非负整数</li>
                        <li value="^-[1-9]\d*|0$">非正整数</li>
                        <li value="^[1-9]\d*\.\d*|0\.\d*[1-9]\d*$">正浮点数</li>
                        <li value="^-[1-9]\d*\.\d*|-0\.\d*[1-9]\d*$">负浮点数</li>
                    </ul>
                </div>

                <a onclick="return reset();" class="button"><i class="icon-chevron-down icon-white"></i>清空</a>
            </form>
        </div>
        <div class="bottomBar">
            <div class="title">匹配结果：</div>
            <textarea readonly="readonly" id="textMatchResult"></textarea>
        </div>
        <div class="operateTB">
            <form class="well form-inline">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="basic-addon2">替换文本</span>
                    <input type="text" style="width: 400px;-webkit-box-shadow: 0 0 0px 1000px white inset" class="form-control" id="textReplace"
                           placeholder="在此输入替换文本内容">
                </div>
                <a onclick="return onReplace();" class="button"><i class="icon-chevron-down icon-white"></i>替换</a>
                <a onclick="return reset();" class="button"><i class="icon-chevron-down icon-white"></i>清空</a>
            </form>
        </div>
        <div class="bottomBar">
            <div class="title">替换结果：</div>
            <textarea readonly="readonly" id="textReplaceResult"></textarea>
        </div>
        <div class="tool-remark" style="font-size: 15px;color: #00BFFF">
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        $(function () {
            $('ul > li.active').removeClass('active');
            $('ul > li:nth-child(4)').addClass('active');
            regexDemoInit()
        });

        function reset() {
            $("#textPattern").val('');
            $("#textSour").val('');
            $("#textMatchResult").val('');
            $("#textReplace").val("");
            $("#textReplaceResult").val("");
        };

        function isValidFields() {
            var textSour = document.getElementById("textSour");
            if (null == textSour.value || textSour.value.length < 1) {
                textSour.focus();
                alert("请输入待匹配文本");
                return false;
            }
            var textPattern = document.getElementById("textPattern");
            if (null == textPattern.value || textPattern.value.length < 1) {
                textPattern.focus();
                alert("请输入正则表达式");
                return false;
            }
            return true;
        }

        function buildRegex() {
            var op = "";
            if (document.getElementById("optionGlobal").checked) op = "g";
            if (document.getElementById("optionIgnoreCase").checked) op = op + "i";
            return new RegExp(document.getElementById("textPattern").value, op);
        }

        function onMatch() {
            if (!isValidFields) return;
            var regex = buildRegex();
            var result = $("#textSour").val().match(regex);
            if (null == result || 0 == result.length) {
                $('#textMatchResult').val('没有匹配');
                return false;
            }
            if (document.getElementById("optionGlobal").checked) {
                var strResult = "共找到 " + result.length + " 处匹配：\r\n";
                for (var i = 0; i < result.length; ++i) strResult = strResult + result[i] + "\r\n";
                document.getElementById("textMatchResult").value = strResult;
            }
            else {
                document.getElementById("textMatchResult").value = "匹配位置：" + regex.lastIndex + "\r\n匹配结果：" + result[0];
            }
            return true;
        };

        function showDemo() {
            $("#textSour").val('<html><head><title>The Dormouse\'s story</title></head>\n' +
                '<body>\n' +
                '<p class="title" name="dromouse"><b>The Dormouse\'s story</b></p>\n' +
                '<p class="story">Once upon a time there were three little sisters; and their names were\n' +
                '<a href="http://example.com/elsie" class="sister" id="link1"><!-- Elsie --></a>,\n' +
                '<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and\n' +
                '<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;\n' +
                'and they lived at the bottom of a well.</p>\n' +
                '<p class="story">...</p>');
            $("#textPattern").val('<a.*?>');
        };

        function onReplace() {
            var str = document.getElementById("textSour").value;
            var regex = buildRegex();
            $('#textReplaceResult')
            document.getElementById("textReplaceResult").value = str.replace(regex, document.getElementById("textReplace").value);
        }


        // 下拉框初始化
        var regexDemoInit = function () {
            $(".viewInput").val("常用正则表达式");
            $('.optionBox1').hide();
            var curTag = $('.toolRegexDemo');
            $(".viewBox").unbind('click').click(function () {
                var curParent = $(this).parent();
                curTag = curParent;
                if (curParent.find(".optionBox").css("display") == "none") {
                    curParent.find(".optionBox").show();
                    curParent.find("i.fa").removeClass('fa-caret-down').addClass('fa-caret-up')
                } else {
                    curParent.find(".optionBox").hide();
                    curParent.find("i.fa").removeClass('fa-caret-up').addClass('fa-caret-down')
                }
            });
            // 修改响应下拉框
            var checkOption = curTag.find(".optionBox li");
            checkOption.click(function () {
                console.log('点击了');

                var index = curTag.find(".optionBox li").index(this);
                var indexVal = curTag.find(".optionBox li:eq(" + index + ")").html();
                curTag.find(".viewInput").val(indexVal);
                $('#textPattern').val($(this).attr('value'));
                if ($('.toolRegexDemo').find(".optionBox").css("display") == "none") {
                    $('.toolRegexDemo').find("i.fa").removeClass('fa-caret-down').addClass('fa-caret-up')
                } else {
                    $('.toolRegexDemo').find(".optionBox").hide();
                    $('.toolRegexDemo').find("i.fa").removeClass('fa-caret-up').addClass('fa-caret-down')
                }
            })
        };


    </script>
{% endblock %}