{% extends "index.html" %}
{% block csses %}
    <style>
        .item-title {
            padding: 0 20px;
        }

        .item-title h2 {
            padding-bottom: 10px;
            border-bottom: 1px solid #CCC;
            font-weight: 600;
            font-size: 18px;
            color: #333;
        }

        .pro-list-content {
            margin-top: 20px;
            overflow: hidden;
        }

        .pro-item {
            float: left;
            width: 30.5%;
            height: 95px;
            background-color: #efefef;
            border-radius: 4px;
            margin: 0px 0px 20px 20px;
        }

        .pro-item a {
            position: relative;
            display: block;
            padding: 15px;
            color: #333;
        }

        .pro-item-img {
            float: left;
        }

        .pro-item-img img {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 4px;
        }

        .pro-item-img .cover-img {
            width: 64px;
            height: 64px;
        }

        .pro-item-img .tool-bg-img {
            width: 64px;
            height: 64px;
            background-color: aqua;
            background-image: url("/static/images/常用工具logo.png");
            /*background-position: 10% 40%;/*这个是按从左往右，从上往下的百分比位置进行调整*/
        {#background-size: 10% 10%;/*按比例缩放*/#} background-size: 345px 207px;
            background-repeat: no-repeat; /*还有repeat-x,y等*/
        }

        .pro-item-desc {
            margin-left: 50px;
        }

        .pro-item-desc2 {
            margin-left: 75px;
        }

        .pro-item-desc h4 {
            font-size: 14px;
            word-wrap: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .pro-item:hover {
            box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        }

        .pro-item-desc p {
            margin-top: 5px;
            color: #666;
            line-height: 20px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="javascript:;" class="islink">在线工具</a>
    </div>
{% endblock %}


{% block right_content %}
    <div class="indexMain">
        <span class="infotitle">在线工具</span>
        <div class="right_inner_cont">
            <div class="pro-list" id="tagid94">
                <div class="item-title">
                    <h2>选择器</h2>
                </div>
                <div class="pro-list-content">
                    <div class="pro-item">
                        <a href="/tools/?type=1" title="xpath选择器">
                            <div class="pro-item-img">
                                <div class="tool-bg-img"
                                     style="background-position-x:-138px; background-position-y:0px"></div>
                            </div>
                            <div class="pro-item-desc pro-item-desc2">
                                <h4>xpath选择器</h4>
                                <p>XPath即为XML路径语言
                                    用来确定XML文档中某部分位置...</p>
                            </div>
                        </a>
                    </div>
                    <div class="pro-item">
                        <a href="/tools/?type=2" title="CSS选择器">
                            <div class="pro-item-img">
                                <div class="tool-bg-img"
                                     style="background-position-x:-138px; background-position-y:-138px"></div>
                            </div>
                            <div class="pro-item-desc pro-item-desc2">
                                <h4>CSS选择器</h4>
                                <p>HTML页面中的元素就是通过CSS选择器进行控制的。对HTML页面中的元素实现一对一，一对多或者多对一的控制，这就需要用到CSS选择器。</p>
                            </div>
                        </a>
                    </div>
                    <div class="pro-item">
                        <a href="/tools/?type=3" title="Beautiful Soup">
                            <div class="pro-item-img">
                                <div class="tool-bg-img"
                                     style="background-position-x:-207px; background-position-y:0px"></div>
                            </div>
                            <div class="pro-item-desc pro-item-desc2">
                                <h4>Beautiful Soup</h4>
                                <p>Beautiful Soup提供一些简单的解析网页信息的工具。</p>
                            </div>
                        </a>
                    </div>
                    <div class="pro-item">
                        <a href="/tools/?type=4" title="正则表达式">
                            <div class="pro-item-img">
                                <div class="tool-bg-img"
                                     style="background-position-x:0px; background-position-y:0px"></div>
                            </div>
                            <div class="pro-item-desc pro-item-desc2">
                                <h4>正则表达式</h4>
                                <p>正则表达式是非常强大的用来检索、替换那些符合某个模式(规则)文本的工具。</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pro-list" id="tagid94">
                <div class="item-title">
                    <h2>编码加密</h2>
                </div>
                <div class="pro-list-content">
                    <div class="pro-item">
                        <a href="/tools/?type=21" title="Unicode">
                            <div class="pro-item-img">
                                <div class="tool-bg-img"
                                     style="background-position-x:-276px; background-position-y:0px"></div>
                            </div>
                            <div class="pro-item-desc pro-item-desc2">
                                <h4>Unicode</h4>
                                <p>Unicode（统一码、万国码、单一码）是计算机科学领域里的一项业界标准...</p>
                            </div>
                        </a>
                    </div>
                    <div class="pro-item">
                        <a href="/tools/?type=22" title="UTF-8">
                            <div class="pro-item-img">
                                <div class="tool-bg-img"
                                     style="background-position-x:-0px; background-position-y:-71px"></div>
                            </div>
                            <div class="pro-item-desc pro-item-desc2">
                                <h4>UTF-8</h4>
                                <p>UTF-8是一种针对Unicode的可变长度字符编码，又称万国码...</p>
                            </div>
                        </a>
                    </div>
                    <div class="pro-item">
                        <a href="/tools/?type=23" title="ASCII">
                            <div class="pro-item-img">
                                <div class="tool-bg-img"
                                     style="background-position-x:-69px; background-position-y:-71px"></div>
                            </div>
                            <div class="pro-item-desc pro-item-desc2">
                                <h4>ASCII</h4>
                                <p>ASCII是基于拉丁字母的一套电脑编码系统，主要用于显示现代英语和其他西欧语言...</p>
                            </div>
                        </a>
                    </div>
                    <div class="pro-item">
                        <a href="/tools/?type=24" title="URL编码">
                            <div class="pro-item-img">
                                <div class="tool-bg-img"
                                     style="background-position-x:-139px; background-position-y:-71px"></div>
                            </div>
                            <div class="pro-item-desc pro-item-desc2">
                                <h4>URL编码</h4>
                                <p>url编码是一种浏览器用来打包表单输入的格式。浏览器从表单中获取所有的name和其中的值...</p>
                            </div>
                        </a>
                    </div>
                    <div class="pro-item">
                        <a href="/tools/?type=25" title="hash加密">
                            <div class="pro-item-img">
                                <div class="tool-bg-img"
                                     style="background-position-x:-207px; background-position-y:-71px"></div>
                            </div>
                            <div class="pro-item-desc pro-item-desc2">
                                <h4>hash加密</h4>
                                <p>哈希（Hash）是将目标文本转换成具有相同长度的、不可逆的杂凑字符串（或叫做消息摘要），而加密（Encrypt）是将目标文本转换成具有不同长度的、可逆的密文...</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pro-list" id="tagid94">
                <div class="item-title">
                    <h2>反爬配置</h2>
                </div>
                <div class="pro-list-content">
                    <div class="pro-item">
                        <a href="/tools/?type=31" title="反爬UA">
                            <div class="pro-item-img">
                                <div class="tool-bg-img"
                                     style="background-position-x:-69px; background-position-y:0px"></div>
                            </div>
                            <div class="pro-item-desc pro-item-desc2">
                                <h4>反爬UA</h4>
                                <p>反网络爬虫设置User-Agent的常规方法,爬虫过程中的反爬措施非常重要的基础设置,...</p>
                            </div>
                        </a>
                    </div>
                    <div class="pro-item">
                        <a href="/tools/?type=32" title="IP代理">
                            <div class="pro-item-img">
                                <div class="tool-bg-img"
                                     style="background-position-x:-276px; background-position-y:-72px"></div>
                            </div>
                            <div class="pro-item-desc pro-item-desc2">
                                <h4>IP代理</h4>
                                <p>IP代理是一种特殊的网络服务，允许一个网络终端（一般为客户端）通过这个服务与另一个网络终端（一般为服务器）进行非直接的连接...</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pro-list" id="tagid94">
                <div class="item-title">
                    <h2>网站相关</h2>
                </div>
                <div class="pro-list-content">
                    <div class="pro-item">
                        <a href="/tools/?type=31" title="HTTP状态码">
                            <div class="pro-item-img">
                                <div class="tool-bg-img"
                                     style="background-position-x:0px; background-position-y:-138px"></div>
                            </div>
                            <div class="pro-item-desc pro-item-desc2">
                                <h4>HTTP状态码</h4>
                                <p>HTTP状态码是用以表示网页服务器超文本传输协议响应状态的3位数字代码。HTTP/1.1标准的一部分...</p>
                            </div>
                        </a>
                    </div>
                    <div class="pro-item">
                        <a href="/tools/?type=42" title="验证码识别">
                            <div class="pro-item-img">
                                <div class="tool-bg-img"
                                     style="background-position-x:-69px; background-position-y:-138px"></div>
                            </div>
                            <div class="pro-item-desc pro-item-desc2">
                                <h4>验证码识别</h4>
                                <p>验证码可以有效防止某个黑客对某一个特定注册用户用特定程序暴力破解方式进行不断的密码尝试，实际上用验证码是很多网站通行的方式...</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}