{% extends "tools/btool_class03.html" %}

{% block css %}

    <style>
        select#ua_cls01, select#ua_cls02, select#ua_cls03 {
            height: 25px;
            margin: auto 5px;
        }

        div#sanji {
            text-align: center;
        }

        select#ua_cls01 {
        }

        div.input-group.input-group-sm {
            height: 26.24px;
        }

        div#sanji {
            height: 26.24px;
        }
    </style>
{% endblock %}

{% block tool-item %}
    <div class="tool-item">
        <div class="operateTB">
            <form class="well form-inline">
                <span>随机得到最新的20条代理ip: </span>
                <a onclick="return onFind();" class="button">
                    <i class="icon-chevron-down icon-white"></i>获取IP</a>
                <a onclick="return reset();" class="button">
                    <i class="icon-chevron-down icon-white"></i>清空</a>
            </form>
        </div>
        <div class="bottomBar">
            <div class="title">查询结果：</div>
            <textarea readonly="readonly" id="textMatchResult"></textarea>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function reset() {
            $("#textMatchResult").val('');
        };
        // 预加载
        $(function () {
            $('ul > li.active').removeClass('active');
            $('ul > li:nth-child(2)').addClass('active');
        });

        // type =0 默认类型查询，1 随机查询
        function onFind(type=0) {
            var param = {'type': 0,'num':20};
            $.get("/tools/findRedisInfo/", param, function (data, status) {
                if (data.code == '200') {
                    ipList = data.ipList;
                    console.log("onfindData:", ipList);
                    str = "总共获取代理IP: " + ipList.length + '条\n'
                    for (var i = 0; i < ipList.length; i++) {
                        str += ipList[i] + "\n";
                    }
                    $('#textMatchResult').val(str);
                }
                else {
                    alert(data.errmsg)
                }
            });
        }
    </script>
{% endblock %}