<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="referrer" content="no-referrer"/>
    {# index.html #}
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "images/webLogo.jpg" %}"/>
    <link href="/static/css/main.css" type="text/css" rel="stylesheet" media="all">
    <link href="/static/css/reset.css" type="text/css" rel="stylesheet" media="all">
    <link href="/static/css/xcConfirm.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    {% block csses %}
        <style type="text/css">
            .index_item {
                height: 300px;
            {#border: black 1px dashed;#} margin-top: 10px;
            }

            .fourPlate {
                margin-top: 10px;
                height: 250px;
                border: black 1px dashed;
            }

            .plate_item {
                display: inline-block;
                width: 230px;
                height: 100%;
                float: left;
                border-right: black 1px solid;
            }

            .plate_item {
            }

            .index-img {
                display: inline-block;
                width: 425px;
                float: left;
            }
            .plate_item.shadow span {
                color: black;
            }

            .index_footImg.ifm01 {
                width: 200px;
                height: 200px;
                background: url(/static/images/index_logo.jpg) no-repeat 23px -137px;
            }

            .index_footImg.ifm02 {
                width: 200px;
                height: 200px;
                background: url(/static/images/index_logo.jpg) no-repeat 23px 11px;
            }

            .index_footImg.ifm03 {
                width: 200px;
                height: 200px;
                background: url(/static/images/index_logo.jpg) no-repeat 23px -300px;
            }

            .index_footImg.ifm04 {
                width: 200px;
                height: 200px;
                background: url(/static/images/index_logo.jpg) no-repeat -309px 14px;
            }

            .fourPlate {
                text-align: center;
            }

            .shadow:hover {
                box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
            }

            .fourPlate span {
                font-size: 1.2em;
            }
        </style>
    {% endblock %}
    {#    <title>学习网站——主页</title>#}
    <title>{{ title }}</title>


</head>
<body>
<div class='head_context'>
    <div class="headinfo">
        <div class="fl">
            欢迎登陆爬虫助手学习网站！
        </div>
        <div class="fr">
            <div class="logined_info  fl">
                您好：<em>凯心酱O(∩_∩)0（默认）</em>
                <span>|</span>
                <a href="/user/logout/">退出</a>
            </div>
            <div class="login_btn fl">
                <a href="/user/">登录&注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/">主页</a>
                <span>|</span>
                <a href="/user/changeUinfo/">个人信息</a>
                <span>|</span>
                <a href="/user/about/">关于</a>
            </div>
        </div>
    </div>
</div>
<div class="logo_search">
    <div class="web_logo">
        <a href="/">
            <img src="/static/images/webLogo.jpg" width="80px" height="80px" style="float: left;">
            <div class="logo_info_01 clearfix">
                <div class="type type01">爬虫助手学习网站</div>
                <div class="type type02">——进步路上，共勉共励！</div>
            </div>
        </a>
    </div>
    <div class="search_con fr">
        <input type="text" class="input_text fl" name="" placeholder="搜索内容">
        <input type="button" class="input_btn fr" onclick="return search_index()" name="" value="GO">
    </div>
</div>
<div class="shielded_line"></div>
<ul class="cross_menu clearfix">
    <li class="fl"><a href="/" class="islink">主页</a><span>|</span></li>
    <li class="fl"><a href="/articles/" class="islink">学习中心</a><span>|</span></li>
    <li class="fl"><a href="/share/getShareIndex/" class="islink">共享中心</a><span>|</span></li>
    <li class="fl"><a href="/tools/getToolIndex/" class="islink">常用工具</a><span>|</span></li>
    <li class="fl"><a href="#" class="islink">自定义爬虫</a><span>|</span></li>
    <li class="fl"><a href="/user/about/" class="islink">关于</a></li>
</ul>
<div class="shielded_line"></div>

<!-- 位置导航 -->
{% block pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="/" class="islink">主页</a>
    </div>
{% endblock %}
<!-- //位置导航 -->

<!--  左侧菜单栏 -->
<div class="total_content clearfix">
    <div class="navMenubox fl">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 100%;">
            <div id="slimtest1" style="overflow: hidden; width: 100%; height: 100%;">
                <div class="navMenu-top">
                    <div id="mini" style="">
                        <i class="fa fa-bars fa-2x text-color"></i>
                    </div>
                </div>
                <ul class="navMenu">
                    <li class=""><a href="javascript:;" class="afinve">
                        <embed src="/static/images/spider-solid.svg" width="25" height="25"
                               type="image/svg+xml">
                        <span class="nav-text">主页</span> <span class="arrow"></span> </a>
                        <ul class="sub-menu" style="display: none;">
                            <li><a href="/"><span>主页</span></a></li>
                            <li><a href="/user/changeUinfo/"><span>个人信息修改</span></a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;" class="afinve">
                        <embed src="/static/images/spider-solid.svg" width="25" height="25"
                               type="image/svg+xml">
                        <span class="nav-text">学习中心</span> <span class="arrow"></span> </a>
                        <ul class="sub-menu" style="">
                            <li><a href="/articles/"><span>技术文章</span></a></li>
                            <li><a href="/articles/getCArticleLists/"><span>个人收藏</span></a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;" class="afinve">
                        <embed src="/static/images/spider-solid.svg" width="25" height="25"
                               type="image/svg+xml">
                        <span class="nav-text">共享中心</span> <span class="arrow"></span> </a>
                        <ul class="sub-menu" style="">
                            <li><a href="/share/getShareIndex/"><span>共享内容</span></a></li>
                            <li><a href="/share/getUploadPage/"><span>我要分享</span></a></li>
                            <li><a href="/share/getMyUploadList/"><span>我的上传</span></a></li>
                        </ul>
                    </li>

                    <li><a href="javascript:;" class="afinve">
                        <embed src="/static/images/spider-solid.svg" width="25" height="25"
                               type="image/svg+xml">
                        <span class="nav-text">常用工具</span> <span class="arrow"></span> </a>
                        <ul class="sub-menu" style="">
                            <li><a href="/tools/getToolIndex/"><span>工具主页</span></a></li>
                            <li><a href="javascript:;" class="afinve"><span>选择器</span><span class="arrow"></span></a>
                                <ul class="sub-menu" style="">
                                    <li><a href="/tools/?type=1"><span>xpath选择器</span></a></li>
                                    <li><a href="/tools/?type=2"><span>CSS选择器</span></a></li>
                                    <li><a href="/tools/?type=3"><span>BeautifulSoup选择器</span></a></li>
                                    <li><a href="/tools/?type=4"><span>正则表达式</span></a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;" class="afinve"><span>编码加密</span><span class="arrow"></span></a>
                                <ul class="sub-menu" style="">
                                    <li><a href="javascript:;"><span>Unicode编码</span></a></li>
                                    <li><a href="javascript:;"><span>UTF-8</span></a></li>
                                    <li><a href="javascript:;"><span>ASCII</span></a></li>
                                    <li><a href="javascript:;"><span>URL编码</span></a></li>
                                    <li><a href="javascript:;"><span>hash加密</span></a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;" class="afinve"><span>爬虫配置</span><span class="arrow"></span></a>
                                <ul class="sub-menu" style="">
                                    <li><a href="javascript:;"><span>反爬UA</span></a></li>
                                    <li><a href="javascript:;"><span>IP代理</span></a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;" class="afinve"><span>网站相关</span><span class="arrow"></span></a>
                                <ul class="sub-menu" style="">
                                    <li><a href="javascript:;"><span>HTTP状态码</span></a></li>
                                    <li><a href="javascript:;"><span>验证码识别</span></a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li class=""><a href="javascript:;" class="afinve">
                        <embed src="/static/images/spider-solid.svg" width="25" height="25"
                               type="image/svg+xml">
                        <span class="nav-text">自定义爬虫</span><span class="arrow"></span> </a>
                        <ul class="sub-menu" style="display: none;">
                            <li><a href="/diySpider/getSpiderRequest/"><span>访问源码</span></a></li>
                            <li><a href="/diySpider/getSpiderParse/"><span>源码解析</span></a></li>
                        </ul>
                    </li>
                    <li><a href="/user/about/" class="afinve">
                        <embed src="/static/images/spider-solid.svg" width="25" height="25"
                               type="image/svg+xml">
                        <span class="nav-text">关于</span></a>
                    </li>
                </ul>
            </div>
            <div class="slimScrollBar"
                 style="background: rgb(180, 181, 181); width: 6px; position: absolute; top: 0px; opacity: 0.51; display: none; border-radius: 7px; z-index: 99; right: 0px; height: 267px;"></div>
            <div class="slimScrollRail"
                 style="width: 6px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(227, 227, 228); opacity: 0.5; z-index: 90; right: 0px;"></div>
        </div>
    </div>
    <!-- 右侧内容 -->

    <div class="right_content fl">
        {% block right_content %}
            <div class="indexMain">
                <span class="infotitle">主页</span>
                <div class="right_inner_cont">
                    <div class="index_title_bg"
                         style="background-image: url('/static/images/index_title_index.png');background-size:1120px 200px;background-repeat:no-repeat;">
                        <div id="index_title"
                             style="text-align:center;font-size:3em;padding-top: 70px;margin: auto; padding-bottom: 10px;color: #2a99af;">
                            学习•共享•工具•爬虫
                        </div>
                        <div id="index_title02"
                             style="text-align:center;font-size:1.4em;padding-bottom:30px;color:green;font-weight:bold;font-family: '宋体';">
                            一个助力学习爬虫的网站平台
                        </div>
                    </div>
                    <div class="index_item">
                        <div class="index-img"><img src="/static/images/index_03.png" height="290px"></div>
                        <div class="imgText"
                             style="display:inline-block;width:400px;font-size:1.5em;float:left;padding:20px;">&nbsp;&nbsp;&#10148;人类社会已经进入大数据时代，大数据深刻改变着我们的工作和生活。随着互联网、移动互联网、社交网络等的迅猛发展，各种数量庞大、种类繁多、随时随地产生和更新的大数据，蕴含着前所未有的社会价值和商业价值
                        </div>
                    </div>
                    <div class="index_item">
                        <div class="imgText"
                             style="display:inline-block;width:48%;font-size:1.5em;float:left;padding:20px;">&nbsp;&nbsp;&#10148;网络爬虫就是一种高效的信息采集利器，利用它可以快速、准确地采集我们想要的各种数据资源。
                        </div>
                        <div class="index-img"><img src="/static/images/index_02.png" height="290"></div>
                    </div>
                    <div class="index_item">
                        <div class="index-img"><img src="/static/images/index_01.png"></div>
                        <div class="imgText"
                             style="display:inline-block;width:400px;font-size:1.5em;float:left;padding:20px;">&nbsp;&nbsp;&#10148;正如马云所言：未来最大的能源不是石油而是大数据。对大数据的获取、处理与分析，以及基于大数据的智能应用.已成为提高未来竞争力的关键要素
                        </div>
                    </div>
                    <div class="fourPlate">
                        <div class="plate_item shadow"><a href="/articles/">
                            <div class="index_footImg ifm01"></div>
                            <span>学习中心</span></a></div>
                        <div class="plate_item shadow"><a href="/share/getShareIndex/">
                            <div class="index_footImg ifm02"></div>
                            <span>共享中心</span></a></div>
                        <div class="plate_item shadow"><a href="/tools/getToolIndex/">
                            <div class="index_footImg ifm03"></div>
                            <span>常用工具</span></a></div>
                        <div class="plate_item shadow" style="border:none;"><a href="/diySpider/getSpiderRequest/">
                            <div class="index_footImg ifm04"></div>
                            <span>DIY爬虫</span></a></div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    <!-- //右侧内容 -->
</div>
<!-- //左侧菜单栏 -->

<!-- footer -->
<div class="footer">
    <div class="footer_context">
        <p>©2019河南工程学院、计算机学院</p>
        <p>计算机学院与技术 1541班 江凯 制作</p>
    </div>
</div>
<!-- //footer -->


<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/index_js.js"></script>
<script type="text/javascript" src="/static/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/static/js/xcConfirm.js"></script>
{% block jses %}
{% endblock %}

</body>
</html>