{% extends "index.html" %}


{% block csses %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-editable-select.css"/>
    <style type="text/css">
        label.item_title2 {
            width: 150px;
            display: inline-block;
        }

        .preInput {
            display: inline-block;
            width: 400px;
        }

        input#editable-select {
            width: 390px;
            height: 24px;
        }

        input.input_item {
            display: inline-block;
            width: 100%;
        }

        .btns {
            width: 100%;
            height: 45px;
            text-align: center;
            padding-top: 15px;
            border-top: #b0b0b1 solid 1px;
        }

        a.button {
            background-color: #1552bd;
            color: #fff;
            line-height: 30px;
            padding: 3px 5px;
            display: inline-block;
            width: 90px;
            text-align: center;
            margin: 0px 10px;
            height: 30px;
        }

        textarea#textMatchResult {
            width: 920px;
            height: 204px;
        }

        .form_item i.fa.fa-asterisk, .FileUpload i.fa.fa-asterisk, .item_title2 i.fa.fa-asterisk {
            font-size: 10px;
            color: #FF5722;
            text-align: left;
            vertical-align: text-top;
        }

    </style>
{% endblock %}




<!-- 位置导航 -->
{% block pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="/" class="islink">自定义爬虫</a>
        <span class="fa fa-angle-right"></span>
        <a href="#" class="islink">访问源码</a>
    </div>
{% endblock %}
<!-- //位置导航 -->

{% block right_content %}
    <div class="indexMain">
        <span class="infotitle">访问源码</span>
        <div class="right_inner_cont">
            <div class="form_item">
                <label for="" class="item_title2">请求地址<i class="fa fa-asterisk" aria-hidden="true"></i>：</label>
                <div class="preInput">
                    <input type="text" id="p01" placeholder="" unselectable="on" class="input_item"/>
                </div>
            </div>
            <div class="form_item">
                <label for="" class="item_title2">认证访问地址：</label>
                <div class="preInput">
                    <input type="text" id="p02" placeholder="" unselectable="on" class="input_item"/>
                </div>
            </div>
            <div class="form_item">
                <label for="" class="item_title2">请求类型
                    <i class="fa fa-asterisk" aria-hidden="true"></i>：</label>
                <select id="editable-select" name="sname" id="p03">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                    <option value="DELETE">DELETE</option>
                    <option value="HEAD">HEAD</option>
                    <option value="OPTIONS">OPTIONS</option>
                </select>
            </div>
            <div class="form_item">
                <label for="" class="item_title2">DATA参数：</label>
                <div class="preInput">
                    <input type="text" id="p04" placeholder="" unselectable="on" class="input_item"/>
                </div>
            </div>
            <div class="form_item">
                <label for="" class="item_title2">UA参数：</label>
                <div class="preInput">
                    <input type="text" id="p05" placeholder="" unselectable="on" class="input_item"/>
                </div>
            </div>
            <div class="form_item">
                <label for="" class="item_title2">cookies：</label>
                <div class="preInput">
                    <input type="text" id="p06" placeholder="" unselectable="on" class="input_item"/>
                </div>
            </div>

            <div class="form_item">
                <label for="" class="item_title2">headers：</label>
                <div class="preInput">
                    <input type="text" id="p07" placeholder="" unselectable="on" class="input_item"/>
                </div>
            </div>
            <div class="form_item">
                <label for="" class="item_title2">代理IP：</label>
                <div class="preInput">
                    <input type="text" id="p08" placeholder="" unselectable="on" class="input_item"/>
                </div>
            </div>

            <div class="form_item">
                <label for="" class="item_title2">访问超时时间：</label>
                <div class="preInput">
                    <input id="p09" type="number" min="1" max="100" placeholder="" class="input_item">
                </div>
            </div>
            <div class="searchBtn btns" style="margin-top:15px">
                <a type="button" href="javascript:;" onclick="uploadInfo()" class="button">提交</a>
                <a type="button" href="javascript:;" onclick="testCase()" class="button">测试用例</a>
                <a type="button" href="javascript:;" class="button" onclick="reset()">取消</a>
            </div>

            <div class="bottomBar">
                <div class="title">匹配结果：</div>
                <textarea readonly="readonly" id="textMatchResult"></textarea>
            </div>
        </div>
    </div>
{% endblock %}


{% block jses %}
    <script src="/static/js/jquery-editable-select.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/flatpickr.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"
            data-ckeditor-basepath="/static/ckeditor/ckeditor/" id="ckeditor-init-script"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#editable-select').editableSelect({
                bg_iframe: true,
                case_sensitive: false,
                items_then_scroll: 10,
                isFilter: false
            });
        });

        var reset = function () {
            $('#p01').val("");
            $('#p02').val("");
            $('#editable-select').val("");
            $('#p04').val("");
            $('#p05').val("");
            $('#p06').val("");
            $('#p07').val("");
            $('#p08').val("");
            $('#p09').val("");
        };


        var testCase = function () {
            $('#p01').val("http://httpbin.org/get");
            $('#p02').val();
            $('#editable-select').val("GET");
            $('#p04').val("{'testkey':'testValue'}");
            $('#p05').val("Mozilla/5.0 (Macintosh%3b U%3b Intel Mac OS X 10_6_8%3b en-us) AppleWebKit/534.50 (KHTML, like Gecko) Version/5.1 Safari/534.50");
            $('#p06').val("testCookies=testCookiestestCookies");
            $('#p07').val("{'testheader':'testheadervalue'}");
            $('#p08').val();
            $('#p09').val(5);
        }

        var uploadInfo = function () {
            params = {
                "url":$('#p01').val(),
                "secURL":$('#p02').val(),
                "method":$('#editable-select').val(),
                "data":$('#p04').val(),
                "UA":$('#p05').val(),
                "cookies":$('#p06').val(),
                "headers":$('#p07').val(),
                "proxies":$('#p08').val(),
                "timeout":$('#p09').val()
            }
            for (x in params){
                if (params[x] ==""|| undefined){
                    delete params[x]
                }
            }
            url = "/diySpider/getURLHTML/";
            $.get(url,params,function (data,status) {
                console.log('feedback',data);
                console.log('status=',status);
                if(data.code=='200')
                    {$('#textMatchResult').val(data.html);}
            });


            console.log('params',params);
        }
    </script>
{% endblock %}