{% extends "index.html" %}


{% block csses %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-editable-select.css"/>
    <style type="text/css">
        label.item_title2 {
            width: 150px;
            display: inline-block;
        }

        .preInput {
            display: inline-block;
            width: 400px;
        }

        input#editable-select {
            width: 390px;
            height: 24px;
        }

        input.input_item {
            display: inline-block;
            width: 100%;
        }

        .btns {
            width: 100%;
            height: 45px;
            text-align: center;
            padding-top: 15px;
            border-top: #b0b0b1 solid 1px;
        }

        a.button {
            background-color: #1552bd;
            color: #fff;
            line-height: 30px;
            padding: 3px 5px;
            display: inline-block;
            width: 90px;
            text-align: center;
            margin: 0px 10px;
            height: 30px;
        }

        .spiderText {
            width: 920px;
            height: 300px;
        }

        .form_item i.fa.fa-asterisk, .FileUpload i.fa.fa-asterisk, .item_title2 i.fa.fa-asterisk {
            font-size: 10px;
            color: #FF5722;
            text-align: left;
            vertical-align: text-top;
        }

        .parse_rule_table li {
            font-family: "KaiTi";
            font-size: 1em;
            height: 40px;
            line-height: 40px;
            float: left;
            text-align: center;
        }

        .parse_rule_table .col01 {
            width: 20%;
        }

        .parse_rule_table .col02 {
            width: 60%;
        }

        .parse_rule_table .col03 {
            width: 20%;
        }

        .parse_rule_table .table_th {
            border: 1px solid #ddd;
            background-color: #f7f7f7;
            margin: 0 auto;
        }

        .parse_rule_table .table_td, .table_insert, .table_add {
            font-family: "KaiTi";
            font-size: 1em;
            border: 1px solid #ddd;
            background-color: #edfff9;
            margin: 0 auto;
            margin-top: -1px;
        }

        .table_add input, .table_td input {
            font-family: "KaiTi";
            font-size: 1em;
            color: #666;
            border: 1px solid #ccc;
            background-color: #edfff9;
            padding: 3px 0px;
            text-align: center;
            border-radius: 3px; /*css3属性IE不支持*/
        }

        li.col03 i {
            letter-spacing: 3px;
        }

        .title button {
            top: -3px;
            padding: 0px 7px;
            font-size: 11px;
            position: relative;
        }
    </style>
{% endblock %}


<!-- 位置导航 -->
{% block pathnav %}
    <div class="pathnav">
        <span>您的位置:</span>
        <a href="/" class="islink">自定义爬虫</a>
        <span class="fa fa-angle-right"></span>
        <a href="#" class="islink">源码解析</a>
    </div>
{% endblock %}
<!-- //位置导航 -->

{% block right_content %}
    <div class="indexMain">
        <span class="infotitle">源码解析</span>
        <div class="right_inner_cont">

            <div class="bottomBar">
                <div class="title">源码：</div>
                <textarea class="spiderText" id="paraseContent"></textarea>
            </div>
            <div class="form_item">
                <label for="" class="item_title2">解析类型
                    <i class="fa fa-asterisk" aria-hidden="true"></i>：</label>
                <select id="editable-select" name="sname" id="p03">
                    <option value="XPATH">XPATH</option>
                    <option value="RE">正则表达式</option>
                </select>
            </div>
            <div class="form_item">
                <div class="title">字段解析规则配置:</div>
                <div class="parse_rule_table">
                    <ul class="table_th clearfix">
                        <li class="col01">字段名</li>
                        <li class="col02">匹配规则</li>
                        <li class="col03">删除</li>
                    </ul>
                    <ul class="table_insert clearfix">
                        <li style="width: 100%;">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="searchBtn btns" style="margin-top:15px">
                <a type="button" href="javascript:;" onclick="uploadInfo()" class="button">提交</a>
                <a type="button" href="javascript:;" onclick="testCase()" class="button">测试用例</a>
                <a type="button" href="javascript:;" class="button" onclick="reset()">重置</a>
            </div>

            <div class="bottomBar">
                <div class="title">匹配结果：
                    <button onclick='tableToCSV()'><i class="fa fa-download" aria-hidden="true"></i></button>
                </div>
                <textarea class="spiderText" readonly="readonly" id="textMatchResult"></textarea>
            </div>
        </div>
    </div>
{% endblock %}


{% block jses %}
    <script src="/static/js/jquery-editable-select.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/flatpickr.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"
            data-ckeditor-basepath="/static/ckeditor/ckeditor/" id="ckeditor-init-script"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#editable-select').editableSelect({
                bg_iframe: true,
                case_sensitive: false,
                items_then_scroll: 10,
                isFilter: false
            });
            // 下载按钮隐藏
            $('.title button').hide();
        });
        $(document).on("click", 'li.col03 > i.fa-pencil-square-o', function () {
            $(this).removeClass('fa-pencil-square-o').addClass('fa-pencil-square');
            var p = $(this).parent().parent();
            p.find(".col01 input").attr("disabled", false);
            p.find(".col01 input").css("border", "1px solid #ccc");
            p.find(".col02 input").attr("disabled", false);
            p.find(".col02 input").css("border", "1px solid #ccc");

        });
        $(document).on("click", 'li.col03 > i.fa-pencil-square', function () {
            $(this).removeClass('fa-pencil-square').addClass('fa-pencil-square-o');
            var p = $(this).parent().parent();
            p.find(".col01 input").attr("disabled", true);
            p.find(".col01 input").css("border", "none");
            p.find(".col02 input").attr("disabled", true);
            p.find(".col02 input").css("border", "none");
        });

        var reset = function () {
            // 下载按钮隐藏
            $('.title button').hide();
            $('#paraseContent').val('');
            $('#editable-select').val('');
            $('#textMatchResult').val('');
            $('.parse_rule_table').html('<ul class="table_th clearfix"><li class="col01">字段名</li><li class="col02">匹配规则</li><li class="col03">删除</li></ul><ul class="table_insert clearfix"><li style="width: 100%;"><i class="fa fa-plus-square-o" aria-hidden="true"></i></li></ul>');

        };

        $(document).on("click", 'ul.table_insert.clearfix > li > i', function () {
            var p = $(this).parent().parent();
            console.log('p3=', p);
            p.before("<ul class=\"table_td clearfix\"><li class=\"col01\"><input value=\"\"></li><li class=\"col02\"><input value=\"\"></li><li class=\"col03\"><i class=\"fa fa-pencil-square\" aria-hidden=\"true\"></i><i class=\"fa fa-minus-square-o\" aria-hidden=\"true\"></i></li></ul>");
        });

        $(document).on("click", 'li.col03 > i.fa.fa-minus-square-o', function () {
            var p = $(this).parent().parent();
            console.log('pdelete=', p);
            p.remove();
        });

        var testCase = function () {
            reset();
            $('#paraseContent').val('<!DOCTYPE html>\n' +
                ' <html lang="en">\n' +
                ' <head>\n' +
                '     <meta charset="UTF-8">\n' +
                '     <title>testTitle</title>\n' +
                ' </head>\n' +
                ' <body>\n' +
                '    <div>\n' +
                '    <ul>\n' +
                '         <li class="item-0"><a href="link1.html">first item</a></li>\n' +
                '         <li class="item-1"><a href="link2.html">second item</a></li>\n' +
                '         <li class="item-inactive"><a href="link3.html">third item</a></li>\n' +
                '         <li class="item-1"><a href="link4.html">fourth item</a></li>\n' +
                '         <li class="item-0"><a href="link5.html">fifth item</a>\n' +
                '     </ul>\n' +
                ' </div>\n' +
                ' </body>\n' +
                ' </html>');
            $('#editable-select').val('XPATH');
            $('.table_insert').before('<ul class="table_td clearfix"><li class="col01"><input value="link" style="border: none;" disabled="disabled"></li><li class="col02"><input value="//a/@href" style="border: none;" disabled="disabled"></li><li class="col03"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><i class="fa fa-minus-square-o" aria-hidden="true"></i></li></ul>');
            $('.table_insert').before('<ul class="table_td clearfix"><li class="col01"><input value="name" style="border: none;" disabled="disabled"></li><li class="col02"><input value="//li/a/text()" style="border: none;" disabled="disabled"></li><li class="col03"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><i class="fa fa-minus-square-o" aria-hidden="true"></i></li></ul>');
            $('.table_insert').before('<ul class="table_td clearfix"><li class="col01"><input value="className" style="border: none;" disabled="disabled"></li><li class="col02"><input value="//li/@class" style="border: none;" disabled="disabled"></li><li class="col03"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><i class="fa fa-minus-square-o" aria-hidden="true"></i></li></ul>');
        };
        var uploadData = "";
        var uploadInfo = function () {
            var tds = $('.parse_rule_table').find('.table_td');
            var parseRule = {}
            tds.each(function () {
                var k = $(this).find('.col01 > input').val();
                var v = $(this).find('.col02 > input').val();
                parseRule[k] = v;
            });
            console.log('parseRule', parseRule)
            params = {
                'html': $('#paraseContent').val(),
                'parseType': $('#editable-select').val(),
                'parseRule': JSON.stringify(parseRule)
            }
            if (params['parseType'] == '正则表达式')
                params['parseType'] = 'RE'
            url = "/diySpider/dealHTML/";
            $.post(url, params, function (data, status) {
                console.log('feedback', data);
                console.log('status=', status);
                if (data.code == '200') {
                    var showData = ""
                    uploadData = data.resData
                    // let 为局域变量
                    for (let i = 0; i < data.resData.length; i++) {
                        showData += data.resData[i].join("\t") + '\n'
                    }
                    $('#textMatchResult').val(showData);
                    // 下载按钮隐藏
                    $('.title button').show();
                }
            });
            console.log('params', params);
        }

        function tableToCSV() {
            //要导出的json数据
            if (uploadData == "") {
                alert('请先提交获取解析结果');
                return false;
            }
            console.log('uploadData', uploadData);
            //列标题，逗号隔开，每一个逗号就是隔开一个单元格
            var str = ""
            //增加\t为了不让表格显示科学计数法或者其他格式
            for (let i = 0; i < uploadData.length; i++) {
                for (let j = 0; j < uploadData[i].length; j++) {
                    str += `${uploadData[i][j] + '\t'},`;
                }
                str += '\n';
            }
            //encodeURIComponent解决中文乱码
            let uri = 'data:text/csv;charset=utf-8,\ufeff' + encodeURIComponent(str);
            //通过创建a标签实现
            let link = document.createElement("a");
            link.href = uri;
            //对下载的文件命名
            link.download = "json数据表.csv";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }

    </script>
{% endblock %}